.heading-email {
  color: white;
  font-weight: bold;
  font-size: 25px;
  line-height: 20px;
  text-decoration: none;

  @media (max-width: 1250px) {
    font-size: 20px;
    &__icon {
      width: 35px;
      height: 35px;
    }
  }
}
