@import "components/theme/theme-button/styles/colors";

.base-slider-with-cut-buttons {
  position: relative;
  overflow: hidden;

  &__prev, &__next {
    @extend %green;
    position: absolute;
    top: 50%;
    top: calc(50% - 40px);
    z-index: 1;
    width: 50px;
    height: 85px;
    border: 0;
    cursor: pointer;
  }

  &__prev {
    left: 0;
    padding-right: 30px;
    padding-left: 10px;
    border-radius: 0 100px 100px 0;
  }

  &__next {
    right: 0;
    padding-right: 10px;
    padding-left: 30px;
    border-radius: 100px 0 0 100px;
  }
}

@media screen and (max-width: 799px) {
  .base-slider-with-cut-buttons {
    &__prev, &__next {
      top: calc(50% - 34px);
      width: 40px;
      height: 68px;
    }

    &__prev {
      padding-right: 20px;
      padding-left: 10px;
    }

    &__next {
      padding-right: 10px;
      padding-left: 20px;
    }
  }
}
