.black-friday-product-sizes {
  &__title {
    font-weight: 500;
    font-size: 35px;
    text-align: center;
  }

  &__table {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: [size] 7fr [new-price] 8fr [old-price] 8fr;
    margin-top: 11px;
    color: #fff;
    background-size: 80% 100%;
    border-radius: 16px;
    border-collapse: collapse;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.06);

    &:after {
      position: absolute;
      top: -5px;
      right: 0;
      bottom: -5px;
      left: 0;
      grid-row: 1 / 50;
      grid-column: new-price;
      background: #FFD600;
      border-radius: 8px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.11);
      content: "";
    }
  }

  &__sale {
    color: red;
  }

  &__cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 25px;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    border-top: 1px solid #E6E6E6;

    &_is-heading {
      padding: 12px 25px;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      border-top: 0;
    }

    &_type {
      &_size {
        grid-column: size;
        color: #212121;
        font-weight: normal;
        background: #fff;
      }

      &_new-price {
        position: relative;
        z-index: 2;
        grid-column: new-price;
        color: #040404;
        border-color: #E3BF00;

        //background: #454545;
      }

      &_old-price {
        position: relative;
        grid-column: old-price;
        background-color: #fff;
      }
    }
  }

  &__old-price {
    color: #737373;
    font-weight: normal;
    font-size: 13px;
    text-decoration: line-through;
  }

  &__same-size {
    margin-top: 10px;
    font-size: 24px;
  }

  @media screen and (max-width: 600px) {
    &__table {
      //grid-template-columns: [size] 7fr [old-price] 8fr [new-price] 8fr;
    }
    &__cell {
      padding: 10px 5px;
      font-size: 14px;

      &_is-heading {
        font-size: 16px;
      }
    }
    &__same-size {
      font-size: 18px;
    }
  }
}
