.mobile-grass-content {
  &__heading {
    padding: 13px 0 50px;
    background-position: bottom;
    background-size: cover;
  }

  &__heading-top {
    //
  }

  &__heading-bottom {
    margin-top: 25px;
  }

  &__products {
    margin-top: 20px;
  }

  &__services {
    margin-top: 35px;
    margin-bottom: 50px;
  }

  &__pallet {
    margin-top: -20px;
  }

  &__video {
    margin-top: 20px;
  }

  &__objects {
    margin-top: 30px;
  }

  &__slider.mobile-grass-content__slider {
    margin-top: 20px;
  }
}
