.modal-callback {
  text-align: center;

  &__heading {
    padding-right: 30px;
    padding-left: 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
  }

  &__leading-line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 22px;
    padding-right: 30px;
    padding-left: 30px;
  }

  &__manager-photo {
    margin-right: 13px;
    border-radius: 50%;
  }

  &__success {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 445px;
    margin-top: 40px;
    padding: 30px 26px;
    background: #f4f4f4;
    border-radius: 8px;
  }

  &__success-text {
    margin-left: 22px;
    color: #1d1d1d;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-align: left;
  }

  &__success-icon {
    flex-shrink: 0;
  }

  &__leading {
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: -0.03em;
    text-align: left;
  }

  &__phone-wrapper {
    max-width: 400px;
    margin: 30px auto 0;
  }

  &__policy {
    margin-top: 10px;
    font-size: 13px;
  }

  &__button-wrapper {
    margin-top: 30px;
  }

  &__error-message {
    margin-top: 20px;
    padding: 10px;
  }


  @media (max-width: 700px) {
    &__heading {
      font-size: 28px;
    }
    &__leading-line {
      margin-top: 12px;
    }
    &__leading {
      font-size: 13px;
    }
    &__manager-photo {
      width: 44px;
      height: 44px;
    }
    &__phone-wrapper {
      margin-top: 15px;
    }
    &__button-wrapper {
      margin-top: 16px;
    }
  }
}
