.main-form {
  &__field {
    margin-top: 25px;
    padding: 30px;
    font-size: 16px;

    input {
      text-align: center;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__policy {
    display: block;
    margin-top: 10px;
    font-size: 13px;
  }

  &__button {
    margin-top: 25px;
  }
  @media screen and (max-width: 800px) {
    &__field {
      margin-top: 15px;
      padding: 15px;
    }
  }
}
