.product-info {
  display: flex;
  align-items: flex-start;

  &__right {
    flex: 1;
    margin-left: 2.6%;
  }

  &__same-size {
    margin-top: 20px;
    color: #62AB5C;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
  }

  &__button {
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
  }

  &__varieties {
    margin-top: 15px;
  }

  @media (max-width: 1100px) {
    &__right {
      margin-left: 20px;
    }
  }
}
