.checkout-summary {
  text-align: center;

  &__total {
    color: #111111;
    font-size: 26px;
    line-height: 27px;
    letter-spacing: -0.03em;
  }

  &__total-value {
    margin-left: 7px;
    font-weight: bold;
  }

  &__total-comment {
    margin-top: 6px;
    color: #888888;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.05em;
    text-align: center;
  }

  &__button {
    display: block;
    width: 70%;
    margin: 20px auto 0;
    padding: 12px 60px;
    text-align: center;
  }

  &__button-text {
    display: block;
    font-weight: bold;
    font-size: 26px;
    line-height: 1;
    letter-spacing: -0.03em;
  }

  &__button-sum {
    font-size: 14px;
    line-height: 27px;
    letter-spacing: -0.03em;
  }

  &__policy {
    margin-top: 20px;
    color: #979797;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: -0.05em;
    text-align: center;
  }

  @media screen and (max-width: 799px) {
    &__button {
      width: 90%;
      padding: 6px 60px;
    }

    &__policy {
      margin-top: 10px;
    }
  }
}
