.block-video {
  max-width: 1400px;
  margin: 40px auto;
  padding: 0 15px;

  &__heading {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    font-weight: 900;
    font-size: 55px;
    text-align: center;
    text-transform: uppercase;
    border: dashed 2px #ccc;
  }

  &__video {
    max-width: 1280px;
    margin: 0 auto;
    border-radius: 20px;
  }

  @media screen and (max-width: 800px) {
    margin-top: 20px;
    margin-bottom: 20px;
    &__heading {
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 10px;
      font-size: 24px;
    }
  }
}
