.products-grid-item-base {
  position: relative;
  display: flex;
  overflow: hidden;
  text-decoration: none;
  background: #F5F5F5;
  border-radius: 15px;

  &__name {
    position: absolute;
    bottom: 15px;
    left: 11px;
    color: black;
  }

  &__arrow {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    height: 2.5em;
    background: #9BCB35;
    border-radius: 1.5em 0 0;
  }

  &__arrow-icon {
    width: 1.25em;
    color: white;
    svg {
      width: 100%;
    }
  }

  &:hover {
    box-shadow: 0 0 1em #aaa;
  }
}
