.desktop-block-heading-one-line {
  display: flex;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 26px 15px;

  &__logo {
    color: #59922D;
  }

  &__slogan {
    margin-left: 17px;
    color: #262626;
    font-size: 19px;
    line-height: 1.3;
    white-space: pre;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__phone {
    display: flex;
    align-items: center;
    color: black;
    font-weight: 800;
    font-size: 27px;
    line-height: 32px;
    letter-spacing: -0.05em;
    text-align: center;
    text-decoration: none;
  }

  &__phone-icon {
    margin-right: 17px;
  }

  &__callback {
    margin-top: 4px;
  }

  &__items {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 0 10px;
  }

  &__item {
    display: flex;
    align-items: center;
    margin: 0 17px;
  }

  &__item-text {
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.05em;
  }

  &__item-image {
    margin-right: 12px;
  }

  @media screen and (max-width: 1400px) {
    &__slogan {
      font-size: 17px;
    }
    &__item-text {
      font-size: 15px;
    }
    &__item-image {
      max-width: 70px;
    }
    &__phone {
      font-size: 25px;
    }
  }
  @media screen and (max-width: 1200px) {
    &__slogan {
      margin-left: 10px;
      font-size: 15px;
    }
    &__phone {
      font-size: 24px;
    }
    &__phone-icon {
      display: none;
    }
  }
  @media screen and (max-width: 1200px) {
    &__slogan {
      display: none;
    }
  }
}
