.full-video {
  position: fixed;
  bottom: 100px;
  left: 10px;
  z-index: 32;
  display: none;

  &_visible {
    display: flex;
    animation: video-slide-in 1s 1;
  }

  &__wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    border: 4px solid #9BCB35;
    border-radius: 10px;
  }

  &__content {
    width: 100%;
    height: 100%;
  }

  &__close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    background: none;
    border: none;
  }

  &__close-button-icon {
    color: white;
  }

  &__callback-button-wrapper {
    position: absolute;
    bottom: 75px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  @media (max-width: 767px) {
    top: 0;
    bottom: calc(env(safe-area-inset-bottom) + 60px);
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    &__wrapper {
      max-width: 90vw;
      height: 75vh;
    }
  }
}

@keyframes video-slide-in {
  0% {
    transform: translate(0, 50px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
