.black-friday-product {
  &__title {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 35px;
    text-align: center;
  }

  &__main {
    display: grid;
    grid-template-columns: 315px 1fr;
    overflow: hidden;
    border-radius: 24px 0 0 24px;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }

  &__image {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .05);
  }

  &__info {
    overflow: hidden;
    background: #fff;
    border: 1px solid #D1D1D1;
    border-left: none;
    border-radius: 0 24px 24px 0;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .05);
  }

  &__sizes {
    margin-top: 20px;
  }

  &__mobile-images {
    display: none;
  }

  &__variants-button-wrapper {
    margin: 20px 15px 0;
  }

  &__first-arrow {
    animation-name: firstarrow;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

  }

  &__second-arrow {
    opacity: 0;
    animation-name: secondarrow;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  &__variants-button {
    display: flex;
    align-items: center;
    margin: 0 auto 0;
    padding: 5px 20px;
    color: #0f8b2d;
    font-weight: bolder;
    font-size: 18px;
    background: white;
    border: dashed 3px;
    border-radius: 50px;
    appearance: none;

    &:hover {
      color: #074015;
      background: #f4fff7;
    }
  }

  &__green-miracle-button {
    padding: 21px 55px;
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
    letter-spacing: -0.03em;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(180deg, #BEF841 0%, #9CD422 100%);
    border: none;
    border-radius: 114px;
    box-shadow: 0 20px 55px rgba(156, 212, 34, 0.68), inset 0 2px 5px rgba(223, 255, 152, 0.75);

    &:hover {
      color: #074015;
      background: #f4fff7;
      box-shadow: none;
    }
  }

  @media (max-width: 1080px) {
    &__main {
      grid-template-columns: 400px 1fr;
    }
  }

  @media (max-width: 700px) {
    &__main {
      grid-template-columns: 315px 1fr;
    }
  }

  @media screen and (max-width: 600px) {
    &__main {
      display: block;
      max-width: 315px;
      margin: 0 auto;
      border-radius: 24px;
    }

    &__image {
      width: auto;
      box-shadow: none;
    }

    &__info {
      width: auto;
      border-left: 1px solid #D1D1D1;
      border-radius: 0 0 24px 24px;
    }

    &__mobile-images {
      visibility: visible;
    }

    &__desktop-images {
      display: none;
    }
  }
}


@keyframes firstarrow {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes secondarrow {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }
}
