.desktop-grass-objects {
  padding: 10px 0;

  &__heading {
    color: #262626;
    font-weight: bold;
    font-size: 42px;
    line-height: 52px;
    letter-spacing: -0.04em;
    text-align: center;
  }

  &__inner {
    display: flex;
    max-width: 1000px;
    margin: 40px auto 0;
  }

  &__items {
    display: flex;
    flex: 300px 0 1;
    flex-direction: column;
    margin-right: 35px;
    overflow: hidden;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
  }


  &__button-number {
    color: #cccccc;
  }

  &__button-name {
    flex: 1;
    margin-left: 18px;
    color: #000000;
    text-transform: uppercase;
  }

  &__button-icon {
    color: #9BCB35;
  }

  &__button {
    display: flex;
    flex: 1;
    align-items: center;
    width: 100%;
    padding: 20px 20px 20px 21px;
    font-size: 17px;
    line-height: 14px;
    letter-spacing: -0.05em;
    text-align: left;
    background: #FFF;
    border: 0;
    border-top: 1px solid #E5E5E5;
    cursor: pointer;


    &:first-child {
      border: 0;
    }

    &_active {
      background: #9BCB35;

      .desktop-grass-objects__button-name {
        font-weight: bold;
      }

      .desktop-grass-objects__button-icon, .desktop-grass-objects__button-name, .desktop-grass-objects__button-number {
        color: white;
      }
    }
  }

  &__slider {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  &__slider-item {
    //
  }

  &__image {
    max-width: 100%;
  }

}
