.mobile-client-logos {
  padding: 0 10px;

  &__heading {
    color: #111111;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: -0.03em;
    text-align: center;
  }

  &__buttons {
    display: flex;
    margin-top: 25px;
  }

  &__button {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 10px;
    font-weight: 500;

    &:first-child {
      margin-left: 0;
    }
  }

  &__button-text {
    margin-left: 5px;
    text-align: left;
  }

  &__items {
    margin-top: 20px;
  }
}
