.mobile-vacancy-video {
  padding: 0 20px;

  &__top-heading-text {
    display: inline-block;
    padding: 8px 13px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: #92B940;
    border-radius: 4px;
  }

  &__heading {
    margin-top: 13px;
    color: #111111;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -0.05em;

    b {
      color: #92B940;
    }
  }

  &__leading {
    max-width: 50%;
    margin-top: 75px;
    color: #616161;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  &__image-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 70px;
  }

  &__image-text-line {
    margin-top: -8px;
    padding: 4px 8px;
    color: #262626;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    background: #FFFFFF;
    border-radius: 5px;

    span {
      position: relative;
    }

    b {
      color: #92B940;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__video-button-wrapper {
    position: absolute;
    right: 10%;
    padding: 40px;

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url('../resources/video-button-border.svg') no-repeat center center/ contain;
      animation: scale-animation 1s infinite alternate ease-in-out;
      content: '';
    }
  }

  &__video-button {
    position: relative;
  }
}

@keyframes scale-animation {
  from {
    transform: scale(0.3)
  }

  to {
    transform: scale(1.2)
  }
}
