.block-charitable-foundation {
  &__heading {
    color: #111;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: -0.05em;
    text-align: center;
  }

  &__content {
    display: flex;
    max-width: 960px;
    margin: 38px auto 0;
    padding: 0 20px;
  }

  &__certificate {
    flex-shrink: 0;
    align-self: flex-start;
    margin-right: 66px;
    border: solid 4px #9DC510;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__text {
    font-size: 18px;
    line-height: 1.3;

    p {
      margin-top: 1.3em;
      margin-bottom: 0;
      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__total {
    margin-top: auto;
  }

  &__total-label {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  &__total-text {
    margin-top: 12px;
    color: #9DC510;
  }

  &__total-value {
    font-weight: bold;
    font-size: 50px;
    line-height: 1;
    letter-spacing: -0.05em;
  }

  &__total-currency {
    margin-left: 10px;
    font-weight: 400;
    font-size: 29px;
  }

  &__cert-link {
    margin-top: 8px;
    padding: 5px;
    color: #77960C;
    text-decoration: underline;
    background: none;
    border: 0;
  }

  @media screen and (max-width: 800px) {
    &__heading {
      font-size: 26px;
    }
    &__content {
      flex-direction: column-reverse;
      margin-top: 17px;
    }
    &__certificate {
      align-self: center;
      margin-top: 20px;
      margin-right: 0;
    }
    &__text {
      font-size: 15px;
      line-height: 1.6;
    }
    &__total {
      margin-top: 26px;
      padding: 16px;
      color: white;
      text-align: center;
      background: linear-gradient(229.09deg, #9BCB35 16.41%, #62AB5C 131.1%), #9DC510;
      border-radius: 15px;
    }

    &__total-label {
      font-size: 15px;
    }

    &__total-text {
      margin-top: 3px;
      color: inherit;
    }

    &__total-value {
      font-size: 36px;
    }

    &__total-currency {
      font-size: 18px;
    }
  }
}
