.sale-fir-banner {
  display: flex;
  color: #000000;

  &__banner {
    margin-left: 5px;
  }

  &__heading {
    font-weight: 900;
    font-size: 37px;
    line-height: 28px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }

  &__leading {
    margin-top: 17px;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.06em;
  }
}
