.modal-youtube {
  position: relative;
  padding-bottom: 60%;


  &__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__button {
    position: absolute;
    top: -18px;
    right: 0;
    z-index: 10;
    background: #fff;
    border: 0;
    border-radius: 50%;
  }
}
