.modal-headings {
  &__heading {
    color: #111111;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.03em;
  }

  &__leading {
    margin-top: 5px;
    color: #111111;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.03em;
  }

  @media screen and (max-width: 799px) {
    &__heading {
      font-size: 23px;
      line-height: 28px;
    }
    &__leading {
      font-size: 17px;
      line-height: 23px;
    }
  }
}
