.mobile-catalog-wholesaler {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 800;
  font-size: 40px;
  line-height: 22px;
  background: linear-gradient(180deg, #EE3922 0%, #C71A18 100%);
  background: repeating-conic-gradient(from -5deg, #d43939 0deg 10deg, #d1292a 10deg 15deg);
  border-radius: 15px;

  &__heading {
    padding-top: 57px;
    font-weight: 800;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.03em;
  }
}
