.mobile-block-main-client {
  &__heading, &__leading {
    margin-left: 40px;
    color: #333333;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.04em;
  }

  &__heading {
    font-weight: bold;
  }

  &__image {
    max-width: 100%;
    height: auto;
    margin-top: 8px;
  }

  &__quote-block {
    position: relative;
    margin-top: -15px;
    border-radius: 15px;
  }

  &__video {
    margin: 0 13px;
    border-radius: 15px;
  }

  &__video-text {
    position: absolute;
    top: calc(50% + 30px);
    left: calc(50% + 40px);
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.04em;
  }

  &__video-text-line {
    margin-bottom: 3px;
    line-height: 1;
    border-bottom: dashed 1px #ffffff;
  }
}
