.modal-with-tree {
  &__header {
    position: relative;
    padding-top: 31%;
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: bottom;
    clip-path: url('#modal-callback-mask');
  }


  &__tree {
    position: absolute;
    right: -20px;
    bottom: 0;
    max-width: 75%;
  }

  &__content {
    position: relative;
    padding: 50px 45px 60px;
    background: white;
    border-radius: 0 0 10px 10px;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__mask-svg {
    display: block;
  }

  @media (max-width: 700px) {
    &__content {
      padding: 10px 20px;
    }
    &__tree {
      right: 0;
    }
  }
}
