.mobile-block-slider {
  margin: 40px 0;

  &__heading {
    padding: 0 10px;
    color: #262626;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.04em;
    text-align: center;
  }

  &__slider {
    margin-top: 20px;
    overflow: visible;
  }

  &__image {
    width: 100%;
    height: 320px;
    object-fit: cover;
  }

  &__badge {
    position: relative;
    z-index: 2;
    margin: -100px auto 0;
  }
}
