.mobile-button-line {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 11px env(safe-area-inset-bottom) 11px;
  background-color: white;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 1px 20px -6px #000000;

  &__button {
    display: flex;
    padding: 13px 0 5px 0;
    text-decoration: none;
    background-color: white;
    border: none;
  }
}
