.base-loading-button {
  position: relative;
  overflow: hidden;
  &__ellipsis {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0.4);
  }
}
