.desktop-modal-sales {
  padding: 20px;

  &__headings {
    margin-bottom: 15px;
    text-align: center;
  }

  &__form-heading {
    margin-top: 25px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
  }

  &__image {
    height: 476px;
    max-height: calc(0.3595 * (100vw - 55px));
  }

  &__form {
    justify-content: center;
    margin-top: 15px;
  }
}
