.mobile-block-shipping {

  &__inner {
    padding: 0 15px;
  }

  &__icon-wrapper {
    text-align: center;
  }

  &__heading {
    color: #111111;
    font-weight: 500;
    font-size: 22px;
    line-height: 14px;
    letter-spacing: -0.03em;
    text-align: center;
  }

  &__text {
    max-width: 290px;
    margin: 15px auto 0;
    color: #444444;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: -0.05em;
    text-align: center;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    height: 215px;
    margin-top: 10px;
  }

  &__button {
    flex-basis: 50%;
    max-width: 200px;
    margin: 0 5px;
  }

  &__back {
    display: flex;
    align-items: center;
    padding: 8px 20px 8px 18px;
    color: #000000;
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: -0.03em;
    background: #fff;
    border: solid 1px #9BCB35;
    border-radius: 100px;
    box-shadow: 0 3px 40px rgba(0, 0, 0, 0.05);
  }

  &__back-icon {
    margin-right: 3px;
    color: #9BCB35;
  }
}
