.mobile-block-heading-one-line {
  padding-top: 10px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  &__email {
    color: #3d3d3d;
    font-size: 11px;
    letter-spacing: -0.05em;
    white-space: nowrap;
    text-decoration: none;
  }

  &__phone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    white-space: pre-wrap;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__phone-icon {
    margin-right: 15px;
  }
}
