.block-present {
  // mobile first
  padding: 20px 0;
  overflow: hidden;

  &__grid {
    display: grid;
    grid-template-areas: "h"
  "v"
  "p"
  "f";
    justify-items: center;
  }

  &__heading {
    grid-area: h;
    max-width: 380px;
    padding: 0 10px;
    font-weight: 800;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: -0.06em;
    text-align: center;

    b {
      color: #E03D3D;
      font-weight: inherit;
    }
  }

  &__leading {
    display: none;
    grid-area: l;
  }

  &__video {
    position: relative;
    grid-area: v;
    width: 285px;
    margin-top: 18px;
  }

  &__video-inner {
    position: relative;
    z-index: 0;
  }

  &__fertika, &__fertilizer, &__plant {
    position: absolute;
    z-index: 1;
  }

  &__fertika {
    top: -30px;
    left: -30px;
    width: 80px;
  }

  &__fertilizer {
    bottom: -30px;
    left: -80px;
    width: 152px;
  }

  &__plant {
    right: -34px;
    bottom: -30px;
  }

  &__price {
    grid-area: p;
    margin-top: 45px;
    padding: 0 30px;
  }

  &__price-image {
    max-width: 100%;
  }

  &__form {
    position: relative;
    grid-area: f;
    margin-top: 20px;
    padding: 0 15px;
  }

  &__policy {
    margin-top: 15px;
    color: rgba(17, 17, 17, 0.7);
    font-size: 11px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-align: center;
  }

  &__fir {
    position: absolute;
    top: -15px;
    right: -20px;
    width: 80px;
  }

  &__form-button {
    padding-right: 20px;
  }

  @media screen and (min-width: 1000px) {
    max-width: 1320px;
    margin: 0 auto;
    padding: 60px 0;
    overflow: visible;
    &__grid {
      grid-column-gap: 50px;
      grid-template-areas: "v h"
  "v l"
  "v p"
  "v f";
      grid-template-rows: auto auto auto 1fr;
      grid-template-columns: minmax(400px, 500px) minmax(500px, 1fr);
      justify-items: stretch;
      padding: 35px;
      border-radius: 11px;
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);
    }

    &__heading {
      max-width: none;
      padding-top: 38px;
      font-weight: 800;
      font-size: 40px;
      line-height: 120%;
      letter-spacing: -0.06em;
      text-align: left;
      text-transform: uppercase;
    }

    &__leading {
      display: block;
      margin-top: 7px;
      font-size: 22px;
      line-height: 34px;
      letter-spacing: -0.06em;
    }

    &__price {
      margin-top: 20px;
      padding: 0;
    }

    &__form {
      position: relative;
      margin-top: 30px;
      padding-bottom: 20px;
    }

    &__video {
      align-self: center;
      width: auto;
    }

    &__fertika {
      top: -75px;
      left: -76px;
      width: auto;
    }

    &__fertilizer {
      bottom: -92px;
      left: -34px;
      width: auto;
    }

    &__plant {
      right: -92px;
      bottom: -70px;
    }

    &__policy {
      margin-left: 40px;
      font-size: 15px;
      line-height: 100%;
      text-align: left;
    }

    &__fir {
      position: absolute;
      right: -50px;
      bottom: -30px;
      display: block;
      width: auto;
    }
  }
}
