.base-quantity {
  display: flex;
  height: 51px;

  &__minus, &__plus {
    width: 34px;
    color: white;
    border: 0;
  }

  &__minus {
    background: #CCCCCC;
    border-radius: 100px 0 0 100px;
  }

  &__plus {
    background: #9BCB35;
    border-radius: 0 100px 100px 0;
  }

  &__input {
    width: 50px;
    color: #292929;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-align: center;
    background: #F0F0F0;
    border: 0;
    &:focus {
      outline: 0;
      box-shadow: inset 0 0 1px #000;
    }
  }
}
