.block-shipping {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 15px;

  &__icon-wrapper {
    text-align: center;
  }

  &__heading {
    color: #111111;
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: -0.05em;
    text-align: center;
  }

  &__wrapper {
    display: flex;
  }

  &__table {
    margin-left: 64px;

    &:first-child {
      margin-left: 0;
    }
  }
}
