@import 'assets/keyframes/vertical-animation';

.mobile-planting-service-button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px 23px 30px;
  border: 2px solid #F5F5F5;
  border-radius: 15px;

  &__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 85px;
  }

  &__image {
    display: block;
    max-width: 100%;
  }

  &__heading {
    color: #111111;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: -0.03em;
    text-align: center;

  }

  &__leading {
    display: flex;
    align-items: center;
    font-size: 11px;
  }

  &__percent {
    font-weight: 500;
  }

  &__from-price {
    margin-left: 4px;
    font-size: 11px;
  }

  &__arrow {
    @extend %vertical-animation;
    height: 12px;
    margin-left: 10px;
  }

  &__button-line {
    display: flex;
    justify-content: center;
  }

  &__button {
    position: absolute;
    bottom: -15px;
  }

  @media screen and (max-width: 360px) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

