.base-sale-price {
  display: flex;
  flex-direction: column;
  text-align: center;

  &__label {
    color: #777777;
    font-weight: bold;
  }

  &__price {
    color: #fff;
    background: #E03232;
  }

  &__old-price {
    color: #000000;
    text-decoration: line-through;
    background: #F0F0F0;
  }

  &_size {
    &_m {
      .base-sale-price__label {
        font-size: 12px;
        line-height: 15px;
      }

      .base-sale-price__price {
        padding: 13px 23px;
        font-weight: bold;
        font-size: 20px;
        line-height: 13px;
        letter-spacing: -0.03em;
        border-radius: 4px;
      }

      .base-sale-price__old-price {
        padding: 13px 17px;
        font-size: 17px;
        line-height: 10px;
        letter-spacing: -0.03em;
        border-radius: 4px;
      }
    }
  }

  @media screen and (max-width: 799px) {
    &_size {
      &_m {
        .base-sale-price__label {
          font-size: 8px;
          line-height: 15px;
        }

        .base-sale-price__price {
          padding: 5px;
          font-size: 16px;
          line-height: 18px;
          letter-spacing: -0.03em;
          border-radius: 4px;
        }

        .base-sale-price__old-price {
          padding: 5px;
          font-size: 13px;
          line-height: 15px;
          letter-spacing: -0.03em;
          border-radius: 4px;
        }
      }
    }
  }
}
