<template>
  <div :class="c()">
    <div :class="c('title')">Посмотрите примеры наших работ</div>
    <div :class="c('slider')">
      <DesktopBlockSlider :images="images[0].props.images" />
    </div>
  </div>
</template>

<script>
import { cn } from '~/support/utils/bem-classnames'
import { DesktopBlockSlider } from '~/components/blocks/block-slider/desktop/desktop-block-slider'
import { getGallery } from '~/server-middleware/configs/galleries'

const c = cn('block-landscape-examples')
export default {
  name: 'BlockLandscapeExamples',
  components: { DesktopBlockSlider },
  data() {
    return {
      images: getGallery('eco')
    }
  },
  methods: {
    c
  }
}
</script>

<style lang="scss">
.block-landscape-examples {
  margin-top: 40px;

  &__title {
    padding: 0 20px;
    color: #000000;
    font-weight: 800;
    font-size: 48px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
  }

  @media (max-width: 768px) {
    &__title {
      font-size: 32px;
    }
  }

  @media (max-width: 425px) {
    &__title {
      font-size: 24px;
    }
  }
}
</style>
