.base-button-switcher {
  display: flex;
  overflow: hidden;
  background: #F0F0F0;
  border-radius: 10px;

  &:focus-within, &:focus, &:active {
    box-shadow: 0 0 2px #000;
  }

  &__button {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    min-width: 50%;
    padding: 15px 10px;
    color: #777777;
    font-size: 18px;
    border-left: solid 1px #ccc;

    &:first-child {
      border-left: 0;
    }

    &:hover {
      color: #3d3d3d;
    }


    &_active {
      color: white;
      background: #9BCB35;

      &:hover {
        color: white;
      }
    }
  }

  &__icon {
    width: 20px;
    margin-left: 5px;
  }

  &__input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
  }

  @media screen and (max-width: 799px) {
    &__button {
      padding: 10px;
      font-size: 13px;
    }

    &__icon {
      width: 14px;
      height: 14px;
    }
  }
}
