.desktop-grass-items {
  &__heading {
    max-width: 550px;
    color: #111111;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: -0.05em;
  }

  &__lines {
    margin-top: 40px;
  }

  &__line {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin-bottom: 80px;
  }

  &__item-separator {
    align-self: normal;
    order: 0;
    margin: 20px 0;
    border-left: 1px dashed #62AB5C;
    content: '';
  }

  &__item {
    max-width: 425px;
  }
}
