.footer-link-list {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    margin: 5px 15px;
  }

  &__link {
    color: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.04em;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @media screen and (max-width: 800px) {
    &__list {
      flex-direction: column;
      align-items: center;
    }

    &__link {
      color: #999;
      font-weight: 500;
      font-size: 16px;
      line-height: 27px;
    }
  }
}
