.modal-bark-beetle-price {
  padding: 30px 35px;

  &__heading {
    margin: 0;
    font-size: 40px;
    line-height: 1;
  }

  &__table {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;

    td, th {
      padding: 22px;
      font-size: 18px;
      border: 1px solid #C4C4C4;
    }
  }

  &__head-cell {
    background: #E5E5E5;
  }

  &__price-cell {
    font-weight: bold;
  }

  &__buttons {
    margin-top: 20px;
  }

  @media screen and (max-width: 800px) {
    padding: 15px;

    &__heading {
      font-size: 30px;
    }

    &__table {
      td, th {
        padding: 12px;
        font-size: 15px;
      }
    }
  }

}
