.base-slider-with-buttons{
  position: relative;
  overflow: hidden;

  &__button {
    display: contents;
  }

  &__prev, &__next {
    position: absolute;
    top: 50%;
    z-index: 1;
    padding: 0;
    background: none;
    border: 0;
    cursor: pointer;
  }

  &__prev {
    left: 10px;
  }

  &__next {
    right: 10px;
  }
}
