.modal-question {
  padding: 35px 20px 20px;

  &__headings {
    text-align: center;
  }

  &__form {
    margin-top: 15px;
  }

  &__field-wrapper {
    border-radius: 20px;
  }

  &__field {
    width: 100%;
    min-height: 240px;
  }

  &__button-wrapper {
    margin-top: 15px;
    text-align: center;
  }
}
