@import "assets/keyframes/vertical-animation";

.desktop-block-heading {
  padding-top: 15px;
  padding-bottom: 115px;

  &__middle-line {
    margin-top: 40px;
  }

  &__bottom-line {
    margin-top: 40px;
  }

  &__scroll-down {
    justify-content: center;
    margin-top: 30px;
    color: white;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.05em;
  }

  &__scroll-down-icon {
    @extend %vertical-animation;
    margin-bottom: 4px;
  }

  &__sale {
    position: absolute;
    z-index: 10;
    margin-top: -80px;
    transition: transform 0.3s;
  }

  &__sticky-line {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    padding-right: var(--right-offset, 0);
    transform: translateY(-100px);
    visibility: hidden;
    transition: transform 0.3s;

    &_visible {
      transform: translateY(0);
      visibility: visible;
    }
  }

  &__video {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 10;
    transition: transform 0.6s;

    &_hidden {
      transform: scale(0);
    }
  }
}

@media screen and (min-width: 1810px) {
  .desktop-block-heading {
    &__sale {
      margin-left: -200px;
    }
  }
}
