.desktop-block-tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 15px;

  &__nav {
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1399px) {
    :global(.no-webp) & {
      background: url('./resources/left.jpg') left center no-repeat, url('./resources/right.jpg') right center no-repeat;
    }
    :global(.webp) & {
      background: url('./resources/left.jpg?wepb') left center no-repeat, url('./resources/right.jpg') right center no-repeat;
    }
  }
}
