.mobile-grass-pallet {
  &__heading-line {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: -20px;
    overflow: hidden;
  }

  &__heading {
    padding-left: 28px;
    color: #000000;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.04em;
  }

  &__heading-image {
    img {
      right: -120px;
    }
  }

  &__table {
    color: #444444;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.04em;
    border: 0;
    border-spacing: 0;

    tr {
      &:nth-child(odd) {
        background: #FAFAFA;
      }
    }

    td {
      padding: 14px 18px;
    }

    small {
      font-size: 7px;
      white-space: nowrap;
    }
  }
}
