.category-page-seo {
  &__heading {
    margin: 0 0 0.5em;
    color: #000000;
    font-weight: bold;
    font-size: 43px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
  }

  &__products {
    display: grid;
    grid-gap: 25px 20px;
    grid-template-columns: repeat(auto-fill, 260px);
    justify-content: center;
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    font-weight: 600;
    font-size: 16px;
  }

  &__description {
    max-width: 1000px;
    margin: 20px auto 0;
    padding: 0 20px;
  }

  @media screen and(max-width: 799px) {

    &__products {
      grid-auto-rows: 140px;
      grid-template-columns: minmax(130px, 150px) repeat(auto-fill, minmax(130px, 150px));
      font-size: 12px;
    }
  }
}
