.desktop-grass-item-content {
  max-width: 1100px;
  margin: 10px auto;

  &__heading-line {
    display: flex;
    align-items: center;
  }

  &__heading {
    min-width: 450px;
    color: #262626;
    font-weight: bold;
    font-size: 34px;
    line-height: 50px;
    letter-spacing: -0.04em;
  }

  &__buttons {
    display: flex;
  }

  &__button {
    margin-right: 10px;
  }

  &__image-line {
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
  }

  &__right {
    margin-left: 55px;
  }

  &__usages {
    //
  }

  &__attributes {
    margin-top: 30px;
  }

  &__sale {
    position: relative;
    display: flex;
    margin-top: 30px;
    padding: 40px 40px 20px;
    background: #FFFFFF;
    border-radius: 11px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.04);
  }

  &__sale-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
  }

  &__sale-right {
    flex: 1;
    margin-left: 40px;
  }

  &__sale-price {
    position: absolute;
    left: -20px;
  }

  &__sale-until {
    margin-top: 20px;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: -0.04em;

    b {
      color: #E03232;
      font-weight: bold;
    }
  }
}
