.heading-callback {
  padding: 13px 20px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 50px;
  cursor: pointer;
}
