.mobile-sale-content {
  padding: 15px;

  &__image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10px auto 0;

    &:first-child {
      margin-top: 0;
    }
  }

  &__go-back {
    position: fixed;
    top: 8px
  }

  &__buttons {
    position: sticky;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: -70px;
  }

  &__button {


    &_type {
      &_left {
        left: 10px;
      }

      &_right {
        right: 10px;
      }
    }
  }

  &__form {
    margin-top: 20px;
    margin-bottom: 75px;
  }

  &__form-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
    margin: 0 80px;
    font-weight: 500;
    text-align: center;
  }
}
