.mobile-sale-form-line {
  display: flex;
  flex-direction: column;

  &__phone {
    flex-grow: 1;
  }

  &__button {
    flex-grow: 1;
    margin-top: 20px;
    background: linear-gradient(180deg, #EE3922 0%, #C71A18 100%);
    box-shadow: 0 17.8723px 48.4043px rgba(255, 29, 29, 0.3), inset 0 2.23404px 4.46809px rgba(246, 127, 112, 0.66);
  }

  @media screen and (max-width: 350px) {
    &__button {
      padding-right: 2%;
      padding-left: 2%;
    }
  }
}
