.base-video-block {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;

  &__video {
    display: block;
    width: 100%;
    //max-height: 100%;
    margin: 0 auto;
    cursor: pointer;
  }

  &__poster {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &__fullscreen {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 3;
    padding: 10px;
    color: white;
    background: none;
    border: 0;
  }
}
