.mobile-heading-top-line {

  &__search {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  &__search-background {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.31);
  }

  &__line {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-right: 17px;
    padding-left: 11px;
  }

  &__item {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    max-width: 55px;
  }

  &__button {
    align-self: center;
  }

  &__email {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    white-space: pre-wrap;
    text-decoration: none;
    text-shadow: 0 0 2px #000;
  }

  &__email-icon {
    margin-right: 15px;
  }

  &__phone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    white-space: pre-wrap;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0 0 2px #000;
  }

  &__phone-icon {
    margin-right: 15px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__callback.mobile-heading-top-line__callback {
    border-style: solid;
  }

  &__delivery-item {
    text-decoration: none;
  }
}
