.product-images-gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__button {
    margin-bottom: 16px;
    padding: 0;
    overflow: hidden;
    background: none;
    border: 0;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 157px;
    object-fit: cover;
    background: #eee;
  }
}
