.mobile-heading-top-line-item {
  padding: 4px 0 0 0;
  color: white;
  text-align: center;
  text-decoration: none;
  background: none;
  border: 0;
  cursor: pointer;

  &__icon {
    svg {
      margin: 0 auto;
      object-fit: cover;
    }
  }

  &__text {
    display: block;
    margin-top: 6px;
    font-size: 9px;
  }
}
