.block-video-about {

  &_hide {
    display: none;
  }

  &__button {
    position: relative;
    width: 128px;
    height: 128px;
    padding: 0;
    overflow: hidden;
    border: 3px solid #9BCB35;
    border-radius: 50%;
  }

  &__tint {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    text-align: center;
  }

  &__video-small {
    width: 100%;
    height: 100%;
  }

  &__close-button {
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 1;
    padding: 10px;
    color: #808080;
    background: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 2px;
  }

  @media (max-width: 767px) {
    &__button {
      width: 90px;
      height: 90px;
    }

    &__text {
      font-size: 11px;
    }

    &__close-button {
      top: -18px;
      right: auto;
      left: -18px;
    }
  }
}
