.mobile-grass-item-content {
  padding-top: 15px;

  &__heading {
    margin-top: 20px;
    color: #111111;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-align: center;
  }

  &__usages {
    margin: 20px 10px 0;
  }

  &__attributes {
    margin-top: 20px;
  }

  &__sale {
    margin-top: 20px;
    padding: 20px 0 10px;
    background: #FFFFFF;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 0 30px #eaeaea;
  }

  &__sale-image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 10px;
    padding-left: 55%;
    background-repeat: no-repeat;
    background-position: calc(55% - 120px) bottom;
    background-size: auto 127px;
  }

  &__sale-until {
    margin-top: 8px;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.03em;

    b {
      color: #E03232;
      font-weight: bold;
    }
  }

  &__sale-form {
    margin-top: 30px;
    padding: 0 10px;
  }

  &__sale-price-label.mobile-grass-item-content__sale-price-label.mobile-grass-item-content__sale-price-label {
    font-size: 10px;
  }

  &__sale-price-value.mobile-grass-item-content__sale-price-value.mobile-grass-item-content__sale-price-value {
    padding: 8px 10px;
    font-size: 19px;
  }

  &__sale-price-old-value.mobile-grass-item-content__sale-price-old-value.mobile-grass-item-content__sale-price-old-value {
    padding: 5px 10px;
    font-size: 14px;
  }
}
