.base-back-button {
  display: flex;
  align-items: center;
  padding: 8px 20px 8px 18px;
  color: #000000;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.03em;
  background: #fff;
  border: solid 1px #9BCB35;
  border-radius: 100px;
  box-shadow: 0 3px 40px rgba(0, 0, 0, 0.05);

  &__icon {
    margin-right: 3px;
    color: #9BCB35;
  }
}
