.base-menu-button {
  position: relative;
  display: flex;
  justify-content: center;
  width: 56px;
  margin-top: 38px;
  padding: 0;
  text-decoration: none;
  background-color: white;
  border: none;

  &__icon-wrapper {
    position: absolute;
    top: -55px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    background-color: #7CBA4B;
    border: solid 3px white;
    border-radius: 50%;
  }

  &__burger {
    display: block;
    padding: 0;
    text-align: left;
    background: none;
    border: 0;

    --width: 22px;
    --offset: 7px;
    --negative-offset: calc(var(--offset) * -1);
    --thickness: 2px;
    --thicknessHalf: calc(var(--thickness) / 2);

    &_active {
      .base-menu-button__burger-inner {
        &::before {
          transform: translate3d(0, var(--offset), 0) rotate(-45deg) scaleX(0.7);
        }

        &::after {
          transform: translate3d(0, var(--negative-offset), 0) rotate(45deg) scaleX(0.7);
        }
      }
    }
  }

  &__burger-box {
    position: relative;
    display: inline-block;
    width: var(--width);
    height: calc(var(--offset) * 2 + var(--thickness));
  }

  &__burger-inner {
    top: 50%;
    display: block;
    margin-top: var(--thicknessHalf);

    &::after,
    &::before {
      display: block;
      content: '';
    }

    &,
    &::after,
    &::before {
      position: absolute;
      width: var(--width);
      height: var(--thickness);
      background-color: white;
      border-radius: var(--thickness);
      transform-origin: var(--thicknessHalf) var(--thicknessHalf);
      transition-timing-function: ease;
      transition-duration: 0.15s;
      transition-property: transform;
    }

    &::before {
      top: var(--negative-offset);
    }

    &::after {
      bottom: var(--negative-offset);
    }
  }

  &__button-text {
    color: #070707;
    font-size: 10px;
  }
}

