.block-main-client {
  position: relative;
  padding-top: 10px;
  background: no-repeat;
  background-size: cover;

  &__heading {
    font-weight: bold;
    font-size: 42px;
    line-height: 42px;
  }

  &__leading {
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    max-width: 1230px;
    margin: 0 auto;
  }

  &__image {
    position: relative;
    z-index: 8;
    max-width: 100%;
    margin-top: -50px;
    margin-right: -120px;
    pointer-events: none;
  }

  &__quote-block {
    flex-basis: 720px;
    margin-top: 110px;
  }

  &__video {
    width: 100%;
    max-width: 720px;
    height: 100%;
    border-radius: 15px 15px 0 0;
  }
}
