@import "components/theme/theme-button/styles/_colors.scss";

.mobile-block-product {
  position: relative;
  padding-bottom: 90px;

  &__name {
    margin-top: 16px;
  }

  &__phone {
    max-width: 250px;
    margin: 20px auto 0 auto;
  }

  &__images {
    margin-top: 20px;
  }

  &__same-size {
    margin-top: 15px;
    color: #62AB5C;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
  }

  &__top-cart-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    text-align: center;
  }

  &__prices-container {
    margin-top: 16px;
    overflow-x: auto;
  }

  &__prices {
    width: fit-content;
    min-width: 100%;
    //margin-top: 16px;
    //.mobile-block-product__top-cart-wrapper + & {
    //  margin-top: 0;
    //}
  }

  &__cart-wrapper {
    margin-top: 10px;
    text-align: center;
  }

  &__cart {
    padding: 10px 20px;
  }

  &__description-button {
    margin-right: 10px;
    padding: 10px 20px;
  }

  &__sale {
    margin-top: 20px;
  }
}
