.modal-black-friday-product {
  padding: 20px 15px;
  background: #f6f6f6;

  &__title {
    font-weight: 900;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
  }

  &__plants {
    margin-top: 40px;
  }

  &__sizes {
    margin-top: 40px;
  }

  @media screen and (max-width: 450px) {
    &__title {
      font-size: 24px;
    }
    &__plants {
      margin-top: 20px;
    }
    &__sizes {
      margin-top: 20px;
    }
  }
}
