.mobile-sale-form {
  padding-bottom: 10px;

  &__circle-buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__heading {
    color: #111111;
    font-weight: bold;
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.03em;
    text-align: center;

    b {
      color: #9BCB35;
    }
  }

  &__fertilizer-line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  &__fertilizer {
    display: block;
  }

  &__plus {
    margin: 0 6px 5px 3px;
    color: #111111;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
  }

  &__fertilizer-text {
    margin-bottom: 5px;
    color: #111111;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: -0.03em;
    text-align: center;
  }

  &__form {
    margin-top: 15px;
    padding: 0 5px;
  }

  &__policy {
    margin-top: 10px;
    color: #888888;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: -0.05em;
    text-align: center;
  }

}
