.base-mobile-action-circle-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: -0.05em;
  text-align: center;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.14);
  @media screen and (max-width: 360px) {
    max-width: 25vw;
    max-height: 25vw;
  }
}
