.mobile-grass-services {
  &__heading {
    color: #262626;
    font-weight: bold;
    font-size: 26px;
    line-height: 23px;
    letter-spacing: -0.04em;
    text-align: center;
  }

  &__leading {
    margin-top: 5px;
    color: #262626;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.04em;
    text-align: center;
  }

  &__items {
    margin: 20px 30px 0;
  }

  &__item {
    margin-top: 65px;

    &:first-child {
      margin-top: 0;
    }
  }
}
