.bark-beetle-content-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__item {
    display: flex;
    margin-top: 25px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__icon {
    flex-shrink: 0;
    margin: 0 33px 0 20px;
    color: #62AB5C;
  }

  @media screen and (max-width: 799px) {
    &__item {
      margin-top: 10px;
    }
    &__icon {
      margin: 0 14px 0 5px;
    }
  }
}
