.block-carantin-video {
  max-width: 1400px;
  margin: 40px auto;
  padding: 0 15px;

  &__heading {
    max-width: 1400px;
    margin: 30px auto;
    padding: 20px;
    font-weight: 900;
    font-size: 55px;
    text-align: center;
    text-transform: uppercase;
    border: dashed 2px #ccc;
  }

  &__video {
    border-radius: 30px;
    box-shadow: 0 8px 15px #888;
    cursor: pointer;
  }

  &__video-button-text.block-carantin-video__video-button-text {
    font-size: 50px;
  }


  @media screen and (max-width: 800px) {
    margin-top: 20px;
    margin-bottom: 20px;
    &__heading {
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 10px;
      font-size: 30px;
    }
    &__video {
      border-radius: 10px;
    }
    &__video-button-text.block-carantin-video__video-button-text {
      font-size: 14px;
    }
  }
}
