.mobile-block-contacts {
  text-align: center;

  &__second-block {
    margin-top: 20px;
  }

  &__heading {
    color: #333333;
    font-weight: bold;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: -0.04em;
  }

  &__button-line {
    margin-top: 13px;
    margin-bottom: 15px;
  }

  &__item {
    margin-top: 10px;
    padding: 0 10px;
    color: #444444;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.04em;
  }

  &__phone {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
  }

  &__phone-icon {
    margin-right: 10px;
    color: #9BCB35;
  }

  &__email {
    color: inherit;
    text-decoration: none;
  }

  &__map-wrapper {
    margin-top: 20px;
  }

  &__map {
    max-width: 100%;
    height: auto;
    object-fit: none;
    border-radius: 15px;
  }

  &__tab-panel {
    position: relative;
    margin-top: -36px;
    padding: 26px 13px 14px 21px;
    background: #FFFFFF;
    box-shadow: 0 6px 30px #E9E9E9;
    border-radius: 20px;
  }

  &__tab-menu {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__tab-menu-item {
    flex-grow: 1;
  }

  &__tab-button {
    width: 100%;
    padding: 16px 10px 49px;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.4;
    text-align: center;
    color: #000000;
    background: #FFFFFF;
    box-shadow: 0 6px 30px #E9E9E9;
    border-radius: 20px;
    border: none;

    &[aria-selected="true"] {
      color: #FFFFFF;
      background: #9BCB35;
    }
  }

  &__button {
    width: 100%;
    font-size: 24px;
  }

  @media screen and (max-width: 370px) {
    &__button {
      font-size: 18px;
    }
  }
}
