.block-winter-video {
  position: relative;
  margin-top: 84px;
  margin-bottom: 80px;
  overflow: hidden;

  &__container {
    width: 100%;
    max-width: 1093px;
    margin-right: auto;
    margin-left: auto;
  }

  &__header {
    font-weight: bold;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: -0.03em;
    text-align: center;
  }

  &__green-text {
    color: #9BCB35;
  }

  &__video-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 963px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    border-radius: 26px;
    box-shadow: 0 40px 40px -50px #000000;
  }

  &__video {
    max-width: 100%;
    height: auto;
    border-radius: 26px;
  }

  &__play-button {
    position: absolute;
    z-index: 1;
    background: #EE3922;

    &_hidden {
      display: none;
    }
  }

  &__button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  &__flowers-container {
    position: relative;
    width: 100%;
    max-width: 963px;
    margin-right: auto;
    margin-left: auto;
  }

  &__flower {
    position: absolute;
    top: 130px;
    left: 0;
    transform: translateX(-50%) scale(0.8);

    &_blurred {
      top: 240px;
      right: 0;
      left: unset;
      transform: translateX(50%) scale(-0.5, 0.5) ;
      filter: blur(5px);
    }
  }

  &__snowflake {
    position: absolute;

    &_position_left {
      top: 80px;
      left: 0;
      transform: scale(3) translateX(25%);
    }

    &_position_right {
      top: 600px;
      right: 0;
      transform: scale(-3) translateX(25%);
    }
  }

  @media (max-width: 1250px) {

    &__flowers-container {
      display: contents;
    }

    &__flower {
      position: absolute;
      top: 0;
      z-index: 2;
      transform: translateX(-50%) scale(-0.5, 0.5);

      &_blurred {
        top: 10%;
        z-index: 0;
        transform: translateX(50%) scale(0.4) ;
        filter: blur(5px);
      }
    }

    &__snowflake {
      z-index: 2;
      &_position_left {
        top: 0;
        transform: scale(1.3) translateX(10%);
      }
      &_position_right {
        top: 70%;
        transform: scale(-1.15);
      }
    }
  }
  @media (max-width: 1000px) {
    margin-top: 35px;
    margin-bottom: 55px;
    &__header {
      font-size: 29px;
      line-height: 33px;
    }

    &__video-wrapper {
      box-sizing: border-box;
      margin-top: 30px;
      padding-right: 40px;
      padding-left: 40px;
      box-shadow: none;
    }

    &__video {
      box-sizing: border-box;
    }
  }
  @media (max-width: 600px) {
    &__flower {
      position: absolute;
      top: 0;
      z-index: 2;
      transform: translateX(-50%) scale(-0.3, 0.3);

      &_blurred {
        top: 10%;
        z-index: 0;
        transform: translateX(50%) scale(0.2) ;
        filter: blur(5px);
      }
    }

    &__snowflake {
      &_position_left {
        transform: scale(1);
      }
      &_position_right {
        top: 70%;
        transform: scale(-1);
      }
    }
  }
}
