.contact-item {
  display: flex;
  &__icon {
    flex-shrink: 0;
    min-width: 18px;
    margin-right: 14px;
    color: #9BCB35;
  }
  &__heading {
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.04em;
  }
  &__text {
    flex-shrink: 1;
    margin-top: 2px;
    color: #444;
    font-size: 14px;
    line-height: 20px;
  }
}
