.service-info {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: auto 1fr;

  &__price {
    align-self: start;
    padding: 30px 40px 40px;
    text-align: center;
    background: #FAFAFA;
  }

  &__price-label {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    white-space: pre-line;
  }

  &__button {
    display: block;
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
  }

  @media (max-width: 1050px) {
    &__price {
      padding: 15px 20px 20px
    }
  }
}
