<template>
  <header :class="c()">
    <BaseOverlay :class="c('overlay')"
      ><img src="../images/bg-mobile.jpg" alt=""
    /></BaseOverlay>
    <div :class="c('inner')">
      <div :class="c('top')">
        <div :class="c('contacts')">
          <div :class="c('contact')">
            <BaseIcon :class="c('contact-icon')" name="phone" :width="16" />
            <PhoneLink :class="c('contact-link')" />
          </div>
          <div :class="c('contact')">
            <BaseIcon :class="c('contact-icon')" name="mail" :width="16" />
            <EmailLink :class="c('contact-link')" />
          </div>
        </div>
        <div :class="c('call')">
          <!--          TODO: @click -->
          <button :class="c('call-btn')">
            <BaseIcon :class="c('call-icon')" name="phone" :width="16" />
            <span>Заказать звонок</span>
          </button>
        </div>
      </div>
      <div :class="c('content')">
        <h1 :class="c('title')">Профессиональный уход за садом и участком</h1>
        <div :class="c('subtitle')">
          Выполняем полный спектр услуг по уходу за садом. Приведем ваш участок
          в идеальное состояние за 1 день
        </div>
        <BaseButton
          size="m"
          :color="Color.red"
          :class="c('btn')"
          @click="openModal"
          >Рассчитать стоимость работ
        </BaseButton>
      </div>
    </div>
  </header>
</template>

<script>
import { cn } from '~/support/utils/bem-classnames'
import { BaseOverlay } from '~/components/base/base-overlay/base-overlay'
import { BaseButton } from '~/components/base'
import { Color } from '~/components/theme/theme-button'
import { BaseIcon } from '~/components/base/base-icon/base-icon'
import { useModalOpener } from '~/support/hooks/useModalOpener'
import { PhoneLink } from '~/components/action-providers/phone-link/phone-link'
import { EmailLink } from '~/components/action-providers/email-link/email-link'

const c = cn('mobile-block-landscape-heading')
export default {
  name: 'MobileBlockLandscapeHeading',
  components: { EmailLink, PhoneLink, BaseIcon, BaseOverlay, BaseButton },
  setup() {
    const modalOpener = useModalOpener()
    const openModal = () => {
      modalOpener({
        name: 'callback',
        source: 'Рассчитать стоимость работ'
      })
    }

    return { openModal, Color, c }
  }
}
</script>

<style lang="scss">
.mobile-block-landscape-heading {
  position: relative;
  padding-top: 20px;
  padding-bottom: 150px;

  &__overlay {
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__inner {
    position: relative;
    padding: 0 20px;
    text-align: center;
  }

  &__content {
    margin-top: 41px;
    line-height: 1.2;
  }

  &__top {
    display: flex;
    grid-gap: 20px;
    align-items: center;
    justify-content: space-between;
  }

  &__contact {
    display: flex;
    grid-gap: 9px;
    align-items: center;
    color: #000000;
    font-size: 18px;
    text-decoration: none;

    span {
      font-weight: 700;
    }
  }

  &__contact-icon {
    opacity: 0.25;
  }

  &__contact-link {
    color: inherit;
    text-decoration: none;
  }

  &__title {
    margin: 0;
    font-weight: 800;
    font-size: 26px;
    text-transform: uppercase;
  }

  &__call-btn {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    grid-gap: 6px;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    color: #ffffff;
    font-weight: 700;
    font-size: 7px;
    line-height: 1.14;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: #9bcb35;
    border: none;
    border-radius: 100%;
  }

  &__subtitle {
    margin-top: 11px;
    font-weight: 500;
    font-size: 12px;
  }

  &__btn {
    margin-top: 13px;
  }

  @media (max-width: 425px) {
    &__title {
      font-size: 20px;
    }
  }
}
</style>
