.awards-title {
  text-align: center;
  &__inner {
    display: inline-block;
    padding: 0.3em 1.2em;
    background: url('resources/left.svg') left center no-repeat, url('resources/right.svg') right center no-repeat, url('resources/top.svg') center top no-repeat;
    background-size: auto 100%, auto 100%, 1em;
  }
}
