.heading-logo {
  color: white;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  &__slogan {
    white-space: pre-wrap;
  }

  @media (max-width: 1433px) {
    &__slogan {
      display: none;
    }
  }
}
