.modal-images-feed {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__close-button {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    padding: 0;
    background: rgba(0, 0, 0, 0.35);
    border: none;
    border-radius: 50%;
  }

  &__close-button-icon {
    color: white;
  }

  &__item {
    width: 100%;
    max-width: 500px;

    &:not(:first-child) {
      margin-top: 31px;
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__content{
    margin-top: 5px;
    padding: 0 13px;
  }

  &__text {
    margin-top: 10px;
    color: #111111;
    font-weight: 500;
    font-size: 18px;
  }
}
