.mobile-grass-objects {
  padding: 10px 0;

  &__heading {
    margin: 0 15px;
    color: #262626;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.04em;
    text-align: center;
  }

  &__items {
    margin-top: 25px;
  }

  &__item {
    margin-top: 8px;
  }

  &__button-number {
    color: #cccccc;
  }

  &__button-name {
    flex: 1;
    margin-left: 18px;
    color: #000000;
    text-transform: uppercase;
  }

  &__button-icon {
    color: #9BCB35;
  }

  &__button-wrapper {
    margin: 0 15px;
  }

  &__button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 50px 20px 21px;
    font-weight: 500;
    font-size: 17px;
    line-height: 14px;
    letter-spacing: -0.05em;
    text-align: left;
    background: #F5F5F5;
    border: 0;
    border-radius: 15px;
    cursor: pointer;

    &_active {
      background: #9BCB35;

      .mobile-grass-objects__button-name {
        font-weight: bold;
      }

      .mobile-grass-objects__button-icon, .mobile-grass-objects__button-name, .mobile-grass-objects__button-number {
        color: white;
      }
    }
  }

  &__slider {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  &__slider-item {
    //
  }

  &__image {
    max-width: 100%;
  }

}
