.mobile-vacancy-send-resume {
  &__heading {
    color: #262626;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.04em;
    text-align: center;
  }

  &__leading {
    margin-top: 14px;
    color: #565656;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  &__image {
    display: block;
    margin-top: 24px;
    text-align: center;
    mix-blend-mode: darken;

    img {
      margin: 0 auto;
    }
  }

  &__form-wrapper {
    box-sizing: border-box;
    max-width: 320px;
    margin: 0 auto;
    padding: 35px 10px 20px 10px;
    background: #FFFFFF;
    border-radius: 11px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.04);
  }

  &__form-heading {
    color: #111111;
    font-weight: bold;
    font-size: 21px;
    line-height: 15px;
    letter-spacing: -0.03em;
    text-align: center;
  }

  &__form-inner {
    max-width: 250px;
    margin: 20px auto 0;
  }
}
