.base-popup-gallery {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  display: table;
  width: 100%;
  height: 100vh;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0.2s ease;

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:focus {
      outline: 0;
    }
  }

  &__prev {
    left: 0;
  }

  &__next {
    right: 0;
  }

  &__prev,
  &__next {
    position: absolute;
    top: 50%;
    z-index: 999;
    display: block;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    padding: 0;
    color: #fff;
    font-size: 60px;
    line-height: 48px;
    text-shadow: 0 0 2px #000;
    background: transparent;
    border: none;
    cursor: pointer;

    &:focus {
      outline: 0;
    }
  }

  &__main-wrapper {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    bottom: 0.5rem;
    left: 0.5rem;
  }

  &__main-slider {
    height: 100%;

    :global(.tns-outer), :global(.tns-ovh), :global(.tns-inner), :global(.tns-slider), :global(.tns-item) {
      height: 100%;
    }
  }

  &__main-item {
    vertical-align: middle !important;
  }

  &__main-item-centered {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
  }

  &__main-item-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 95vw;
    height: 100%;
    max-height: 95vh;
    margin: 0 auto;
  }

  &__main-image {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
  }

  &__main-title {
    max-width: 70%;
    margin-top: 10px;
    padding: 10px 40px;
    text-align: center;
    background: #fff;
    border-radius: 25px;
  }

  &__thumbnails-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    :global(.tns-inner) {
      //display: flex;
      //justify-content: center;
    }
  }

  &__thumbnails-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.4 !important;

    &:hover, :global(.tns-main-slide) & {
      opacity: 1 !important;
    }
  }

  &_show-thumbnails {
    .base-popup-gallery__main-wrapper {
      bottom: 150px;
    }
  }

  &__static-thumbnails {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }

  &__static-thumbnail {
    height: 100px!important;
    margin: 0 10px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.4;

    &:hover, &_selected {
      opacity: 1;
    }
  }
}
