.mobile-product-sale {
  background: #FFFFFF;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 0 30px #efefef;

  &__first-line {
    display: flex;
    align-items: center;
  }

  &__image {
    flex-basis: 208px;
  }

  &__right {
    flex-basis: 120px;
    margin-left: 18px;
  }

  &__until {
    margin-top: 8px;
  }

  &__form {
    margin-top: 16px;
  }
}
