.checkout-product {
  &__heading-line {
    display: flex;
    align-items: center;
    padding-bottom: 23px;
  }

  &__image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
  }

  &__name {
    margin-left: 20px;
    color: #111111;
    font-weight: 500;
    font-size: 34px;
    line-height: 0.9;
    letter-spacing: -0.03em;
  }

  &__price-line {
    //
  }

  &__price-separator {
    height: 8px;
  }

  @media screen and (max-width: 799px) {
    &__heading-line {
      padding-bottom: 8px;
      padding-left: 8px;
    }
    &__name {
      margin-left: 10px;
      font-size: 18px;
      line-height: 1.1;
    }
    &__image {
      width: 60px;
      height: 60px;
      object-fit: cover;
    }
  }
}
