.base-slider-select {
  position: relative;
  padding: 4px 10px 2px;
  //overflow: auto;
  //white-space: nowrap;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

  &__prev {
    left: 0;
    z-index: 1;
    background: linear-gradient(to right, #fff 80%, rgba(255,255,255,0) 100%);
  }

  &__next {
    right: 0;
    z-index: 1;
    background: linear-gradient(to left, #fff 80%, rgba(255,255,255,0) 100%);
  }

  &__prev, &__next {
    position: absolute;
    top: 0;
    bottom: 0;
    color: #92B940;
    border: none;
    &:disabled {
      display: none;
    }
  }

  &__button {
    margin: 0 3px;
    padding: 12px;
    color: #999999;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    white-space: nowrap;
    background: none;
    border: 0;

    :global(.tns-selected-slide) & {
      color: #84AD2B;
    }
  }

  :global(.tns-autowidth) {
    display: block;
  }
}
