.desktop-block-bark-beetle {
  &__header {
    position: relative;
    padding: 40px 0 60px;
    background-size: cover;

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #000;
      opacity: 0.6;
      content: '';
    }
  }

  &__header-inner {
    position: relative;
    z-index: 1;
  }

  &__heading {
    margin-top: 60px;
    margin-left: 95px;
    color: #fff;
    font-weight: 800;
    font-size: 76px;
    line-height: 0.9;
  }

  &__header-icons {
    margin-top: 60px;
  }
}
