.mobile-block-documents {
  &__heading {
    color: #111111;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: -0.03em;
    text-align: center;
  }

  &__wrapper {
    display: flex;
    max-height: 88vmin;
    margin-top: 15px;
    padding: 0 20px;
  }

  &__panel {
    flex-basis: 45px;
    flex-grow: 1;
    padding: 4px 20px;
    overflow: auto;
  }

  &__panel-image {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  &__panel-item {
    margin-bottom: 4px;

    &_active {
      .mobile-block-documents__panel-image {
        box-shadow: 0 0 0 2px #9BCB35;
      }
    }
  }

  &__main-image-wrapper {
    flex-basis: 255px;
    flex-grow: 1;
  }

  &__main-image {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
}
