.modal-unsubscribe {
  padding: 30px 20px 20px;
  text-align: center;

  &__heading {
    font-weight: 900;
    font-size: 38px;
    line-height: 1;
  }

  &__form {
    margin-top: 20px;
  }

  @media (max-width: 500px) {
    &__heading {
      font-size: 20px;
    }
  }
}
