<template>
  <div :class="c()">
    <div :class="c('container')">
      <div :class="c('title')">
        Секреты по уходу<br />
        за участком <span>от EcoPlant</span>
      </div>
      <div :class="c('items')">
        <div v-for="item of videoSecrets" :key="item.id" :class="c('item')">
          <BaseVideoPoster
            :youtube-id="item.youtubeId"
            :poster="item.poster"
            :class="c('poster')"
          />
          <div :class="c('item-text')">{{ item.text }}</div>
        </div>
      </div>
      <div :class="c('banner')">
        <div :class="c('banner-title')">
          <b>Посмотреть больше полезных видео</b> можно на нашем YouTube канале
        </div>
        <BaseButton
          target="_blank"
          href="https://www.youtube.com/channel/UCQBp8ZyXKSXP_z3K8pcws1Q"
          :class="c('banner-button', { type: 'blink' })"
          size="s"
          :color="Color.red"
        >
          <span>открыть YouTube канал EcoPlant</span>
          <BaseIcon name="youtube" :width="48" :height="35" />
        </BaseButton>
        <div :class="c('banner-bg')">
          <img width="223" height="153" src="../images/video.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { cn } from '~/support/utils/bem-classnames'
import { BaseVideoPoster } from '~/components/base/base-video-poster/base-video-poster'
import { BaseButton } from '~/components/base/base-button/base-button'
import { Color } from '~/components/theme/theme-button'
import { BaseIcon } from '~/components/base/base-icon/base-icon'

const c = cn('mobile-block-landscape-secrets')

export default {
  name: 'MobileBlockLandscapeSecrets',
  components: { BaseIcon, BaseButton, BaseVideoPoster },
  data() {
    return {
      videoSecrets: [
        {
          id: 1,
          poster: require('../images/currant.jpg'),
          text: 'Как правильно обрезать смородину для увеличения урожая?',
          youtubeId: 'TPIfiUmqXZE'
        },
        {
          id: 2,
          poster: require('../images/hydrangea.jpg'),
          text: 'Все об уходе за гортензией в осенний период',
          youtubeId: 'EbXWuU8CaXU'
        },
        {
          id: 3,
          poster: require('../images/apple.jpg'),
          text: 'Как обрезать яблоню, грушу, сливу осенью? Осенняя обрезка плодовых деревьев',
          youtubeId: 'hxOcmUMzRCA'
        }
      ],
      Color
    }
  },
  methods: {
    c
  }
}
</script>

<style lang="scss">
.mobile-block-landscape-secrets {
  margin-top: 70px;
  margin-bottom: 60px;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__title {
    color: #1e1e1e;
    font-weight: 800;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;

    span {
      color: #9bcb35;
    }
  }

  &__items {
    display: grid;
    grid-gap: 22px;
    margin: 17px 0 0;
  }

  &__item {
    img {
      width: 100%;
    }
  }

  &__poster {
    overflow: hidden;
    border-radius: 15px;
  }

  &__item-text {
    margin-top: 10px;
    color: #1e1e1e;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
  }

  &__banner {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-gap: 13px;
    align-items: center;
    justify-content: space-between;
    margin-top: 52px;
    padding: 80px 10px 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 15px 150px rgba(0, 0, 0, 0.1);
  }

  &__banner-title {
    z-index: 3;
    color: #1e1e1e;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
  }

  &__banner-button {
    --youtube-inner-color: #ff0000;

    z-index: 3;
    text-transform: uppercase;

    &_type {
      &_blink {
        position: relative;
        overflow: hidden;

        &::before {
          position: absolute;
          top: 0;
          right: 100%;
          z-index: 1;
          width: 100%;
          height: 30px;
          background-color: #fff;
          animation: blinkSlide 2s ease-in-out infinite both;
          content: '';
        }
      }
    }

    span {
      z-index: 2;
    }
  }

  &__banner-bg {
    position: absolute;
    top: -32px;
    z-index: 1;
    display: flex;

    img {
      max-width: 115px;
      height: auto;
    }
  }
}

@keyframes blinkSlide {
  0% {
    transform: translateX(200%) rotate(45deg);
  }

  50% {
    transform: translateX(-120%) rotate(45deg);
  }

  to {
    transform: translateX(-120%) rotate(45deg);
  }
}
</style>
