.modal-phone-us {
  padding: 20px;

  &__heading {
    font-size: 20px;
  }

  &__phone {
    margin-top: 10px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    user-select: all;
  }
}
