.desktop-block-video-reviews {
  &__heading {
    justify-content: center;
    color: #111111;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: -0.05em;
    text-align: center;
  }

  &__items {
    margin-top: 50px;
  }

  &__item {
    max-width: 246px;
  }
}
