@import "~tiny-slider/dist/tiny-slider";

.tns-default-outer {
  max-width: 100%;
  overflow-x: hidden;
}

.tns-default-inner {
  display: flex;
}
.tns-lazy-img {
  opacity: 1;
  transition: none;
}

.tns-nav {
  display: flex;
  justify-content: center;
  margin: 8px 0;

  button {
    margin: 0 2px;
    padding: 5px;
    background: none;
    border: none;
    border-radius: 50%;

    &:before {
      display: block;
      width: 8px;
      height: 8px;
      border: solid 2px #9BCB35;
      border-radius: 50%;
      content: '';
    }
  }

  .tns-nav-active {
    &:before {
      background: #9BCB35;
    }
  }
}

.tns-one-slide .tns-default-inner:not(.tns-slider) {
  display: block;
}

.tns-one-slide .tns-default-inner:not(.tns-slider) > :not(:first-child) {
  display: none;
}
