.payment-page-systems {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  &__item {
    position: relative;
    padding-bottom: 40%;
  }
  &__image-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}
