.block-black-friday {
  &__bg {
    padding: 15px;
    background: #f6f6f6;
  }

  &__wrapper {
    max-width: 1200px;
    margin: 40px auto 0;

    &:first-child {
      margin-top: 0;
    }
  }

  &__product-group {
    margin-top: 40px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__sale {
    margin-top: 40px;
  }

  &__video {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  @media only screen and (max-width: 720px) {
    &__wrapper {
      margin-top: 0;
    }
  }
}
