.block-search {
  box-sizing: border-box;
  padding: 10px 16px 18px 16px;
  background-color: white;
  border-radius: 0 0 10px 10px;

  &__form-wrapper {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #7CBA4B;
    border-radius: 2px;

    &_desktop {
      border-radius: 100px;
      border: none;
      background-color: #F9F9F9;
      padding: 8px;
    }
  }

  &__desktop-button {
    font-size: 16px;
    letter-spacing: 0.06em;
    width: 169px;
  }

  &__input {
    width: 100%;
    padding: 12px 9px;
    font-size: 16px;
    background: none;
    border: none;

    &:focus {
      outline: none;
    }
  }

  &__clear {
    flex-shrink: 0;
    padding: 15px;
    background: none;
    border: none;
  }

  &__mobile-search-button {
    flex-shrink: 0;
    padding: 12px;
    background-color: #7CBA4B;
    border: none;
  }

  &__close-icon {
    color: white;
  }

  &__results-wrapper {
    max-height: 357px;
    overflow: auto;
  }

  &__search-result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 0;
    text-decoration: none;

    &:not(:last-child) {
      padding-bottom: 14px;
      border-bottom:1px solid #DEDEDE;
    }
  }

  &__search-result-icon {
    color: #B5B5B3;
  }

  &__search-result-left {
    display: flex;
    align-items: center;
  }

  &__search-result-text {
    margin-left: 10px;
    color: #292929;
    font-size: 13px;
    line-height: 170%;
  }

  &__search-result-chevron {
    color: #8F8F8F;
    transform: rotateZ(180deg);
  }
}
