.block-planting-care-recommendation {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(4, 161px);
  justify-content: center;
  padding-top: 10px;

  &__item {
    text-decoration: none;
  }

  &__image-wrapper {
    position: relative;
  }

  &__image {
    display: block;
    max-width: 100%;
  }

  &__icon {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 45px;
    height: 50px;
    padding: 5px 0 0 5px;
    color: white;
    background: #FF9800;
    border-top-left-radius: 90px;
  }

  &__title {
    margin-top: 4px;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.04em;
  }

  @media screen and (max-width: 799px) {
    grid-template-columns: repeat(2, minmax(auto, 1fr));

    &__title {
      font-size: 14px;
    }
  }
}
