.mobile-shipping-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: #111111;
  background: #F5F5F5;
  border: 0;
  border-radius: 15px;

  &__text {
    font-weight: 500;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.03em;
    text-align: center;
  }

  &__image {
    margin-top: 24px;
    max-width: 100%;
    height: auto;
  }

  &_theme {
    &_green {
      color: white;
      background: linear-gradient(180deg, #9BCB35 0%, #62AB5C 100%);
    }
  }
}
