.heading-middle-line {
  display: flex;
  justify-content: center;
  color: #fff;

  &__heading {
    max-width: 1100px;
    margin: 0;
    font-weight: 800;
    font-size: 73px;
    line-height: 1.2;
    white-space: pre-wrap;
    text-transform: uppercase;
  }

  &__leading {
    margin-top: 25px;
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    text-transform: uppercase;
    text-shadow: 0 0 2px #000000;
  }

  &__button-line {
    margin-top: 30px;
  }

  @media screen and (max-width: 1440px) {
    &__heading {
      font-size: 60px;
    }
  }
}
