.planting-items {
  &__item {
    display: flex;
    align-items: center;
    margin-top: 32px;
    &:first-child {
      margin-top: 0;
    }
  }

  &__icon {
    min-width: 52px;
    color: #9BCB35;
    svg {
      margin: 0 auto;
    }
  }

  &__text {
    margin-left: 24px;
    color: #111111;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
  }

}
