.block-featured-product-item {
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  padding: 17px 16px;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 5px 6px 40px rgba(0, 0, 0, 0.14);

  &__image {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 10px;
  }

  &__product-properties {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 18px;
  }

  &__name {
    flex: 1;
    color: #070707;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
  }

  &__height {
    margin-top: 6px;
    color: #6f6f6f;
    font-size: 15px;
    line-height: 24px;
  }

  &__prices {
    margin-top: 5px;
    font-weight: 600;
    font-size: 18px;
  }

  &__old-price {
    color: #0E0E0E;
    text-decoration: line-through #E03D3D;
  }

  &__new-price {
    padding-left: 10px;
    color: #E03D3D;
  }

  @media (max-width: 665px) {
     &__image {
       height: 145px;
     }

    &__product-properties {
      margin-top: 12px;
    }

    &__name {
      font-size: 15px;
      line-height: 17px;
    }

    &__name-additional {
      display: none;
    }

    &__height {
      font-size: 14px;
    }

    &__height-additional {
      display: none;
    }

    &__prices {
      font-size: 15px;
    }
  }
}
