.client-quote {
  max-width: 600px;
  margin: 0;
  padding: 0 0 0 45px;
  background: url('./resources/quote.svg') left top no-repeat;

  &__heading {
    margin-top: 25px;
    font-weight: bold;
    font-size: 25px;
    line-height: 20px;
    b {
      color: #62AB5C;
    }
  }

  &__text {
    margin-top: 30px;
    color: #777777;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
  }
}
