.block-service-panel {
  &__grid {
    display: grid;
    grid-gap: 32px 2%;
    grid-template-rows: auto auto;
    grid-template-columns: 2fr 5fr;
    max-width: 1400px;
    margin: 60px auto;
  }

  &__slot {
    grid-row: 1;
    grid-column: 1;
  }

  &__actions {
    grid-row: 1;
    grid-column: 2;
    align-self: flex-end;
  }

  &__navigation {
    grid-row: 2;
    grid-column: 1;
    align-self: flex-start;
  }

  &__info {
    grid-row: 2;
    grid-column: 2;
    align-self: flex-start;
  }

  &__sale {
    margin-top: 70px;
    margin-bottom: 70px;
  }


  @media screen and (max-width: 1200px) {
    &__slot {
      grid-row: 1;
      grid-column: 1/3;
    }
    &__actions {
      grid-row: 2;
      grid-column: 1/3;
    }

    &__navigation {
      grid-row: 3;
    }

    &__info {
      grid-row: 3;
    }
  }
}
