<template>
  <div :class="c()">
    <div :class="c('container')">
      <BaseGrid
        v-if="galleries"
        :xs="2"
        :sm="3"
        :md="4"
        :lg="5"
        :class="c('items')"
      >
        <button
          v-for="item in galleries"
          :key="item.id"
          :class="c('item')"
          @click="openModalCallback(item.id)"
        >
          <span :class="c('image-wrapper')">
            <img
              :width="item.image.thumb.width"
              :height="item.image.thumb.height"
              loading="lazy"
              :src="item.image.thumb.src"
              alt=""
            />
          </span>
          <span :class="c('title-wrapper')">
            <span :class="c('item-title')">{{ item.title }}</span>
            <span v-if="item.price" :class="c('item-price')">{{
              item.price
            }}</span>
          </span>
        </button>
      </BaseGrid>
    </div>
  </div>
</template>

<script>
import { computed } from '@nuxtjs/composition-api'
import { cn } from '~/support/utils/bem-classnames'
import { BaseGrid } from '~/components/base/base-grid/base-grid'
import { useModalOpener } from '~/support/hooks/useModalOpener'
import { gallery } from '~/graphql/queries'
import { useGqlQuery } from '~/support/hooks/useGqlQuery'

const c = cn('block-landscape-services')

const parseContent = (json) => {
  try {
    return JSON.parse(json)
  } catch (e) {
    return null
  }
}

export default {
  name: 'BlockLandscapeServices',
  components: { BaseGrid },
  setup() {
    const modalOpener = useModalOpener()
    const openModalCallback = (id) => {
      modalOpener({ name: 'service-description', id })
    }
    const { result } = useGqlQuery(gallery, { id: '11' })
    const galleries = computed(() => {
      return result.value?.gallery.map((item) => {
        const content = parseContent(item.content)
        return {
          id: item.id,
          title: item.title,
          image: item.image,
          price: content?.price || null
        }
      })
    })
    return { openModalCallback, c, galleries }
  }
}
</script>

<style lang="scss">
.block-landscape-services {
  margin-top: -125px;
  padding: 0 20px;

  &__container {
    position: relative;
    max-width: 1220px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 10px solid #fff;
    border-radius: 20px;
  }

  &__item {
    position: relative;
    width: 100%;
    padding: 0;
    background-color: #fff;
    border: none;
  }

  &__image-wrapper {
    display: flex;
    overflow: hidden;
    border-radius: 15px;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__title-wrapper {
    position: absolute;
    right: 10px;
    bottom: 10px;
    left: 10px;
    display: grid;
    padding: 12px 12px 10px;
    color: #1e1e1e;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.2;
    text-align: left;
    word-break: break-word;
    background-color: #ffffff;
    border-radius: 10px;
  }

  &__item-price {
    color: #ed3a21;
    font-size: 18px;
  }

  @media (max-width: 768px) {
    margin-top: 35px;

    &__container {
      border: none;
      border-radius: 0;
    }

    &__item-title {
      right: 0;
      bottom: 0;
      left: 0;
      padding: 0;
      font-size: 12px;
      //box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12);
    }
  }

  @media screen and (max-width: 375px) {
    &__item-title {
      font-size: 10px;
    }

    &__item-price {
      font-size: 14px;
    }

    &__image-wrapper {
      height: 155px;
    }
  }
}
</style>
