.mobile-image-slider {
  height: 280px;
  overflow: hidden;

  &__image {
    display: block;
    width: 257px;
    height: 280px;
    object-fit: cover;
    background: grey;
    border-radius: 10px;
    transition: 0.2s transform;
  }

  .mobile-image-slider__image {
    transform: scale(0.8);
  }

  :global(.tns-main-slide) {
    .mobile-image-slider__image {
      margin: 0 auto;
      transform: none;
    }
  }


}
