.modal-address {
  &__header {
    padding-top: 50px;
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
  }

  @media (max-width: 900px) {
    &__header {
      font-size: 28px;
    }
  }
}
