.desktop-sale-form-line {
  display: flex;

  &__phone, &__button {
    flex: 305px 0 1;
    box-sizing: border-box;
    max-width: 305px;
    padding: 20px!important;
    border-radius: 125px;
  }

  &__phone {
    input {
      font-size: 20px;
    }
  }

  &__button {
    margin-left: 16px;
    background: linear-gradient(180deg, #EE3922 0%, #C71A18 100%);
    box-shadow: 0 22.4172px 60.7133px rgba(255, 29, 29, 0.3), inset 0 2.80215px 5.6043px rgba(246, 127, 112, 0.66);
  }
}
