.block-featured-products {
  margin-top: 74px;

  &__header {
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(6, 190px);
    gap: 10px;
    justify-content: center;
    margin-top: 29px;
  }

  @media (max-width: 1350px) {

    &__products {
      grid-template-columns: repeat(3, 198px);
    }
  }

  @media (max-width: 665px) {
    margin-top: 40px;

    &__products {
      grid-gap: 10px;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 485px) {
    margin-top: 30px;
    &__header {
      font-size: 28px;
      line-height: 31px;
    }
    &__products {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 20px;
    }
  }
}
