.sale-form-fir {
  padding: 30px 0;

  &__heading {
    color: black;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;

    b {
      color: #62AB5C;
    }
  }

  &__form {
    margin-top: 30px;
  }

  &__leading {
    margin-top: 10px;
    font-size: 20px;
  }

  &__policy {
    margin-top: 30px;
    color: #999;
    font-size: 15px;
  }
}
