@import "assets/mixins/webp-background";
@import 'assets/keyframes/vertical-animation';

.block-clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1360px;
  margin: 0 auto 40px auto;


  &__gallery {
    display: grid;
    grid-auto-rows: 214px;
    grid-template-columns: repeat(auto-fill, 214px);
    gap: 6px;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    transition: height 1s ease;
  }

  &__button {
    width: 263px;
    margin-top: 20px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0;
    background: #eee;
  }

  &__heading {
    color: #000000;
    font-weight: bold;
    font-size: 42px;
    line-height: 42px;
    text-align: center;
  }
  &__slider {
    position: relative;
    margin-top: 25px;
  }

  &__prev, &__next {
    position: absolute;
    top: 50%;
    z-index: 1;
    margin-top: -100px;
    color: white;
  }

  &__prev {
    left: 5%;
  }

  &__next {
    right: 5%;
  }

  &__button-text {
    width: 120px;
    text-align: center;
  }

  &__arrow svg{
    transition: transform 0.5s linear;
  }

  &__video-reviews {
    margin-top: 70px;
  }

  &__arrow-wrapper {
    @extend %vertical-animation;
  }
}
