.modal-email-back {
  padding: 20px;
  text-align: center;

  &__heading {
    font-weight: bold;
    font-size: 30px;
  }

  &__leading {
    margin-top: 15px;
    font-size: 20px;
  }

  &__field {
    width: 300px;
    margin: 15px auto 0;
    input {
      text-align: center;
    }
  }

  &__button {
    width: 300px;
    margin-top: 15px;
  }
}
