<template>
  <div :class="[c(), cnThemeWrapper()]">
    <div :class="c('items')">
      <div v-for="season of seasons" :key="season.id" :class="c('item')">
        <BaseIcon :name="`care/${season.id}`" :width="120" :class="c('icon')" />
        <base-button
          :to="`care/${season.id}`"
          :class="c('link')"
          size="m"
          visual="outline"
        >
          {{ season.title }}
        </base-button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent } from '@nuxtjs/composition-api'
import { useGqlQuery } from '~/support/hooks/useGqlQuery'
import { careSeasonsQuery } from '~/graphql/queries'
import { BaseIcon } from '~/components/base/base-icon/base-icon'

import { cn } from '~/support/utils/bem-classnames'
import { BaseButton } from '~/components/base/base-button/base-button'
import { cnThemeWrapper } from '~/components/theme/theme-wrapper'

export default defineComponent({
  name: 'BlockCareSeasons',
  components: { BaseButton, BaseIcon },
  setup() {
    const c = cn('block-care-seasons')
    const { result } = useGqlQuery(careSeasonsQuery, {})
    const seasons = computed(() => result.value?.careSeasons)
    return { seasons, c, cnThemeWrapper }
  }
})
</script>
<style lang="scss">
.block-care-seasons {
  margin-top: 30px;
  margin-bottom: 30px;

  &__items {
    display: flex;
    justify-content: space-around;
  }

  &__item {
    margin: 0 30px;
  }

  &__icon {
    //
  }

  &__link {
    width: 100%;
    margin-top: 20px;

    &:not(.increase-priority) {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 768px) {
    &__items {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }
    &__item {
      margin: 0;
    }
    &__icon {
      svg {
        max-width: 100%;
        aspect-ratio: 1 /1;
      }
    }
  }
}
</style>
<!--<style scoped></style>-->
