<template>
  <div :class="c()">
    <div :class="c('container')">
      <div :class="c('title')">
        Секреты по уходу<br />
        за участком <span>от EcoPlant</span>
      </div>
      <div :class="c('items')">
        <div v-for="item of videoSecrets" :key="item.id" :class="c('item')">
          <BaseVideoPoster
            :poster="item.poster"
            :class="c('poster')"
            :youtube-id="item.youtubeId"
          />
          <div :class="c('item-text')">{{ item.text }}</div>
        </div>
      </div>
      <div :class="c('banner')">
        <div :class="c('banner-title')">
          <div><b>Посмотреть больше полезных видео</b></div>
          можно на нашем YouTube канале
        </div>
        <BaseButton
          target="_blank"
          href="https://www.youtube.com/channel/UCQBp8ZyXKSXP_z3K8pcws1Q"
          :class="c('banner-button', { type: 'blink' })"
          size="m"
          :color="Color.red"
        >
          <span>открыть YouTube канал EcoPlant</span>
          <BaseIcon
            :class="c('icon')"
            name="youtube"
            :width="48"
            :height="35"
          />
        </BaseButton>
        <div :class="c('banner-bg')">
          <img width="223" height="153" src="../images/video.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { cn } from '~/support/utils/bem-classnames'
import { BaseVideoPoster } from '~/components/base/base-video-poster/base-video-poster'
import { BaseButton } from '~/components/base/base-button/base-button'
import { Color } from '~/components/theme/theme-button'
import { BaseIcon } from '~/components/base/base-icon/base-icon'

const c = cn('desktop-block-landscape-secrets')

export default {
  name: 'DesktopBlockLandscapeSecrets',
  components: { BaseIcon, BaseButton, BaseVideoPoster },
  data() {
    return {
      videoSecrets: [
        {
          id: 1,
          poster: require('../images/currant.jpg'),
          text: 'Как обрезать смородину? Как правильно обрезать смородину для увеличения урожая?',
          youtubeId: 'TPIfiUmqXZE'
        },
        {
          id: 2,
          poster: require('../images/hydrangea.jpg'),
          text: 'Уход за гортензией осенью. Все об уходе за гортензией в осенний период',
          youtubeId: 'EbXWuU8CaXU'
        },
        {
          id: 3,
          poster: require('../images/apple.jpg'),
          text: 'Как обрезать яблоню? Как обрезать яблоню, грушу, сливу осенью? Осенняя обрезка плодовых деревьев',
          youtubeId: 'hxOcmUMzRCA'
        },
        {
          id: 4,
          poster: require('../images/borum.jpg'),
          text: 'Подкормка растений бором. Когда необходимо проводить подкормку бором для увеличения урожая?',
          youtubeId: 'dio1gfMGCdg'
        },
        {
          id: 5,
          poster: require('../images/winter_conifers.jpg'),
          text: 'Подготовка хвойных к зиме. Подготовка хвойных деревьев и кустарников к зиме',
          youtubeId: 'TL0-8CtkChQ'
        },
        {
          id: 6,
          poster: require('../images/winter_garden.jpg'),
          text: 'Подготовка сада к зиме. Как правильно обработать и подготовить сад к зиме?',
          youtubeId: 'eLeuY2h-4a4'
        },
        {
          id: 7,
          poster: require('../images/autumn_tree.jpg'),
          text: 'Когда осенью сажать деревья? Сроки посадки деревьев осенью',
          youtubeId: 'DqhGrcstoQU'
        },
        {
          id: 8,
          poster: require('../images/autumn_strawberry.jpg'),
          text: 'Как сажать клубнику осенью? Как правильно сажать клубнику в осенний сезон?',
          youtubeId: '3CQsdIKrPXU'
        },
        {
          id: 9,
          poster: require('../images/autumn_fertilizers.jpg'),
          text: 'Осеннее удобрение почвы. Чем удобрять землю осенью? Какие удобрения вносить в почву в осенний сезон',
          youtubeId: 'zSzk6PqTL44'
        }
      ],
      Color
    }
  },
  methods: {
    c
  }
}
</script>

<style lang="scss">
.desktop-block-landscape-secrets {
  margin-bottom: 40px;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__title {
    color: #1e1e1e;
    font-weight: 800;
    font-size: 48px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;

    span {
      color: #9bcb35;
    }
  }

  &__items {
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    margin: 60px 115px 0;
  }

  &__poster {
    overflow: hidden;
    border-radius: 15px;
  }

  &__item-text {
    margin-top: 20px;
    color: #1e1e1e;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
  }

  &__banner {
    position: relative;
    display: flex;
    grid-gap: 170px;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
    padding: 35px 46px 35px 55px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 150px rgba(0, 0, 0, 0.1);
  }

  &__banner-title {
    z-index: 3;
    color: #1e1e1e;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
  }

  &__banner-button {
    --youtube-inner-color: #ff0000;

    z-index: 3;
    text-transform: uppercase;

    .desktop-block-landscape-secrets__icon {
      color: #ffffff;
    }

    &:hover {
      --youtube-inner-color: #fff;

      .desktop-block-landscape-secrets__icon {
        color: #ff0000;
      }
    }

    &_type {
      &_blink {
        position: relative;
        overflow: hidden;

        &::before {
          position: absolute;
          top: 0;
          right: 100%;
          z-index: 1;
          width: 100%;
          height: 30px;
          background-color: #fff;
          animation: blinkSlide 2s ease-in-out infinite both;
          content: '';
        }
      }
    }

    span {
      z-index: 2;
    }
  }

  &__banner-bg {
    position: absolute;
    top: 17px;
    right: 320px;
    bottom: 0;
    z-index: 1;
    display: flex;

    img {
      max-width: 223px;
      height: auto;
    }
  }
}

@keyframes blinkSlide {
  0% {
    transform: translateX(200%) rotate(45deg);
  }

  50% {
    transform: translateX(-120%) rotate(45deg);
  }

  to {
    transform: translateX(-120%) rotate(45deg);
  }
}
</style>
