.modal-partnership {
  padding: 20px 20px 30px;

  &__email-line {
    margin-top: 10px;
    text-align: center;
  }

  &__email {
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    border-bottom: dashed 1px #999999;
  }
}
