.desktop-modal-price-list-request {
  text-align: center;

  &__heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
  }

  &__leading-line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  &__leading-icon {
    flex-basis: 48px;
    flex-shrink: 0;
    margin-right: 14px;
    --primary-color: #5DA657;
    --secondary-color: white;
  }

  &__leading {
    font-weight: 500;
    font-size: 15px;
    text-align: left;
  }

  &__form {
    margin-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
  }

  &__button-icon {
    margin-right: 10px;
  }
}
