.desktop-block-product {
  &__heading-block {
    margin: 20px 0 20px;
  }

  &__heading {
    margin: 20px 0 0;
    color: #000000;
    font-weight: bold;
    font-size: 43px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
  }

  &__info {
    max-width: 1000px;
    margin: 45px auto 0;
  }

  &__sale {
    margin-top: 30px;
  }

  &__description {
    max-width: 1000px;
    margin: 45px auto 0;
  }
}
