.block-planting {
  &__heading {
    color: #111111;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: -0.05em;
    text-align: center;
  }
  &__video {
    max-width: 900px;
    height: 365px;
    margin-top: 40px;
    border-radius: 11px;
  }
  &__buttons {
    display: flex;
    margin-top: 30px;
  }
  &__button {
    flex-basis: 50%;
    margin-left: 30px;
    &:first-child {
      margin-left: 0;
    }
  }
}
