@import "assets/mixins/webp-background";
.block-footer {
  position: relative;
  //background: linear-gradient(to bottom, #fff 200px, rgba(255, 255, 255, 0) 450px);

  //&:before {
  //  position: absolute;
  //  top: 0;
  //  right: 0;
  //  bottom: 0;
  //  left: 0;
  //  z-index: -1;
  //  display: block;
  //  background: repeat-x bottom / contain;
  //  @include webp-background('./resources/background.jpg');
  //  content: "";
  //}

  &__button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button {
    position: absolute;
  }

  &__bottom {
    margin-top: 5px;
  }
}
