.modal-service {
  padding: 40px 50px 60px;

  &__heading {
    color: #111111;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: -0.03em;
  }

  &__main-image {
    display: block;
    max-width: 100%;
    margin-top: 30px;
  }

  &__form-wrapper {
    margin-top: 44px;
    padding-top: 44px;
    border-top: 1px solid #E9E9E9;
  }

  &__form {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  &__form-heading {
    color: #111111;
    font-weight: bold;
    font-size: 36px;
    line-height: 1;
    letter-spacing: -0.03em;
  }

  &__form-leading-line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 22px;
  }

  &__form-leading {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
    text-align: left;
  }

  &__manager-photo {
    margin-right: 13px;
    border-radius: 50%;
  }

  &__form-inner {
    margin-top: 20px;
  }

  &__button {
    width: 100%;
    margin-top: 20px;
  }

  @media screen and (max-width: 800px) {
    padding: 20px;
    &__heading {
      font-size: 24px;
    }

    &__main-image {
      margin-top: 16px;
    }

    &__form-wrapper {
      margin-top: 16px;
      padding-top: 16px;
    }

    &__form-heading {
      font-size: 22px;
    }
    &__form-leading-line {
      margin-top: 10px;
    }
    &__form-leading {
      font-size: 13px;
    }
    &__button {
      text-transform: uppercase;
    }
  }
}
