<template>
  <div :class="c()">
    <BaseGrid :md="4" :class="c('items')">
      <div :class="c('item')">
        <div :class="c('image-wrapper')">
          <img src="./images/awards.png" width="140" height="152" alt="" />
        </div>
        <div :class="c('title')">
          Наши <br />
          награды
        </div>
        <BaseButton size="s" @click="openAwards">Посмотреть</BaseButton>
      </div>
      <div :class="c('item')">
        <div :class="c('image-wrapper')">
          <img src="./images/tree.png" width="126" height="160" alt="" />
        </div>
        <div :class="c('title')">
          Посадили деревья в 500 поселках Москвы и области
        </div>
        <BaseButton size="s" @click="openVillages">Посмотреть</BaseButton>
      </div>
      <div :class="c('item')">
        <div :class="c('image-wrapper')">
          <img src="./images/top.png" width="168" height="126" alt="" />
        </div>
        <div :class="c('title')">ТОП 30 наших крупных клиентов</div>
        <BaseButton size="s" @click="openClients">Посмотреть</BaseButton>
      </div>
      <div :class="c('item')">
        <div :class="c('image-wrapper')">
          <img src="./images/docs.png" width="117" height="147" alt="" />
        </div>
        <div :class="c('title')">
          Имеются все фитосанитарные документы и разрешения
        </div>
        <BaseButton size="s" @click="openDocuments">Посмотреть</BaseButton>
      </div>
    </BaseGrid>
  </div>
</template>

<script>
import { cn } from '~/support/utils/bem-classnames'
import { BaseGrid } from '~/components/base/base-grid/base-grid'
import { BaseButton } from '~/components/base/base-button/base-button'
import { useModalOpener } from '~/support/hooks/useModalOpener'

const c = cn('block-landscape-popups')
export default {
  name: 'BlockLandscapePopups',
  components: { BaseButton, BaseGrid },
  setup() {
    const modalOpener = useModalOpener()
    const openAwards = () => modalOpener({ name: 'awards' })
    const openClients = () => modalOpener({ name: 'clients' })
    const openVillages = () => modalOpener({ name: 'villages' })
    const openDocuments = () => modalOpener({ name: 'documents' })
    return { openAwards, c, openClients, openVillages, openDocuments }
  }
}
</script>

<style lang="scss">
.block-landscape-popups {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  &__items {
    align-items: baseline;
    padding: 0 20px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 15px 150px rgba(0, 0, 0, 0.1);
  }

  &__item {
    margin-top: -10px;
    padding: 0 20px 30px;
    text-align: center;
  }

  &__image-wrapper {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__title {
    margin: 16px 0 12px;
    color: #1e1e1e;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
  }

  @media (max-width: 900px) {
    &__items {
      padding: 0 10px;
    }

    &__title {
      font-size: 13px;
    }
  }

  @media (max-width: 768px) {
    &__items {
      padding: 0;
      border-radius: 0;
      box-shadow: none;
    }
  }

  @media (max-width: 425px) {
    &__item {
      padding: 30px 0;
    }
  }
}
</style>
