.grass-attributes {
  &__table {
    border-collapse: collapse;

    th, td {
      padding: 20px;
      text-align: left;
      border: 1px solid #F5F5F5;
    }

    th {
      font-weight: 500;
    }

    tr:nth-child(odd) {
      background: #FAFAFA;
    }
  }

  @media screen and (max-width: 799px) {
    &__table {
      th, td {
        font-size: 11px;
        line-height: 15px;
      }
      th {
        width: 30%;
      }
    }
  }
}
