<template>
  <div :class="c()">
    <picture :class="c('bg')">
      <source media="(max-width: 899px)" srcset="./images/bg-sm.jpg" />
      <source media="(min-width: 900px)" srcset="./images/bg.jpg" />
      <img src="./images/bg.jpg" alt="" />
    </picture>
    <div :class="c('container')">
      <div :class="c('inner')">
        <div :class="c('title')">
          Задайте свой вопрос профессиональному дендрологу
        </div>
        <div :class="c('specialist')">
          <div :class="c('avatar')">
            <img src="./images/ava.png" alt="" />
          </div>
          <div :class="c('name-wrapper')">
            <div :class="c('name')">Соловьев Александр</div>
            <div :class="c('specialization')">
              <div>Агроном-дендролог.</div>
              <div>Эксперт по растениям</div>
            </div>
          </div>
        </div>
        <div :class="c('begin')">
          <div :class="c('experience')">
            <img src="./images/timiryazevka.png" alt="" />
          </div>
          <div :class="c('begin-title')">
            Я не робот, <b>я живой человек</b>, Александр-дендролог
          </div>
          <div :class="c('begin-buttons')">
            <BaseButton
              :class="c('btn')"
              size="m"
              :color="Color.green"
              @click="startChat"
              >Начать чат с дендрологом
            </BaseButton>
            <BaseButton
              :class="c('btn')"
              size="m"
              :color="Color.red"
              @click="startCall"
              >Позвонить нам
            </BaseButton>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { cn } from '~/support/utils/bem-classnames'
import { BaseButton } from '~/components/base/base-button/base-button'
import { Color } from '~/components/theme/theme-button'
import { useModalOpener } from '~/support/hooks/useModalOpener'

const c = cn('block-landscape-dendrologist')
export default {
  name: 'BlockLandscapeDendrologist',
  components: { BaseButton },
  setup() {
    const modalOpener = useModalOpener()
    const startCall = () => {
      modalOpener({ name: 'callback' })
    }
    const startChat = () => {
      modalOpener({ name: 'phone-us' })
    }
    return { startCall, startChat, Color, c }
  }
}
</script>

<style lang="scss">
.block-landscape-dendrologist {
  position: relative;
  margin: 40px 0 115px;

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: flex;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: top;
    }
  }

  &__container {
    max-width: 1230px;
    height: 710px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__inner {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 250px;
    box-sizing: border-box;
    height: 100%;
    padding-top: 115px;
    padding-bottom: 43px;
  }

  &__title {
    max-width: 760px;
    color: #ffffff;
    font-weight: 800;
    font-size: 58px;
    line-height: 1.2;
    text-transform: uppercase;
  }

  &__begin {
    position: absolute;
    bottom: -70px;
    box-sizing: border-box;
    max-width: 550px;
    padding: 52px 63px 65px 55px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 15px 150px rgba(0, 0, 0, 0.1);
  }

  &__begin-title {
    color: #1e1e1e;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
  }

  &__begin-buttons {
    display: grid;
    grid-gap: 20px;
    max-width: 350px;
    margin-top: 25px;
  }

  &__experience {
    position: absolute;
    top: -70px;
    right: -80px;
  }

  &__specialist {
    display: flex;
    grid-gap: 10px;
  }

  &__avatar {
    display: none;
    flex-shrink: 0;
    width: 75px;
    height: 75px;

    img {
      width: 100%;
      height: auto;
    }
  }
  &__name-wrapper {
    align-self: flex-end;
  }

  &__name {
    display: inline-flex;
    padding: 9px 15px;
    color: #1e1e1e;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    background-color: #fbdd5c;
    border-radius: 7px;
  }

  &__specialization {
    margin-top: 10px;
    padding-left: 15px;
    color: #333333;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
  }

  @media (max-width: 2340px) {
    &__specialization {
      color: #fff;
      font-weight: 500;
      font-size: 16px;
    }
  }

  @media (max-width: 1080px) {
    &__title {
      max-width: 760px;
      font-size: 36px;
    }
  }

  @media (max-width: 900px) {
    margin: 55px 0 48px;

    &__container {
      height: auto;
    }

    &__inner {
      grid-template-columns: 1fr;
      justify-content: center;
      padding: 35px 0 0;
    }

    &__title {
      text-align: center;
    }

    &__specialist {
      justify-content: center;
      margin-top: 10px;
    }

    &__avatar {
      display: flex;
    }

    &__name-wrapper {
      align-self: center;
    }

    &__name {
      padding: 0;
      color: #ffffff;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.2;
      background-color: transparent;
      border-radius: 0;
    }

    &__specialization {
      margin-top: 0;
      padding-left: 0;
      font-size: 13px;
    }

    &__begin {
      position: relative;
      bottom: -20px;
      margin: 0 auto;
      padding: 30px 50px 40px;
    }

    &__begin-title {
      font-size: 21px;
    }

    &__begin-buttons {
      grid-gap: 10px;
      max-width: none;
      margin-top: 14px;
    }

    &__experience {
      display: none;
    }
  }

  @media (max-width: 768px) {
    &__title {
      font-size: 21px;
    }
  }
}
</style>
