.base-image-grid {
  &__image {
    max-width: 100%;
    height: auto;
    background: #eee;
  }

  &__text {
    font-size: 14px;
    text-align: center;
  }

  &_with-popup {
    .base-image-grid__image {
      cursor: pointer;
    }
  }
}
