.footer-socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    margin-left: 12px;
    padding: 0;
    text-decoration: none;
    background: none;
    border: 0;
  }

  &__phone-icon {
    color: #9BCB35;
  }

  @media screen and (max-width: 499px) {
    &__item {
      margin: 0 15px 0 0;
    }
  }
}
