.footer-contacts {
  padding-top: 35px;

  &__heading {
    color: #111111;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
  }

  &__groups-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
  }

  &__group {
    border-radius: 12px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.08);
  }
}
