<template>
  <div :class="[c(), cnThemeWrapper()]">
    <care-season-item
      v-for="(block, index) of season.blocks"
      :key="index"
      :class="c('block')"
      :season-item="block"
      :icon="`care/${season.id}`"
      :heading="`${index + 1}. ${season.title}`"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

import { cn } from '~/support/utils/bem-classnames'
import { cnThemeWrapper } from '~/components/theme/theme-wrapper'
import CareSeasonItem from '~/components/blocks/block-care-season/components/care-season-item.vue'

export default defineComponent({
  name: 'BlockCareSeason',
  components: { CareSeasonItem },
  props: {
    season: {
      type: Object,
      required: true
    }
  },
  // components: { BaseButton, BaseIcon },
  setup() {
    const c = cn('block-care-season')

    return { c, cnThemeWrapper }
  }
})
</script>

<style lang="scss">
.block-care-season {
  &__block {
    margin-top: 30px;
  }
}
</style>
<!--<style scoped></style>-->
