.base-breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__item {
    &:before {
      margin: 0 10px;
      content: '>';
    }

    &:first-child {
      &:before {
        content: '';
      }
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;

    &_disabled {
      opacity: 0.7;
    }
  }
}
