.client-item {
  font-size: 22px;
  line-height: 22px;
  text-align: center;

  &__image {
    border-radius: 11px;
  }

  &__name {
    margin-top: 43px;
  }
}

@media screen and (max-width: 799px) {
  .client-item {
    font-weight: 500;
    font-size: 14px;

    &__name {
      margin-top: 10px;
    }
  }
}
