.base-grid {
  display: grid;
  grid-gap: 15px;
  justify-items: center;


  @mixin columns {
    @for $i from 1 through 12 {
      &_#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }


  &_xs {
    @include columns;
  }

  @media screen and (min-width: 550px) {
    &_sm {
      @include columns;
    }
  }

  @media screen and (min-width: 799px) {
    &_md {
      @include columns;
    }
  }

  @media screen and (min-width: 1200px) {
    &_lg {
      @include columns;
    }
  }

  @media screen and (min-width: 1400px) {
    &_xl {
      @include columns;
    }
  }
}
