.content-you-know {
  display: flex;
  align-items: center;
  margin: 0 50px;

  &__image {
    margin: 0 60px 30px;
  }

  &__text {
    //
  }

  @media screen and (max-width: 799px) {
    margin: 0;

    &__image {
      display: none;
    }
  }
}
