.modal-get-sale {
  padding: 30px 20px 20px;
  text-align: center;

  &__heading {
    font-weight: 900;
    font-size: 38px;
    line-height: 1;
  }

  &__leading {
    margin-top: 8px;
    color: #444444;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.03em;
    text-align: center;
  }

  &__form {
    margin-top: 20px;
  }

  @media (max-width: 500px) {
    &__heading {
      font-size: 20px;
    }
    &__leading {
      font-size: 14px;
    }
  }
}
