.product-actions {
  display: flex;
  justify-content: flex-end;

  &__item {
    margin-left: 12px;

    &:first-child {
      margin-left: 0;
    }

    &_type {
      &_description {
        flex-grow: 1;
      }
    }
  }

  @media screen and (max-width: 1300px) {
    &__item {
      margin-left: 0.8%;
      padding-right: 3%;
      padding-left: 3%;
    }
  }
}
