.grass-usages {
  &__heading {
    color: #262626;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }

  &__items {
    display: grid;
    grid-row-gap: 12px;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    color: #292929;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -0.03em;

    &:last-child:nth-child(odd) {
      grid-column: span 2;
    }
  }

  &__icon {
    flex: 42px 0 0;
    margin-right: 20px;
  }

  @media screen and (max-width: 799px) {
    &__heading {
      color: #292929;
      font-size: 13px;
      line-height: 14px;
      letter-spacing: -0.03em;
      text-align: center;
    }


    &__items {
      grid-column-gap: 10px;
    }

    &__item {
      font-weight: 500;
      font-size: 13px;
      line-height: 14px;
    }

    &__icon {
      margin-right: 10px;
    }
  }
}
