.pattern-icon-plus {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  &__icon {
    &_indent {
      &_s {
        margin-right: 9px;
      }

      &_m {
        margin-right: 12px;
      }

      &_l {
        margin-right: 16px;
      }

      &_xl {
        margin-right: 20px;
      }

      &_xxl {
        margin-right: 28px;
      }

      &_xxxl {
        margin-right: 36px;
      }
    }
  }

  &_vertical-align {
    &_top {
      align-items: flex-start;
    }

    &_center {
      align-items: center;
    }

    &_bottom {
      align-items: flex-end;
    }
  }
}
