.header-button-reviews {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  padding: 0 10px;

  &__button {
    &:not(.class-to-increase-specificity) {
      position: relative;
      min-height: 100px;
      padding-right: 90px;
      padding-left: 75px;
      background: #FBDD5C;
      color: #000000;
    }
  }

  &__inner {
    display: flex;
    grid-gap: 30px;
    align-items: center;
    color: #000;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: -0.03em;
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 170px;
    height: auto;
    border-radius: 0 0 50px 0;
  }

  &__play {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #8FC026;
    box-shadow: inset 0 0 11px #637c2b;
    color: #fff;
  }

  &__blink {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__blink-inner {
    position: relative;
    z-index: 0; // for fix bug overflow in safari browser
    overflow: hidden;
    height: 100%;
    border-radius: 500px;

    &:after {
      animation: blinkSlide 4s ease-in-out infinite both;
      background-color: #fff;
      content: "";
      height: 60px;
      position: absolute;
      right: 100%;
      top: 0;
      width: 100%;
    }
  }

  @keyframes blinkSlide {
    0% {
      transform: translateX(-120%) rotate(-45deg)
    }

    50% {
      transform: translateX(-120%) rotate(-45deg)
    }

    to {
      transform: translateX(200%) rotate(-45deg)
    }
  }

  @media (max-width: 768px) {
    &__inner {
      font-size: 18px;
    }
  }

  @media (max-width: 550px) {
    &__button {
      &:not(.class-to-increase-specificity) {
        min-height: 70px;
      }
    }

    &__inner {
      font-size: 14px;
    }

    &__image {
      max-width: 130px;
    }

    &__play {
      width: 40px;
      height: 40px;
    }

    &__image {
      border-radius: 0 0 35px 0;
    }
  }

  @media (max-width: 450px) {
    &__button {
      width: 100%;
      &:not(.class-to-increase-specificity) {
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }

  @media (max-width: 380px) {
    &__inner {
      grid-gap: 15px;
    }
  }
}
