.grass-sale-form {
  &__heading {
    margin-left: 10px;
    color: #000000;
    font-weight: bold;
    font-size: 34px;
    line-height: 34px;
    letter-spacing: -0.06em;
  }

  &__form {
    margin-top: 33px;
  }

  &__policy {
    margin-top: 20px;
    margin-left: 10px;
    color: #999;
    font-size: 15px;
    line-height: 1.1;
  }

  @media screen and (max-width: 799px) {
    text-align: center;

    &__heading {
      margin: 0;
      color: #111111;
      font-weight: bold;
      font-size: 20px;
      line-height: 22px;
      letter-spacing: -0.03em;
      text-align: center;
    }

    &__form {
      margin-top: 16px;
    }

    &__policy {
      margin: 10px 0 0;
      color: #999999;
      font-size: 10px;
      line-height: 16px;
      letter-spacing: -0.05em;
      text-align: center;
    }
  }
}
