.block-documents {
  padding: 40px 20px;

  &__heading {
    justify-content: center;
    color: #111111;
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: -0.05em;
    text-align: center;
  }

  &__grid {
    margin-top: 45px;
  }

  &__item {
    border: 1px solid #E5E5E5;
  }
}
