.base-checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #9BCB35;
  background: #F0F0F0;
  border-radius: 3px;

  &:focus-within, &:focus, &:active {
    box-shadow: 0 0 2px #000;
  }

  &__input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    opacity: 0;
  }

  .base-checkbox__icon {
    visibility: hidden;
  }

  &_active {
    .base-checkbox__icon {
      visibility: visible;
    }
  }
}
