<template>
  <div :class="c()">
    <div :class="c('container')">
      <div :class="c('icon')">
        <BaseIcon name="landscape/car" :width="37" :height="23" />
      </div>
      <div :class="c('title')">Выезжаем на объект в день обращения</div>
      <div :class="c('inner')">
        <div :class="c('item')">
          <div :class="c('image-wrapper')">
            <img
              loading="lazy"
              width="102"
              height="141"
              src="./images/bag.png"
              alt=""
            />
          </div>
          <div :class="c('text')">
            Мы используем препараты, от ведущих мировых производителей
          </div>
        </div>
        <div :class="c('item')">
          <div :class="c('image-wrapper')">
            <img
              loading="lazy"
              width="160"
              height="149"
              src="./images/pruner.png"
              alt=""
            />
          </div>
          <div :class="c('text')">
            Оказываем полный комплекс услуг по уходу за садом
          </div>
        </div>
        <div :class="c('item')">
          <div :class="c('image-wrapper')">
            <img
              loading="lazy"
              width="168"
              height="165"
              src="./images/land.png"
              alt=""
            />
          </div>
          <div :class="c('text')">
            Работаем с управляющими компаниями, жилыми комплексами и парками
          </div>
        </div>
        <div :class="c('item')">
          <div :class="c('image-wrapper')">
            <img
              loading="lazy"
              width="156"
              height="177"
              src="./images/lawn-mower.png"
              alt=""
            />
          </div>
          <div :class="c('text')">
            Имеем в команде только высококвалифицированных специалистов
          </div>
        </div>
      </div>
      <div :class="c('banner')">
        <div :class="c('banner-text')">
          <b>Мы имеем большой ассортимент растений</b> и поможем с выбором услуг
          под ваш запрос
        </div>
        <div :class="c('banner-btn-wrapper')">
          <BaseButton
            size="m"
            :color="Color.red"
            :class="c('banner-btn')"
            @click="openModal"
            >Рассчитать стоимость работ
          </BaseButton>
        </div>
        <div :class="c('banner-image')">
          <img
            loading="lazy"
            width="419"
            height="200"
            src="./images/lawn-mower-cut.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { cn } from '~/support/utils/bem-classnames'
import { BaseIcon } from '~/components/base/base-icon/base-icon'
import { BaseButton } from '~/components/base/base-button/base-button'
import { Color } from '~/components/theme/theme-button'
import { useModalOpener } from '~/support/hooks/useModalOpener'

const c = cn('desktop-block-landscape-advantages')

export default {
  name: 'BlockLandscapeAdvantages',
  components: { BaseButton, BaseIcon },
  setup() {
    const modalOpener = useModalOpener()
    const openModal = () => {
      modalOpener({
        name: 'callback',
        source: 'Рассчитать стоимость работ'
      })
    }

    return { openModal, Color, c }
  }
}
</script>

<style lang="scss">
.desktop-block-landscape-advantages {
  margin-top: 50px;
  margin-bottom: 50px;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    margin: 0 auto;
    color: #fff;
    background-color: #9bcb35;
    border-radius: 50%;
  }

  &__title {
    max-width: 612px;
    margin: 19px auto 0;
    color: #1e1e1e;
    font-weight: 800;
    font-size: 48px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 12px;
  }

  &__item {
    padding: 30px;
  }

  &__image-wrapper {
    display: flex;
    justify-content: center;
    height: 177px;

    img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__text {
    margin-top: 12px;
    color: #1e1e1e;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  }

  &__banner {
    position: relative;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 30px;
    padding: 52px 54px 46px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 15px 150px rgba(0, 0, 0, 0.1);
  }

  &__banner-text {
    z-index: 1;
    color: #1e1e1e;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.21;
  }

  &__banner-btn-wrapper {
    z-index: 1;
    text-align: right;
  }

  &__banner-btn {
    background: linear-gradient(180deg, #ee3922 0%, #c71a18 100%);
    box-shadow: 0 18px 48px rgba(255, 29, 29, 0.3),
      inset 0 2px 4px rgba(246, 127, 112, 0.66);
  }

  &__banner-image {
    position: absolute;
    top: 0;
    right: 200px;
    bottom: 0;
    display: flex;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  @media (max-width: 1024px) {
    &__title {
      font-size: 36px;
    }

    &__item {
      padding: 20px;
    }

    &__banner {
      padding: 30px;
    }
  }

  @media (max-width: 950px) {
    &__banner-image {
      display: none;
    }
  }

  @media (max-width: 820px) {
    &__inner {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 768px) {
    margin-top: 63px;
    margin-bottom: 56px;

    &__icon {
      width: 34px;
      height: 34px;

      svg {
        width: 24px;
        height: 15px;
      }
    }

    &__title {
      margin-top: 7px;
      font-size: 24px;
    }

    &__inner {
      grid-gap: 15px;
      margin-top: 20px;
    }

    &__item {
      padding: 0;
    }

    &__image-wrapper {
      display: flex;
      justify-content: center;
      height: 110px;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

    &__text {
      font-size: 13px;
    }

    &__banner-text {
      font-size: 16px;
    }
  }

  @media (max-width: 500px) {
    &__banner {
      grid-gap: 23px;
      grid-template-columns: repeat(1, 1fr);
      align-items: center;
      margin-top: 32px;
      padding: 32px 10px 38px;
    }

    &__banner-text {
      text-align: center;
    }

    &__banner-btn-wrapper {
      text-align: center;
    }
  }

  @media screen and (max-width: 375px) {
    &__text {
      font-size: 11px;
    }
  }
}
</style>
