.grass-services {
  &__heading {
    color: #262626;
    font-weight: bold;
    font-size: 42px;
    line-height: 44px;
    letter-spacing: -0.04em;
    text-align: center;
  }

  &__leading {
    margin-top: 5px;
    color: #262626;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.04em;
    text-align: center;
  }

  @media screen and (min-width: 800px) {
    &__items {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      margin-top: 30px;
    }
    &__item {
      flex-basis: 390px;
    }
  }

  @media screen and (max-width: 799px) {
    &__heading {
      font-size: 26px;
      line-height: 23px;
    }

    &__leading {
      font-size: 20px;
      line-height: 23px;
    }

    &__items {
      display: block;
      margin: 20px 30px 0;
    }

    &__item {
      margin-top: 65px;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
