.sale-price-info {
  display: flex;
  flex-direction: column;


  &__label {
    color: #777777;
    font-weight: bold;
    font-size: 10px;
    line-height: 15px;
  }

  &__form-label {
    display: contents;
  }

  &__price {
    color: #fff;
    background: #E03232;
  }

  &__old-price {
    color: #000000;
    text-decoration: line-through;
    background: #F0F0F0;
  }


  @media screen and (min-width: 1251px) {
    &__label {
      margin-right: 40px;
      margin-bottom: 2px;
      margin-left: 10px;
      text-align: center;
    }

    &__price {
      padding: 13px 16px 10px 10px;
      font-size: 32px;
      line-height: 22px;
      text-align: center;
      border-radius: 5px;
    }

    &__old-price {
      align-self: flex-end;
      margin-right: 30px;
      margin-left: 7px;
      padding: 10px 10px 13px;
      font-size: 20px;
      line-height: 14px;
      border-radius: 0 0 0 5px;
    }
  }

  @media screen and (max-width: 1250px) {
    align-items: flex-start;

    &__label {
      margin-left: 5px;
    }

    &__price {
      margin-top: 4px;
      padding: 9px 12px;
      font-weight: bold;
      font-size: 19px;
      line-height: 1.1;
      letter-spacing: -0.03em;
      border-radius: 4px;
    }
    &__old-price {
      margin-top: 1px;
      padding: 8px 6px;
      font-size: 14px;
      line-height: 1.1;
      background: #F0F0F0;
      border-radius: 4px;
    }
  }
}
