.base-round-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 50%;
  cursor: pointer;

  &_size {
    &_ss {
      width: 28px;
      height: 28px;
    }

    &_s {
      width: 45px;
      height: 45px;
    }

    &_m {
      width: 90px;
      height: 90px;
    }

    &_l {
      width: 120px;
      height: 120px;
    }
  }
}


@media screen and (max-width: 799px) {
  .base-round-button {
    &_size {
      &_s {
        width: 30px;
        height: 30px;
      }
      &_l {
        width: 65px;
        height: 65px;
      }
    }
  }
}

