.mobile-black-friday-sale {
  position: relative;
  padding: 18% 19px 16%;
  overflow: hidden;

  &__inner {
    position: relative;
    z-index: 10;
    box-sizing: border-box;
    padding: 38px 36px 31px;
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 20px;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.06);
  }

  &__stripe {
    position: absolute;
    right: -10px;
    left: -10px;
    z-index: 5;

    img {
      width: 100%;
      object-fit: cover;
    }

    &_type {
      &_top {
        top: 0;
        transform: rotate(7deg);
        transform-origin: left top;
      }

      &_bottom {
        bottom: 0;
        transform: rotate(-7deg);
        transform-origin: left bottom;
      }
    }
  }

  &__circle-buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__banner {
    color: #040404;
    font-weight: 800;
    font-size: 21px;
    text-transform: uppercase;
  }

  &__heading {
    letter-spacing: -0.03em;
    text-align: left;

    b {
      color: #e3301f;
    }
  }

  &__banner-image {
    position: absolute;
    top: -29px;
    right: -17px;

    img {
      max-width: 230px;
      height: auto;
    }
  }

  &__fertilizer-line {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 16px;

  }

  &__fertilizer {
    display: block;
  }

  &__plus {
    margin: 0 6px 5px 3px;
    color: #111111;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
  }

  &__fertilizer-text {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.03em;
    text-align: left;
    text-transform: none;
  }

  &__form {
    margin-top: 15px;
  }

  &__policy {
    margin-top: 10px;
    color: #888888;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: -0.05em;
    text-align: center;
  }

  @media (max-width: 375px) {
    &__banner-image {
      img {
        max-width: 180px;
      }
    }
  }
}
