.mobile-grass-items {
  &__heading {
    padding: 0 15px;
    color: #000000;
    font-weight: bold;
    font-size: 25px;
    line-height: 28px;
    letter-spacing: -0.04em;
    text-align: center;
  }

  &__lines {
    margin-top: 24px;
  }

  &__line {
    display: flex;
    justify-content: space-around;
  }

  &__line-separator {
    margin: 17px 23px 10px;
    border-bottom: 1px dashed #62AB5C;
  }

  &__item {
    max-width: 160px;
  }
}
