.wholesale-button {
  display: flex;
  min-height: 260px;
  padding: 0;
  border: none;
  border-radius: 10px;
  overflow: hidden;

  &__inner {
    display: flex;
    grid-gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-grow: 1;
    height: 100%;
    padding: 17px;
    color: #fff;
    background: linear-gradient(180deg, #EE3922 0%, #C71A18 100%);
    background: repeating-conic-gradient(from -5deg, #d43939 0deg 10deg, #d1292a 10deg 15deg);
  }

  &__title {
    display: block;
    font-weight: 800;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.03em;
  }

  &__subtitle {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }

  @media (max-width: 425px) {
    &__title {
      font-size: 18px;
    }

    &__subtitle {
      font-size: 11px;
    }
  }
}
