.bark-beetle-content {
  color: #000000;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.04em;

  p {
    max-width: 1180px;
    margin: 40px auto;
  }

  &__bark-image-heading {
    color: #3d3d3d;
    font-size: 42px;
    line-height: 46px;
    letter-spacing: -0.04em;
  }

  &__bark-image-container {
    display: flex;
    align-items: center;
    margin: 50px 0;
  }

  &__bark-image {
    margin: 0 70px;
  }

  &__content-picture {
    display: block;
    margin: 50px 0;

    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }

  &__list {
    max-width: 1180px;
    margin: 45px auto;
  }

  &__video {
    max-width: 1280px;
    margin: 50px auto;
  }

  &__video-button {
    animation: buttonPulse 1s infinite;
  }

  &__bark-button {
    text-align: center;
  }

  @media screen and (max-width: 799px) {
    font-size: 16px;
    line-height: 120%;

    p {
      margin: 10px 0;
    }

    &__bark-image-container {
      flex-direction: column;
      margin: 10px 0;
    }

    &__bark-image {
      margin: 0;
    }

    &__bark-image-description {
      display: contents;
    }

    &__bark-image-heading {
      order: -1;
      font-size: 20px;
      line-height: 120%;
    }

    &__content-picture {
      margin: 20px 0;
    }

    &__list {
      margin: 20px auto;
    }

    &__video {
      margin: 20px auto;
    }
  }
}

@keyframes buttonPulse {
  from {
    transform: scale(1);
  }
  20% {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
