@import "components/theme/theme-button/styles/colors";

.product-images-slider {
  position: relative;
  overflow: hidden;
  border-radius: 7px;

  &__item {
    display: block;
    width: 100%;
    object-fit: cover;
    background: #eee;
  }
}
