.desktop-block-categories {
  padding: 15px 0 40px;

  &__heading {
    color: #262626;
    font-weight: bold;
    font-size: 42px;
    line-height: 46px;
    letter-spacing: -0.04em;
    text-align: center;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    max-width: 1361px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 26px;
  }

  &__item {
    position: relative;
    flex-basis: 175px;
    margin-bottom: 14px;
    overflow: hidden;
    text-decoration: none;
    background: #F2F2F2;

    border-radius: 10px;

    &:not(:last-child) {
      margin-right: 14px;
    }

    &:hover {
      box-shadow: 0 0 5px -3px #000;
    }
  }

  &__image {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  &__item-title {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-height: 57px;
    padding: 10px;
    color: #070707;
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.05em;
    text-align: center;
  }

  @media (max-width: 1200px) {
    &__items {
      max-width: 1000px;
    }
  }

}
