.sale-image {
  position: relative;
  width: 240px;

  &__image {
    display: block;
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 15px;
  }

  &__size {
    position: absolute;
    top: 16px;
    right: 24px;
    left: 24px;
    padding: 10px 7px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    line-height: 14px;
    text-align: center;
    background: #9BCB35;
    border-radius: 7px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.09);
  }

  //@media (max-width: 1183px) {
  //  margin-left: 100px;
  //}

  @media screen and (max-width: 799px) {
    max-width: 208px;
    &__image {
      height: auto;
    }
    &__size {
      padding: 8px;
      font-size: 11px;
      line-height: 14px;
    }
  }
}
