.base-field {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #F9F9F9;
  border: 1px solid #F0F0F0;
  border-radius: 70px;
  box-shadow: 0 1px #F0F0F0;


  input, textarea {
    color: #777;
    font-size: 18px;
    font-family: inherit;
    line-height: 1.2;
    background: none;
    border: 0;
    outline: none;

    &:focus {
      color: #222;
    }
  }

  @media screen and (max-width: 799px) {
    padding: 21px;
    background: #F0F0F0;
    input, textarea {
      font-size: 16px;
      letter-spacing: -0.03em;
    }
  }

  &_error {
    background-color: #f8e4e9;
  }
}
