.desktop-sticky-line {
  padding: 5px 0;
  background: rgba(0, 0, 0, 0.5);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
  }


  &__phone, &__email, &__whatsapp, &__telegram, &__button {
    display: flex;
    align-items: center;
    padding: 0;
    color: white;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    background: none;
    border: 0;
  }

  &__phone-icon, &__email-icon, &__whatsapp-icon, &__telegram-icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    margin-right: 12px;
    border-radius: 50%;
  }

  &__phone {
    font-weight: 800;
  }

  &__phone-icon {
    color: white;
    background: #9BCB35;
  }

  &__email {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  &__email-icon {
    color: #1d1d1d;
    background: #FBDD5C;
  }

  &__whatsapp-icon {
    color: white;
    background: #27C34B;
  }

  &__telegram-icon {
    color: white;
    background: #039BE5;
  }

  &__whatsapp, &__telegram, &__button {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
  }

  &__contacts {
    display: grid;
    grid-gap: 10px;
  }

  &__callback {
    padding: 12px 14px;
    color: white;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
  }
}
