.black-friday-product-single {
  &__title {
    font-weight: 900;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
  }

  &__products {
    max-width: 580px;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
  }

  @media only screen and (max-width: 420px) {
    &__title {
      margin: 0 10px;
      padding: 10px 0;
      font-size: 28px;
      background-image: linear-gradient(90deg, #f18813, #fed648);
      border-radius: 20px;
    }
    &__products {
      margin-top: 20px;
    }
  }
}
