.product-price-cart {
  display: flex;
  align-items: center;


  &__circle-button, &__circle-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
  }

  &__circle-button, &__circle-input, &__price {
    margin: 0 4px;
  }

  &__price {
    flex: 1;
    text-align: right;
  }

  &__circle-button {
    width: 33px;
    height: 33px;
    padding: 0;
    color: white;
    background: #E5E5E5;
    border: 0;
    border-radius: 33px;

    &_active {
      background: #B3B3B3;
    }
  }

  &__circle-input {
    background: #E5E5E5;

    &_active {
      background: #9BCB35;
    }

    &:focus-within {
      background: #83ac2d;
    }
  }

  &__input {
    max-width: 100%;
    color: white;
    font-size: 13px;
    text-align: center;
    background: none;
    border: 0;

    &:focus {
      outline: none;
    }
  }
}
