.slider-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 228px;
  height: 228px;
  padding: 35px;
  text-align: center;
  background: url("resources/star.svg") no-repeat;
  background-size: contain;

  &__icon {
    margin-top: 20px;
    margin-bottom: 5px;
    color: #9BCB35;
  }

  &__text {
    color: #262626;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.07em;
  }

  @media screen and (max-width: 799px) {
    width: 180px;
    height: 180px;
    padding: 25px;
    &__icon {
      width: 23px;
      height: 23px;
      margin-top: 5px;
      margin-bottom: 10px;
      color: #9BCB35;
    }
  }
}
