.mobile-grass-back-button {
  display: flex;
  align-items: center;
  padding: 10px 15px 10px 12px;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: -0.03em;
  background: #9BCB35;
  border: 0;
  border-radius: 100px;
  box-shadow: 0 3px 40px rgba(0, 0, 0, 0.05);

  &__icon {
    margin-right: 3px;
  }
}
