.mobile-block-heading {
  padding-top: 4px;
  padding-bottom: 20px;

  &__middle {
    margin-top: 15px;
    padding: 0 10px;
  }

  &__bottom {
    margin-top: 30px;
    padding: 0 10px;
  }

  &__arrow {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: white;
    animation: arrow-animation 1s infinite alternate ease-in-out
  }

  &__video {
    position: fixed;
    right: 10px;
    bottom: 70px;
    z-index: 10;
    padding-bottom: env(safe-area-inset-bottom);
    transition: transform 0.6s;

    &_hidden {
      transform: scale(0);
    }
  }
}


@keyframes arrow-animation {
  from {
    transform: translateY(-5px)
  }

  to {
    transform: translateY(5px)
  }
}
