.video-reviews {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1060px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0 17px 43px rgba(0, 0, 0, 0.15);
  border-radius: 26px;

  &__image-bg {
    max-width: 320px;
    height: auto;
    opacity: .7;

    &:first-child {
      margin-right: auto;
    }
  }

  &__inner {
    position: absolute;
    display: grid;
    grid-gap: 30px;
  }

  &__review-title {
    font-weight: 800;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #000000;
  }

  &__review-icon {
    margin: 0 auto;
    color: #9BCB35;
  }
}
