.black-friday-plant-grid {
  display: grid;
  grid-row-gap: 46px;
  grid-column-gap: 12px;
  grid-template-columns: repeat(auto-fit, 190px);
  justify-content: center;

  &__item {
    position: relative;
    text-align: center;
  }

  &__image {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  &__image-placeholder {
    display: block;
    width: 136px;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #e5f7e7;
    border-radius: 50%;
    &:before {
      display: block;
      padding-bottom: 100%;
      content: '';
    }
  }

  &__title {
    margin-top: 15px;
    font-weight: 500;
    font-size: 20px;
  }

  @media screen and (max-width: 768px) {
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-columns: repeat(3, 1fr);

    &__image {
      border-radius: 13px;
    }

    &__title {
      position: absolute;
      bottom: 16px;
      left: 8px;
      margin-top: 0;
      font-size: 10px;
    }
  }

  @media screen and (max-width: 320px) {
    grid-template-columns: repeat(2, 1fr);

  }
}
