.checkout-form {
  &__field-line {
    margin-top: 40px;

    &:first-child {
      margin-top: 0;
    }

    &_type {
      &_checkbox {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  &__field-label {
    display: block;
    margin: 12px 8px;
    font-size: 18px;
    line-height: 18px;
  }

  &__field-input, &__field-textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 18px 25px 20px;
    color: #777777;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: -0.03em;
    text-align: left;
    background: #F0F0F0;
    border: 0;
    border-radius: 32px;
    -webkit-appearance: none;

    &_error {
      box-shadow: 0 0 3px 1px red;
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 2px #000;
    }
  }

  @media screen and (max-width: 799px) {
    &__field-line {
      margin-top: 0;

      &_type {
        &_checkbox {
          margin-top: 10px;
        }
      }
    }

    &__field-label {
      margin: 12px 8px 8px;
      font-size: 14px;
    }

    &__field-input, &__field-textarea {
      font-size: 14px;
    }

  }
}
