%vertical-animation {
  animation: vertical-animation 1s infinite alternate ease-in-out
}

@keyframes vertical-animation {
  from {
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%)
  }

  to {
    -webkit-transform: translateY(20%);
    transform: translateY(20%)
  }
}
