.base-scroll-to-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 59px;
  height: 56px;
  padding: 0;
  color: white;
  font-weight: 500;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.4);
  border: 0;
  border-radius: 4px;
}
