@use "sass:math";
@import "assets/mixins/webp-background";

.modal-sale-fir {
  //noinspection Stylelint
  padding-bottom: math.div(354, 569) * 100%;
  background-repeat: no-repeat;
  background-size: contain;
  @include webp-background('./resources/bg.jpg');
  @media screen and (min-width: 900px) {
    @include webp-background('./resources/bg-800.jpg');
  }

  &__form-wrapper {
    position: absolute;
    right: 2.5%;
    bottom: 2.5%;
    left: 2.5%;
    display: flex;
    justify-content: center;
    height: 15%;
  }

  &__form {
    display: flex;
    min-width: 85%;
  }

  &__phone {
    flex: 1;
    padding: 5px 15px;
    border: 0;
    box-shadow: none;
  }

  &__button {
    flex: 1;
    margin-left: -10%;
    padding: 2%;
    white-space: nowrap;
  }

  &__button, &__phone input {
    font-size: 16px;
  }


  @media screen and (max-width: 480px) {
    &__button, &__phone input {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 420px) {
    &__button, &__phone input {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 350px) {
    &__button, &__phone input {
      font-size: 11px;
    }
  }
}
