.black-friday-product-price {
  &__label {
    color: #040404;
    font-weight: 500;
    font-size: 14px;
  }

  &__price {
    display: inline-block;
    margin-top: 12px;
    font-weight: 700;
    font-size: 44px;

    &_type {
      &_new {
        color: #040404;
        background-color: #FFD600;
        border-radius: 5px;
      }

      &_old {
        position: relative;
        box-sizing: border-box;
        padding: 6px 20px 10px;
        color: #040404;
        font-size: 24px;
        border: 1px solid #E7E7E7;
        border-radius: 4px;

        &:after {
          position: absolute;
          top: 40%;
          right: 19px;
          left: 8px;
          display: block;
          height: 2px;
          background-color: #CD0000;
          transform: rotate(
              -14deg);
          content: "";

        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    &__label {
      font-size: 12px;
      text-align: left;

      &_old {
        display: none;
      }
    }

    &__price {
      margin-top: 0;
      padding: 0 4px;
      font-size: 22px;

      &_type {
        &_old {
          color: #979797;
          font-weight: bold;
          font-size: 15px;
          border: none;

          &:after {
            right: 6px;
            left: -2px;
          }
        }
      }
    }
  }
}
