.block-planting-videos {
  &__heading {
    color: #303030;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
  }

  &__videos {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    min-height: 300px;
    margin-top: 40px;
  }

  &__item {
    //
  }

  &__video {
    display: block;
    background: grey;
  }

  &__video-title {
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    background: #9BCB35;
  }

  &__poster-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__poster {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__icon {
    position: absolute;
    color: rgba(0, 0, 0, 0.6);
    transition: color 0.2s;
  }

  &__poster-container:hover & {
    &__icon {
      color: red;
    }
  }

  @media screen and (max-width: 768px) {
    &__heading {
      font-size: 24px;
    }
    &__videos {
      grid-template-columns: 1fr;
    }
  }
}
