.base-client-gallery-control-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;


  &__control-bar-left {
    display: flex;
  }

  &__control-bar-item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__heart-button {
    padding: 0;
    background: none;
    border: none;
  }

  &__heart-button-active {
    animation-name: like;
    animation-duration: 0.55s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

@keyframes like {

  0% {
    color: black;
  }

  30% {
    transform: scale(0.9, 0.6);
  }

  70% {
    color: red;
    transform: scale(1.2, 1.2);
  }

  100% {
    color: red;
  }
}
