.mobile-grass-structure {
  padding: 100px 0;
  color: #FFFFFF;
  text-align: center;
  background: #21292C;

  &__heading {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 45px;
    line-height: 30px;
    letter-spacing: -0.04em;
    text-align: center;
  }

  &__structure {
    position: relative;
  }

  &__structure-image {
    margin-top: 20px;
  }

  &__comment {
    position: absolute;
    bottom: 0;
    left: 35%;
    color: #000000;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.05em;

    div:first-child {
      span {
        &:before {
          margin-right: 5px;
          color: #9BCB35;
          content: "*";
        }
      }
    }
  }


  &__structure-image, &__size-image {
    display: block;
    margin-right: 10px;
    margin-left: 10px;

    img {
      max-width: 100%;
      margin: 0 auto;
    }
  }

  &__size {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  &__size-heading {
    margin-right: -60px;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: -0.05em;
    text-align: left;
  }

  &__size-image-wrapper {
    position: relative;
  }

  &__size-width, &__size-length {
    font-size: 19px;
    line-height: 21px;
  }

  &__size-width {
    position: absolute;
    top: 80%;
    left: 10%;
  }

  &__size-length {
    position: absolute;
    top: 90%;
    left: 75%;
  }

  &__size-image {
    margin-top: 45px;
  }
}
