.bark-beetle-services {
  box-sizing: border-box;
  margin-top: 150px;
  padding: 0 95px 86px;
  color: white;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  background: url('resources/bg.jpg') no-repeat;
  background-size: cover;


  &__images {
    position: relative;
    top: -125px;
    margin-bottom: -125px;
  }

  &__top-text {
    max-width: 1100px;
    margin: 18px auto 0;
    font-weight: 500;
  }

  &__table-wrapper {
    margin-top: 38px;
  }

  &__table {
    width: 100%;
    font-weight: bold;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;

    th, td {
      padding: 20px;
      border: 2px solid #FFFFFF;
    }

    th {
      text-transform: uppercase;
    }
  }

  &__bottom-heading {
    margin-top: 56px;
    color: #E9BC38;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }

  &__bottom-text {
    max-width: 1000px;
    margin: 0 auto;
  }

  @media screen and (max-width: 900px) {
    margin-top: 65px;
    padding: 0 15px 20px;
    font-size: 16px;

    &__images {
      position: relative;
      top: -45px;
      margin-bottom: -45px;
    }


    &__bottom-heading {
      margin-top: 36px;
    }
  }
}
