<template>
  <video
    ref="video"
    :poster="poster"
    :controls="withControls"
    @pause="pause"
    @click="onClick"
  >
    <source ref="source" :type="type" />
  </video>
</template>
<script lang="ts">
import { defineComponent, ref, watch } from '@nuxtjs/composition-api'
import { baseVideoProps } from '~/components/base/base-video/props'

export default defineComponent({
  props: baseVideoProps,
  setup: (props, { refs, emit }) => {
    const started = ref(false)

    const openFullScreen = () => {
      if (!refs.video) {
        return
      }
      const video = refs.video as HTMLVideoElement
      if (video.requestFullscreen) {
        video.requestFullscreen()
        // @ts-ignore
      } else if (video.webkitRequestFullscreen) {
        // @ts-ignore
        video.webkitRequestFullscreen()
      }
    }
    const toggleVideoPlay = (playing: boolean) => {
      const video = refs.video as HTMLVideoElement
      const source = refs.source as HTMLSourceElement

      if (!source || !video || !props.video) {
        return
      }

      if (!started.value) {
        started.value = true
        source.src = props.video
        video.load()
      }

      if (playing) {
        video.play()
        if (props.autoFullscreen) {
          openFullScreen()
        }
      } else {
        video.pause()
      }
    }

    watch(
      () => started.value,
      (started) => {
        if (started) {
          emit('started')
        }
      }
    )

    watch(
      () => props.playing,
      (newValue) => {
        toggleVideoPlay(newValue)
      }
    )

    const onClick = () => {
      const video = refs.video as HTMLVideoElement
      if (props.playing) {
        video.pause()
      }
    }

    return {
      openFullScreen,
      onClick,
      pause: () => emit('pause')
    }
  }
})
</script>
