.desktop-checkout-content {
  &__heading {
    color: #111111;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: -0.03em;
    text-align: center;
  }

  &__inner {
    display: flex;
    margin-top: 30px;
  }

  &__left {
    flex-basis: 40%;
  }

  &__summary {
    position: sticky;
    top: 20px;
    margin-top: 24px;
  }

  &__right {
    flex-basis: 60%;
    margin-left: 38px;
  }

}
