.mobile {
  &__to-top-button {
    position: fixed;
    bottom: 75px;
    left: 10px;
    z-index: 10;
    margin-bottom: env(safe-area-inset-bottom);
  }

  &__button-line {
    position: fixed;
    right: 0;
    bottom: 30px;
    left: 0;
    z-index: 15;

    &_bottom {
      bottom: 0;
    }
  }

  &__video {
    position: fixed;
    right: 10px;
    bottom: 60px;
    bottom: calc(env(safe-area-inset-bottom) + 60px);
    z-index: 10;
  }
}
