.mobile-block-catalog {
  position: relative;

  &__products {
    margin: 30px 0 0;
  }

  &__back-wrapper {
    position: sticky;
    top: 10px;
    z-index: 1;
    margin-bottom: 45px;
  }
  &__back {
    margin-top: 10px;
    margin-bottom: -55px;
    margin-left: 10px;
  }
}
