@import "assets/mixins/webp-background";

.black-friday-video {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;

  &__video-container {
    position: relative;
    padding-bottom: calc((655 - 33 - 33) / (1123 - 185 - 153) * 100%);
  }

  &__video-backdrop {
    @include webp-background('./resources/backdrop.png');
    padding: calc(33 / 1123 * 100%) calc(153 / 1123 * 100%) calc(33 / 1123 * 100%) calc(185 / 1123 * 100%);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__video {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__additional-text {
    position: absolute;
    bottom: 20px;
    margin-top: 40px;
    color: white;
    font-size: 26px;
    font-style: italic;
    line-height: 1.35;
    text-align: center;
  }

  &__play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    color: #fff;
    background: linear-gradient(180deg, #EE3922 0%, #C71A18 100%);
    border: none;
    border-radius: 50%;
    box-shadow: 0 24px 65px rgba(255, 29, 29, 0.3), inset 0 3px 6px rgba(246, 127, 112, 0.66);
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  &__text {
    max-width: 320px;
    margin-left: 24px;
  }

  &__title {
    color: #FFF;
    font-weight: 800;
    font-size: 21px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &__subtitle {
    margin-top: 15px;
    color: #9D9D9D;
    font-size: 16px;
    line-height: 1.2;
  }

  @media screen and (max-width: 800px) {
    &__button-text {
      font-size: 20px;
      font-size: clamp(10px, 3.5vw, 30px);
    }
    &__additional-text {
      font-size: clamp(10px, 2.5vw, 20px);
    }

    &__play {
      width: 70px;
      height: 70px;

      svg {
        width: 20px;
      }
    }

    &__text {
      max-width: 160px;
      margin-left: 10px;
    }

    &__title {
      font-size: 11px;
    }

    &__subtitle {
      margin-top: 0;
      font-size: 9px;
    }
  }

  @media screen and (max-width: 425px) {
    &__text {
      max-width: 120px;
    }
  }
}
