.black-friday-plants {
  padding-bottom: 20px;
  
  &__title {
    font-size: 48px;
    letter-spacing: -0.04em;
    text-align: center;
  }

  &__items {
    margin-top: 40px;
  }

  @media only screen and (max-width: 800px) {
    padding: 0 10px;
    &__title {
      margin: 10px;
      padding: 4px;
      color: #000;
      font-size: 20px;
      background-image: linear-gradient(90deg, #f18813, #fed648);
      border-radius: 20px;
    }
  }
}
