.mobile-product-name {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;

  &__name {
    margin: 0;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -0.03em;
  }
}
