.block-youtube-video {
  background-color: #323232;
  &__poster {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button {
    position: relative;
    z-index: 2;

    &_animated {
      animation: buttonPulse 1s infinite;
    }
  }

  &__button-text {
    position: relative;
    z-index: 1;
    color: #111111;
    font-weight: 800;
    font-size: 35px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000000;
    content: "";
  }
}

@media screen and (max-width: 799px) {
  .base-video-block-with-button {
    &__button-text {
      font-size: 16px;
      line-height: 1.2;
    }

    &__button-line {
      margin: -8px 0;
      padding: 8px 8px 8px 50px;
    }
  }
}

@keyframes buttonPulse {
  from {
    transform: scale(1);
  }
  20% {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
