.mobile-block-service {
  position: relative;
  padding-bottom: 90px;

  &__heading-line {
    margin-top: 16px;
  }

  &__back {
    position: absolute;
    top: 60px;
    left: 9px;
    z-index: 10;
    margin-top: 70px;
  }

  &__phone {
    max-width: 250px;
    margin: 20px auto 0 auto;
  }

  &__images {
    margin-top: 20px;
  }

  &__price {
    margin-top: 20px;
    padding: 30px 40px 40px;
    text-align: center;
    background: #FAFAFA;
  }

  &__price-label {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
  }

  &__button {
    display: block;
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
    white-space: nowrap;
  }

  &__description-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
