.mobile-block-director {
  padding-top: 26px;
  background: #FAFAFA;

  &__cite {
    position: relative;
    max-width: 330px;
    margin: 10px 10px 30px;
    padding: 17px 30px 17px 20px;
    border: 3px solid #F3F3F3;
    border-radius: 4px;

    &:before {
      position: absolute;
      right: 15%;
      bottom: -15px;
      width: 35px;
      height: 15px;
      background: #FAFAFA url("./resources/angle.svg") no-repeat;
      content: "";
    }
  }

  &__heading {
    color: #000;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
  }

  &__text {
    margin-top: 14px;
    color: #444;
    font-size: 15px;
    line-height: 20px;
  }

  &__image-wrapper {
    position: relative;
  }

  &__image {
    width: 100%;
    height: auto;
    mix-blend-mode: darken;
  }

  &__stamp-wrapper {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    align-items: flex-start;
  }

  &__sign {
    max-width: 72px;
    height: auto;
  }

  &__stamp {
    width: 80px;
    height: auto;
    margin-right: -20px;
  }

  &__button-wrapper {
    position: absolute;
    right: 0;
    bottom: 35px;
    left: 0;
    z-index: 1;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 0 10px;
  }

  &__button {
    max-width: 300px;
    margin: 0 auto;
  }
}
