.video-reviews {
  display: grid;
  grid-gap: 37px;
  padding: 36px 10px 32px;
  background: #FFFFFF;
  box-shadow: 0 17px 43px rgba(0, 0, 0, 0.15);
  border-radius: 26px;

  &__image-bg {
    width: 100%;
    height: auto;
  }

  &__review-title {
    font-weight: 800;
    font-size: 27px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #000000;
  }
}
