.mobile-vacancy-form {
  &__field-wrapper {
    margin-top: 12px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__field {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 25px;
    border: 1px solid #F0F0F0;
    border-radius: 100px;
    box-shadow: 0 1px 0 #F0F0F0;

    &_error {
      background: #f8e4e9;
    }

    input {
      width: 100%;
      color: #3E3E3E;
      font-size: 18px;
      line-height: 14px;
      background: none;
      border: 0;
      outline: none;
    }
  }

  &__field-icon {
    min-width: 16px;
    margin-right: 12px;
    color: #62AB5C;
  }

  &__button {
    width: 100%;
    padding: 25px 10px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50px;
  }

  &__privacy {
    margin-top: 14px;
    color: #7C7C7C;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.03em;
    text-align: center;
    a {
      color: #9BCB35;
    }
  }
}

