.mobile-vacancy-item {
  &__top-line {
    display: flex;
    align-items: flex-start;
    padding: 23px 23px 35px;
    background: #FFFFFF;
    border-radius: 11px;
    box-shadow: 6px 0 40px rgba(0, 0, 0, 0.04);
  }

  &__image {
    width: 89px;
    margin-right: 18px;
  }

  &__heading {
    color: #111111;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.05em;
  }

  &__leading {
    margin-top: 14px;
    color: #767676;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.05em;
    white-space: pre-wrap;
  }

  &__items {
    margin: 28px 0 0;
    padding: 0 40px;
    color: #565656;
    font-size: 15px;
    line-height: 18px;
    list-style-type: none;
  }

  &__item {
    display: flex;
    margin: 20px 0 0;
    padding: 0;

    &:before {
      box-sizing: border-box;
      width: 8px;
      min-width: 8px;
      height: 8px;
      margin-top: 4px;
      margin-right: 20px;
      border: 2px solid #9BCB35;
      border-radius: 50%;
      content: ''
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__price {
    margin-top: 16px;
    color: #111111;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.2;
    letter-spacing: -0.05em;
    text-align: center;
  }

  &__price-number {
    margin: 0 3px;
    font-size: 16px;
  }

  &__button-wrapper {
    margin-top: 15px;
  }

  &__button {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 22px 35px;
    color: #030303;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    border-radius: 100px;
  }

  &__button-icon {
    margin-bottom: 2px;
    margin-left: 10px;
    color: #9BCB35;
  }
}
