.review-content {
  position: relative;
  padding: 13px 15px;

  &__heading-line {
    display: flex;
    align-items: center;
  }

  &__heading-wrapper {
    flex: 1;
    margin-left: 15px;
  }

  &__heading {
    color: #B74746;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.1;
    text-transform: uppercase;
  }

  &__leading {
    color: #3d3d3d;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    background: none;
    border: 0;
  }


  &__form {
    margin-top: 30px;
  }

  &__field-wrapper {
    margin-top: 14px;

    &:first-child {
      margin-top: 0;
    }

    textarea {
      resize: vertical;
    }
  }

  &__label {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
  }

  &__field {
    box-sizing: border-box;
    width: 100%;
    margin-top: 8px;
    padding: 8px 12px;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #ADB4BB;
    border-radius: 3px;

    &::placeholder {
      color: #bcbcbc;
    }
  }

  &__policy {
    margin-top: 5px;
    font-size: 13px;
    text-align: center;
  }

  &__button-wrapper {
    margin-top: 15px;
  }

  &__error-message {
    margin-top: 20px;
    padding: 10px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    background: #B74746;
    border: 0;
    border-radius: 3px;
  }
}
