<template>
  <div :class="c()">
    <div :class="c('heading')">
      <div :class="c('heading-text')">{{ heading }}</div>
      <base-icon :name="icon" :width="80" :class="c('heading-icon')" />
    </div>
    <div :class="c('leading')">
      <div :class="c('leading-text')">{{ seasonItem.title }}</div>
    </div>
    <!-- eslint-disable-next-line vue/no-v-html -->
    <div :class="c('text')" v-html="seasonItem.text"></div>
    <div :class="c('images')">
      <div
        v-for="image of seasonItem.images"
        :key="image.src"
        :class="c('image')"
      >
        <img :src="image.src" :width="image.width" :height="image.height" />
      </div>
    </div>
  </div>
</template>

<script>
import { cn } from '~/support/utils/bem-classnames'
import { BaseIcon } from '~/components/base/base-icon/base-icon'

const c = cn('care-season-item')

export default {
  name: 'CareSeasonItem',
  components: { BaseIcon },
  props: {
    seasonItem: {
      type: Object,
      required: true
    },
    icon: {
      type: String,
      required: true
    },
    heading: {
      type: String,
      required: true
    }
  },
  methods: {
    c
  }
}
</script>
<style lang="scss">
.care-season-item {
  font-size: 16px;

  &__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f8bd21;
    font-weight: bolder;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
  }

  &__heading-icon {
    margin-left: 20px;
    color: #f8bd21;
  }

  &__leading {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
  }

  &__leading-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 60px;
    margin-bottom: 1.5em;
    padding: 0.5em 1.5em;
    color: #000;
    font-weight: 700;
    font-size: 1.6em;
    text-align: center;
    text-transform: uppercase;
    background-color: #f8bd21;
    border-radius: 3px;

    &:before {
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -14px;
      border-top: 14px solid #f8bd21;
      border-right: 14px solid transparent;
      border-bottom: 0;
      border-left: 14px solid transparent;
      content: '';
    }
  }

  &__text {
    max-width: 1100px;
    margin: 0 auto;
    font-size: 1.2em;
  }

  &__images {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  &__image {
    margin: 0 10px;
    overflow: hidden;
    border: 3px solid #f8bd21;
    border-radius: 50%;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}
</style>
