.checkout-products {
  width: 100%;
  border: 0;
  border-spacing: 0;

  &__product-separator {
    height: 40px;
  }

  @media screen and (max-width: 799px) {
    &__product-separator {
      height: 10px;
    }
  }
}
