.base-loading-ellipsis {
  &__item {
    position: absolute;
    top: 50%;
    width: 11px;
    height: 11px;
    margin-top: -5px;
    background: #fff;
    border-radius: 50%;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    &:nth-child(1) {
      left: calc(50% - 20px);
      animation: lds-ellipsis1 0.6s infinite;
    }

    &:nth-child(2) {
      left: calc(50% - 20px);
      animation: lds-ellipsis2 0.6s infinite;
    }

    &:nth-child(3) {
      left: 50%;
      animation: lds-ellipsis2 0.6s infinite;
    }

    &:nth-child(4) {
      left: calc(50% + 19px);
      animation: lds-ellipsis3 0.6s infinite;
    }
  }

  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
}
