.block-corona-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0;
  border: 1px dashed #9BCB35;

  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__icon {
    margin-right: 20px;
  }

  &__item-title {
    color: #000000;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: -0.05em;
  }

  @media screen and (max-width: 1000px) {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: auto auto;
    //justify-items: center;
    white-space: nowrap;
  }

  @media screen and (max-width: 600px) {
    grid-gap: 15px 3%;
    padding: 20px 1%;
    &__item-title {
      font-size: 14px;
      line-height: 17px;
    }

    &__icon {
      max-width: 33px;
      margin-right: 10px;
    }
  }
}
