.universal-block-image-grid {
  max-width: 1230px;
  margin: 0 auto;
  padding: 30px 15px;

  &__heading {
    font-weight: bold;
    font-size: 42px;
    line-height: 1;
    text-align: center;
  }

  &__items {
    margin-top: 40px;
  }

  @media screen and (max-width: 768px) {
    &__heading {
      font-size: 26px;
    }

    &__items {
      margin-top: 20px;
    }
  }
}
