.shipping-table {
  border: 0;
  border-spacing: 0;

  td, th {
    border: 0;
  }

  thead th {
    font-weight: bold;
  }

  tbody, tfoot {
    th {
      font-weight: 400;
    }

    td {
      font-weight: 500;
    }
  }

  tbody tr:nth-child(odd) {
    background: #FAFAFA;
  }

  &__line-heading {
    text-align: center;
  }


  @media screen and (min-width: 800px) {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.03em;
    text-align: left;

    td, th {
      padding: 15px 2px 15px 13px;
    }
    thead th {
      color: #92B940;
    }
    tbody {
      th {
        font-weight: 500;
      }

      td {
        font-weight: bold;
      }
    }
  }

  @media screen and (max-width: 799px) {
    color: #111111;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    td, th {
      padding: 7px 10px;
    }
  }
}
