.base-mobile-bottom-line-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 56px;

  &__icon {
    color: black;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__text {
    margin-top: 6px;
    color: #070707;
    font-size: 10px;
    line-height: 110%;
  }
}
