.mobile-block-video-reviews {
  &__heading {
    color: #111111;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: -0.03em;
    text-align: center;
  }

  &__items {
    margin-top: 15px;
    padding: 0 20px;
  }

  &__button {
    box-shadow: 0 -1px var(--shadow-color) inset;
  }

  &__poster {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
