.mobile-grass-heading {
  padding: 0 15px;
  color: #FFFFFF;
  font-weight: bold;
  letter-spacing: -0.05em;
  text-align: center;

  &__heading {
    margin-top: 25px;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    text-shadow: 0 0 2px #000000, 0 0 2px #000000;
  }

  &__leading {
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px;
    text-shadow: 0 0 1px #000000, 0 0 1px #000000;
  }

  &__phone {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    white-space: pre-wrap;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0 0 2px #000;
  }

  &__phone-icon {
    margin-right: 15px;
  }
}
