.base-client-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: min-content;

  &__image {
    width: auto;
    max-height: 80%;
    background-color: #d7d6d6;
  }

  &__content {
    padding: 10px 22px 40px;
    background-color: white;
  }

  &__text {
    margin-top: 20px;
    font-weight: 500;
    font-size: 28px;
  }
}
