.base-dashed-button {
  text-align: center;
  text-decoration: none;
  background: none;
  border-radius: 50px;
  cursor: pointer;

  &_color {
    &_white {
      color: #fff;
      border: 1px dashed rgba(255, 255, 255, 0.2);
    }

    &_black {
      color: #000000;
      border: 1px dashed rgba(0, 0, 0, 0.2);
    }
  }

  &_size {
    &_l {
      padding: 13px 20px;
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
    }

    &_s {
      padding: 8px 13px;
      font-size: 10px;
      line-height: 1.2;
    }

    &_xs {
      padding: 5px 7px;
      font-size: 9px;
      line-height: 1.2;
    }
  }

}
