.base-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;

  &_size {
    &_s {
      padding: 13px;
      font-weight: bold;
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }

    &_m {
      min-height: 65px;
      padding: 20px 30px;
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
    }

    &_l {
      min-height: 96px;
      padding: 20px 60px;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.06em;
      @media screen and (min-width: 800px) {
        text-transform: uppercase;
      }
    }
  }

  &_round {
    &_s {
      border-radius: 9px;
    }

    &_full {
      border-radius: 500px;
    }
  }
}

@media screen and (max-width: 799px) {
  .base-button {
    &_size {
      &_s {
        padding: 9px 15px;
        font-weight: 500;
        font-size: 13px;
        line-height: 17px;
        letter-spacing: -0.03em;
        text-transform: none;

      }
      &_m {
        min-height: 55px;
        padding: 15px 30px;
        font-size: 10px;
        line-height: 12px;
      }
      &_l {
        min-height: 60px;
        padding: 10px 30px;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.03em;
      }
    }
  }
}
