.mobile-modal-price-list-request {
  padding: 20px;

  &__heading-line {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
  }

  &__heading-icon {
    flex-basis: 48px;
    flex-shrink: 0;
    margin-right: 10px;
    --primary-color: #5DA657;
    --secondary-color: white;
  }

  &__heading {
    font-weight: bold;
    font-size: 15px;
  }

  &__form {
    margin-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
  }

  &__button {
    margin-top: 15px;
  }

  &__button-icon {
    margin-right: 10px;
  }
}
