.black-friday-heading {
  position: relative;
  padding-top: 15px;
  padding-bottom: 58px;
  overflow: hidden;

  &__stripe {
    position: absolute;
    top: 70%;
    pointer-events: none;

    &_type {
      &_left {
        right: 0;
        transform: rotate(30deg);
      }

      &_right {
        left: 0;
        transform: rotate(-30deg);
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: white;
  }

  &__date {
    padding: 0.75em 1.25em;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    background-color: #FFDA09;
  }

  &__heading {
    box-sizing: border-box;
    margin-top: 0.2em;
    padding: 13px 23px 8px;
    font-weight: 900;
    font-size: 90px;
    line-height: 1.2;
    letter-spacing: -3px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, .2);

    b {
      color: #fb4142;
      font-weight: 900;
    }
  }

  &__leading {
    box-sizing: border-box;
    max-width: 640px;
    margin-top: 0.7em;
    padding: 0 10px;
    font-weight: 500;
    font-size: 23px;
    text-align: center;

    span {
      color: #FBDD5C;
    }
  }

  &__bottom-line {
    margin-top: 40px;
  }

  &__slogan {
    max-width: 200px;
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }


  &__sticky-line {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    transform: translateY(-100px);
    visibility: hidden;
    transition: transform 0.3s;

    &_visible {
      transform: translateY(0);
      visibility: visible;
    }
  }

  @media (max-width: 1200px) {
    &__stripe {
      top: 55%;
    }
  }


  @media screen and (max-width: 1024px) {
    padding-bottom: 82px;

    &__stripe {
      top: 30%;
    }

    &__heading {
      font-size: 49px;
    }

    &__leading {
      font-size: 20px;
    }
  }

  @media (max-width: 870px) {
    &__stripe {
      top: 18%;
    }
  }

  @media screen and (max-width: 800px) {
    padding-bottom: 160px;

    &__stripe {
      top: auto;
      bottom: -217px;

      &_type {
        &_left {
          left: -130px;
          transform: rotate(0deg);
        }

        &_right {
          display: none;
        }
      }
    }
    &__content {
      margin-top: 15px;
    }
    &__bottom-line {
      margin-top: 15px;
    }
  }
}
