.desktop-heading-button {
  display: flex;
  align-items: center;
  padding-top: 4px;
  color: white;
  text-align: center;
  background: none;
  border: 0;
  cursor: pointer;

  &__icon {
    svg {
      margin: 0 auto;
    }
    margin-right: 5px;
  }

  &__text {
    font-size: 16px;
    line-height: 22px;
  }
}
