.heading-wrapper {
  position: relative;

  &__overlay {
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(0.3);
    }
  }

  //&__decor {
  //  position: absolute;
  //  &_type {
  //    &_bush {
  //      right: 0;
  //      bottom: 0;
  //    }
  //    &_leaf1 {
  //      top: 120px;
  //      left: 0;
  //    }
  //    &_leaf2 {
  //      top: 65%;
  //      left: 60px;
  //    }
  //    &_leaf3 {
  //      top: 50%;
  //      left: 120px;
  //    }
  //    &_leaf4 {
  //      top: 67%;
  //      left: 10px;
  //    }
  //  }
  //}

  &__inner {
    position: relative;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
  }


  //@media screen and (max-width: 1600px) {
  //  &__decor {
  //    position: absolute;
  //    &_type {
  //      &_bush {
  //        right: calc(50% - 800px);
  //      }
  //      &_leaf1 {
  //        left: calc(50% - 800px);
  //      }
  //      &_leaf2 {
  //        left: calc(50% - 800px + 60px);
  //      }
  //      &_leaf3 {
  //        left: calc(50% - 800px + 120px);
  //      }
  //    }
  //  }
  //}

  @media screen and (max-width: 800px) {
    &__inner {
      padding-right: 4px;
      padding-left: 4px;
    }
    //&__decor {
    //  position: absolute;
    //  &_type {
    //    &_bush {
    //      display: none;
    //    }
    //    &_leaf1 {
    //      top: 34%;
    //      left: 0;
    //    }
    //    &_leaf2 {
    //      top: 40%;
    //      right: 10px;
    //      left: auto;
    //    }
    //    &_leaf3 {
    //      top: 28%;
    //      right: -10px;
    //      left: auto;
    //    }
    //  }
    //}
  }
}
