.mobile-block-bark-beetle {
  &__header {
    position: relative;
    padding: 5px 0 10px;
    background-size: cover;


    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #000;
      opacity: 0.6;
      content: '';
    }
  }

  &__header-inner {
    position: relative;
    z-index: 1;
  }

  &__header-middle {
    margin-top: 10px;
    padding: 0 10px;
  }

  &__header-icons {
    margin-top: 30px;
  }
}
