.sale-until {
  font-size: 14px;
  line-height: 15px;

  &__accent {
    color: #E03232;
    font-weight: bold;
  }

  @media screen and (max-width: 799px) {
    font-size: 13px;
    letter-spacing: -0.03em;
    &__accent {
      display: block;
    }
  }
}
