.black-friday-product-group {
  &__title {
    font-weight: 900;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
  }

  &__products {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
    margin-top: 25px;
  }

  @media screen and (max-width: 1080px) {
    &__products {
      grid-template-columns: 100%;
      margin-top: 10px;
    }
    &__title {
      &_mobile-hidden {
        display: none;
      }
    }
  }

  @media only screen and (max-width: 420px) {
    &__title {
      margin: 0 10px;
      padding: 10px 0;
      font-size: 25px;
      background-image: linear-gradient(180deg, #FFDF32 0%, #FFD900 100%);
      border-radius: 20px;
    }
  }
}
