.menu-provider {
  &__container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 30;
    width: 375px;
    overflow: auto;
    background: white;
    transform: translateX(-100%);
    transition: transform 0.3s;

    &_open {
      transform: translateX(0);
    }

    &_mobile {
      right: 0;
      width: auto;
    }
  }

  &__menu {
    min-height: 100%;
  }

  &__menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    background: rgba(0, 0, 0, 0.1);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s linear, opacity 0.3s;

    &_open {
      visibility: visible;
      opacity: 1;
    }
  }
}
