.mobile-catalog-products {
  display: grid;
  grid-gap: 25px 20px;
  grid-template-columns: minmax(125px, 138px) repeat(auto-fill, minmax(125px, 138px));
  justify-content: center;
  padding: 20px;
}
