@import 'assets/keyframes/vertical-animation';

.planting-service-button {
  &__wrapper {
    display: flex;
    align-items: center;
    padding: 22px 15px 43px;
    border: 3px solid #F5F5F5;
    border-radius: 10px;
  }
  &__image-wrapper {
    width: 123px;
    text-align: center;
  }
  &__image {
    display: block;
  }
  &__text {
    margin-left: 17px;
  }
  &__arrow {
    @extend %vertical-animation;
    margin-left: 23px;
  }
  &__heading {
    color: #111111;
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.03em;
  }
  &__leading {
    display: flex;
    align-items: center;
    margin-top: 13px;
    line-height: 27px;
  }
  &__percent {
    font-weight: 500;
    font-size: 27px;
  }
  &__from-price {
    margin-left: 12px;
    font-size: 17px;
  }
  &__button-line {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__button {
    margin-top: -33px;
  }
}
