.base-video-poster {
  position: relative;
  display: flex;

  &__poster {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button {
    z-index: 2;
  }

  &__button-text {
    position: relative;
    z-index: 1;
    margin-left: -25px;
    color: #111111;
    font-weight: 800;
    font-size: 35px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
  }

  @media (max-width: 600px) {
    &__button-text:not(.hack-for-more-specificity) {
      display: none;
    }
  }
}
