<template>
  <header :class="c()">
    <BaseOverlay :class="c('overlay')"
      ><img src="../images/bg.jpg" alt=""
    /></BaseOverlay>
    <div :class="c('inner')">
      <HeadingTopLine />
      <div :class="c('content')">
        <h1 :class="c('title')">Профессиональный уход за садом и участком</h1>
        <div :class="c('subtitle')">
          Выполняем полный спектр услуг по уходу за садом. Приведем ваш участок
          в идеальное состояние за 1 день
        </div>
        <BaseButton
          size="l"
          :color="Color.red"
          :class="c('btn')"
          @click="openModal"
          >Рассчитать стоимость работ</BaseButton
        >
      </div>
    </div>
  </header>
</template>

<script>
import { cn } from '~/support/utils/bem-classnames'
import { BaseOverlay } from '~/components/base/base-overlay/base-overlay'
import { HeadingTopLine } from '~/components/blocks/shared-components/heading/heading-top-line/desktop/heading-top-line'
import { BaseButton } from '~/components/base'
import { Color } from '~/components/theme/theme-button'
import { useModalOpener } from '~/support/hooks/useModalOpener'

const c = cn('block-landscape-heading')
export default {
  name: 'BlockLandscapeHeading',
  components: { HeadingTopLine, BaseOverlay, BaseButton },
  setup() {
    const modalOpener = useModalOpener()
    const openModal = () => {
      modalOpener({
        name: 'callback',
        source: 'Рассчитать стоимость работ'
      })
    }

    return { openModal, Color, c }
  }
}
</script>

<style lang="scss">
.block-landscape-heading {
  position: relative;
  padding-top: 25px;
  padding-bottom: 250px;

  &__overlay {
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
      opacity: 0.4;
      content: '';
    }
  }

  &__inner {
    position: relative;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
  }

  &__content {
    max-width: 914px;
    margin: 48px auto 0;
    color: #ffffff;
    line-height: 1.2;
    text-align: center;
  }

  &__title {
    margin: 0;
    font-weight: 800;
    font-size: 58px;
    text-transform: uppercase;
  }

  &__subtitle {
    margin-top: 20px;
    font-size: 20px;
  }

  &__btn {
    margin-top: 30px;
  }
}
</style>
