@import "assets/mixins/webp-background";

.mobile-block-vacancy {


  &__top-blocks {
    position: relative;
    padding-top: 13px;
    padding-bottom: 25%;
    background: no-repeat bottom / contain;
    @include webp-background('./resources/top-background.jpg');

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 67vw;
      left: 0;
      z-index: -1;
      background: linear-gradient(to bottom, #EAEFF7, #fff);
      content: '';
    }
  }

  &__heading {
    //
  }

  &__video {
    margin-top: 10px;
  }

  &__promo {
    //
  }

  &__item {
    margin-top: 50px;
  }

  &__items {
    padding-bottom: 38px;
  }

  &__form {
    padding-top: 42px;
    padding-bottom: 33px;
    background: #FAFAFA;
  }

  &__footer {
    padding-top: 29px;
  }
}
