.mobile-block-phone-button {
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  font-size: 28px;

  &:after {
    animation: blinkSlide 4s ease-in-out infinite both;
    background-color: #fff;
    content: "";
    height: 60px;
    position: absolute;
    right: 100%;
    top: 0;
    width: 100%;
  }
}

@keyframes blinkSlide {
  0% {
    transform: translateX(-120%) rotate(-45deg)
  }

  50% {
    transform: translateX(-120%) rotate(-45deg)
  }

  to {
    transform: translateX(200%) rotate(-45deg)
  }
}
