.mobile-block-footer {
  padding-top: 20px;
  padding-bottom: calc(env(safe-area-inset-bottom) + 80px);


  &__nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }

  &__nav-menu-item {
    display: flex;
    flex-basis: 33%;
    flex-grow: 1;
    justify-content: center;
    margin-top: 10px;
    list-style: none;
  }

  &__nav-menu-button {
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    background: none;
    border: none;
  }

  &__nav-menu-link {
    color: inherit;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
  }

  &__phone, &__email {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: #1d1d1d;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-decoration: none;
  }

  &__phone-icon, &__email-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-right: 12px;
    border-radius: 50%;
    color: #9DC510;
    background: none;
  }

  &__socials {
    margin-top: 20px;
    padding-bottom: 12px;
    color: white;
    border-bottom: 1px solid #EFEFEF;
  }

  &__link-list {
    margin: 10px 0 8px;
    padding: 0 24px 0;
  }

  &__privacy-policy-line {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 15px;
  }

  &__privacy-link {
    color: #999;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -.04em;
    text-decoration: none;
  }

  &__bottom-line {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 15px;
  }

  &__copyright {
    color: #999;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
  }

  &__legal {
    color: #999;
    font-size: 12px;
    line-height: 16px;
    white-space: pre-wrap;
  }
}
