.desktop-lp-product {
  &__heading {
    color: #000000;
    font-weight: bold;
    font-size: 43px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
  }

  &__leading {
    margin-top: 15px;
    color: #000000;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  }

  &__product-info {
    max-width: 1000px;
    margin: 45px auto 0;
  }

  &__product-sale {
    margin-top: 30px;
  }

  &__footer {
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #37543B;
  }
}
