.mobile-checkout-content {
  padding: 12px 0;
  &__heading, &__product-heading {
    color: #111111;
    font-weight: bold;
    font-size: 26px;
    line-height: 27px;
    letter-spacing: -0.03em;
    text-align: center;
  }

  &__form {
    margin-top: 35px;
    padding: 0 15px;
  }

  &__product-heading {
    margin-top: 20px;
  }

  &__products {
    margin-top: 8px;
  }

  &__summary {
    margin-top: 12px;
  }
}
