@import "assets/mixins/webp-background.scss";

.modal-video-call {
  background: no-repeat bottom / contain;
  @include webp-background('./resources/background.jpg');

  &__wrapper {
    display: flex;
    padding: 0 50px 0 20px;
  }

  &__photo {
    display: block;
    align-items: flex-end;
    margin-top: 5%;

    img {
      display: block;
    }
  }

  &__info {
    align-self: center;
    margin-left: 7%;
  }

  &__heading {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 38px;
    line-height: 1.2;
  }

  &__form-line {
    display: flex;
  }

  &__form-wrapper {
    margin-left: 30px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
  }

  &__phone {
    order: -1;
    margin-top: 30px;
  }

  &__button {
    margin-top: 30px;
  }
}
