.block-google-table-instructions {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;

  &__heading {
    margin: 40px 60px;
    font-weight: bold;
    font-size: 35px;
    line-height: 1.1;
    letter-spacing: -0.05em;
  }

  &__video {
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 0 3px 10px #999999;
  }

  &__button-wrapper {
    margin-top: 20px;
    text-align: center;
  }

  &__link-text {
    display: block;
    margin-top: 10px;
    padding: 20px 40px;
    color: black;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__link-image-wrapper {
    display: block;
  }

  &__link-image {
    max-width: 100%;
  }

  &__arrow {
    display: block;
    width: 300px;
    margin: 0 auto;
  }

  &__iframe {
    width: 100%;
    margin-top: 10px;
    border: solid 1px #dddddd;
  }

  &__tabs {
    flex-wrap: wrap;
    justify-content: center;
    button {
      padding: 10px 25px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }

  &__phone-icon {
    margin-right: 15px;
  }

  @media screen and (max-width: 800px) {
    &__heading {
      margin: 20px 20px 10px;
      font-size: 18px
    }
    &__button-wrapper {
      margin: 20px;
    }
    &__link-text {
      padding: 5px 0;
      font-size: 18px;
    }

    &__arrow {
      width: 100px;
    }

    &__iframe {
      height: 80vh!important;
    }
  }
}
