.modal-large-orders {
  position: relative;
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__content {
    padding: 53px 0 74px;
    text-align: center;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    color: #1C1C1C;
  }

  &__contacts {
    display: grid;
    grid-gap: 30px;
    justify-content: center;
    margin-top: 30px;
  }

  &__contact-title {
    font-weight: normal;
    font-size: 24px;
    color: #060606;
  }

  &__contact-link {
    display: flex;
    grid-gap: 8px;
    align-items: center;
    font-weight: 700;
    font-size: 38px;
    color: #EB1217;
    text-decoration: none;
  }

  @media screen and (max-width: 760px) {
    &__title {
      font-size: 24px;
    }
    &__contact-title {
      font-size: 16px;
    }
    &__contact-link {
      font-size: 24px;
    }
  }
}
