.bark-beetle-icons {
  display: flex;
  justify-content: center;

  &__icon {
    width: 250px;
    height: 250px;
    margin: 0 30px;
    object-fit: cover;
    border: 4px solid #FFFFFF;
    border-radius: 50%;
  }

  @media screen and (max-width: 900px) {
    &__icon {
      width: 90px;
      height: 90px;
      margin: 0 10px;
    }
  }

  @media screen and (max-width: 350px) {
    &__icon {
      width: 80px;
      height: 80px;
      margin: 0 5px;
    }
  }
}
