.base-slider-with-thumbs {
  display: flex;

  &__slider {
    margin-right: 16px;
  }

  &__slider-image {
    display: flex;
    object-fit: cover;
    border-radius: 7px;
    cursor: pointer;
  }

  &__thumbs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__thumb {
    padding: 0;
    overflow: hidden;
    background: none;
    border: 0;
    border-radius: 7px;
    outline: none;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__thumb-image {
    display: block;
    object-fit: cover;
    cursor: pointer;
  }
}
