.service-images {
  display: grid;
  grid-gap: 16px;
  width: 489px;

  &__main {
    overflow: hidden;
    border-radius: 7px;
  }

  &__item {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__gallery {
    display: grid;
    grid-gap: 16px;
  }

  &__gallery-item {
    padding: 0;
    background: none;
    border: 0;
  }

  &__gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  }

  &_orientation {
    &_vertical {
      grid-template-columns: 378px 100px;
      height: 504px;

      .service-images__gallery {
        grid-auto-flow: row;
        grid-template-columns: 100%;
      }
    }

    &_horizontal {
      grid-template-rows: 336px 108px;

      .service-images__gallery {
        grid-auto-flow: column;
        grid-template-rows: 100%;
      }
    }
  }
}
