.mobile-grass-structure {
  padding: 40px 0;
  color: #FFFFFF;
  text-align: center;
  background: #21292C;

  &__heading {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.04em;
  }

  &__structure-image {
    margin-top: 20px;
  }

  &__structure-image, &__size-image {
    display: block;
    margin-right: 10px;
    margin-left: 10px;

    img {
      max-width: 100%;
      margin: 0 auto;
    }
  }

  &__size-heading {
    margin-top: 10px;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.05em;
  }


  &__size-image-wrapper {
    position: relative;
  }

  &__size-width, &__size-length {
    font-size: 9px;
    line-height: 21px;
  }

  &__size-width {
    position: absolute;
    top: 82%;
    left: 65%;
  }

  &__size-length {
    position: absolute;
    top: 82%;
    left: 16%;
  }

  &__size-image {
    margin-top: 30px;
  }

  &__comment {
    margin: 30px 30px 0;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.05em;

    span {
      color: #9BCB35;
    }
  }
}
