.desktop-grass-content {
  padding-top: 1px;

  &__items {
    max-width: 1100px;
    margin: 100px auto 0;
  }

  &__pallet {
    margin-top: -75px;
  }

  &__video {
    margin-top: 40px;
  }

  &__objects {
    margin-top: 60px;
  }

  &__categories {
    margin-top: 30px;
  }

  &__back-container {
    position: sticky;
    top: 0;
    z-index: 1;
    max-width: 1400px;
    margin: 0 auto;
  }

  &__back {
    position: absolute;
    margin-top: 10px;
    font-size: 16px;
  }

  &__back-icon {
    margin-right: 10px;
  }
}
