html, body {
  margin: 0;
  font-family: 'Acrom', Arial, sans-serif;
  scroll-behavior: smooth;
}
button {
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  touch-action: manipulation;
}
button:focus {
  outline: none;
}
.v--modal.v--modal {
  border-radius: 10px;
}
.v--modal-overlay.scrollable.scrollable {
  bottom: 0;
  min-height: auto;
}
.v--modal-overlay .v--modal-box.v--modal-box {
  overflow: visible;
}
.grass-page-blocked-scroll {
  width: 100vw;
  overflow: hidden;
}
.v--modal-block-scroll {
  --right-offset: var(--scroll-bar-size, 0);
  width: auto!important;
  padding-right: var(--scroll-bar-size, 0);
}
