<template>
  <div :class="c()">
    <div :class="c('inner')">
      <div :class="c('col')">
        <div :class="c('title')">Дмитрий Нагиев</div>
        <div :class="c('subtitle')">о сотрудничестве с нами</div>
        <div :class="c('quote')">
          <BaseIcon name="landscape/quote" :width="27" :height="22" />
          <div :class="c('quote-text')">
            ... у меня нет времени ездить и выбирать, они мне сами рассказали
            что мне нужно, привезли и посадили в течении полудня...
          </div>
          <div :class="c('quote-sign')">
            <span>EcoPlant</span> — рекомендую.
          </div>
        </div>
      </div>
      <div :class="c('poster')">
        <BaseVideoPoster
          :poster="poster"
          youtube-id="y9Qigd05e7E"
          :button-color="Color.red"
          :button-size="buttonSize"
        />
        <BaseBadgedText :class="c('tag')" :lines="lines" background="#FBDD5C" />
      </div>
      <div :class="c('logo-wrapper')">
        <img width="288" height="288" src="./images/tree.png" alt="" />
      </div>
    </div>
    <div :class="c('clients-wrapper')">
      <div :class="c('clients-title')">Наши клиенты</div>
      <BaseGrid v-if="result" :md="5" :sm="4" :class="c('clients')">
        <BaseVideoPoster
          v-for="(item, idx) of result.videoReviews.slice(1, 11)"
          :key="idx"
          :class="c('client')"
          :video-object="item.video"
          :poster-object="item.poster.desktop"
        />
      </BaseGrid>
    </div>
  </div>
</template>

<script>
import { computed, useContext } from '@nuxtjs/composition-api'
import poster from './images/nagiev.jpg'
import { cn } from '~/support/utils/bem-classnames'
import { BaseIcon } from '~/components/base/base-icon/base-icon'
import { BaseVideoPoster } from '~/components/base/base-video-poster/base-video-poster'
import { Color } from '~/components/theme/theme-button'
import { BaseBadgedText } from '~/components/base/base-badged-text/base-badged-text'
import { BaseGrid } from '~/components/base/base-grid/base-grid'
import { videoReviewsQuery } from '~/graphql/queries'
import { useGqlQuery } from '~/support/hooks/useGqlQuery'

const c = cn('block-landscape-partnership')
export default {
  name: 'BlockLandscapePartnership',
  components: { BaseGrid, BaseBadgedText, BaseVideoPoster, BaseIcon },
  setup() {
    const { $device } = useContext()
    const { result } = useGqlQuery(videoReviewsQuery, {})
    const lines = ['смотреть', 'видео-отзыв']
    const buttonSize = computed(() => ($device.isMobile ? 75 : 144))
    return { result, c, Color, poster, lines, buttonSize }
  }
}
</script>

<style lang="scss">
.block-landscape-partnership {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  color: #000;

  &__inner {
    position: relative;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  &__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    color: #1e1e1e;
    font-weight: 800;
    font-size: 48px;
    line-height: 1.2;
    text-transform: uppercase;
  }

  &__subtile {
    margin-top: 9px;
    color: #1e1e1e;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
  }

  &__quote {
    margin-top: 33px;
  }

  &__quote-text {
    padding: 0 80px 0 21px;
    color: #212121;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.8;
  }

  &__quote-sign {
    padding-left: 21px;
    font-weight: 800;
    font-size: 18px;

    span {
      color: #9bcb35;
    }
  }

  &__poster {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
  }

  &__tag {
    position: absolute;
    bottom: 30px;
    left: 25px;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.4;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-position: from-font;
    pointer-events: none;
  }

  &__logo-wrapper {
    position: absolute;
    left: 50%;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 5px 66px rgba(0, 0, 0, 0.09);
    transform: translateX(-50%);

    img {
      max-width: 144px;
      height: auto;
    }
  }

  &__clients-wrapper {
    margin-top: 72px;
  }

  &__clients-title {
    color: #1e1e1e;
    font-size: 28px;
    line-height: 1.2;
  }

  &__clients {
    margin-top: 13px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 15px 150px rgba(0, 0, 0, 0.1);
  }

  &__client {
    overflow: hidden;
    border-radius: 15px;
  }

  @media (max-width: 1000px) {
    &__title {
      font-size: 36px;
    }

    &__logo-wrapper {
      img {
        max-width: 100px;
      }
    }
  }

  @media (max-width: 768px) {
    &__inner {
      grid-template-columns: 1fr;
    }

    &__logo-wrapper {
      display: none;
    }

    &__clients {
      padding: 0;
      background-color: transparent;
      box-shadow: none;
    }
  }

  @media (max-width: 500px) {
    &__title {
      font-size: 24px;
      text-align: center;
    }

    &__subtitle {
      text-align: center;
    }

    &__quote {
      margin-top: 7px;
    }

    &__quote-text {
      padding-right: 0;
      font-size: 13px;
      line-height: 1.4;
    }

    &__tag {
      bottom: 12px;
      left: 12px;
      font-size: 13px;
    }

    &__clients-wrapper {
      margin-top: 40px;
    }

    &__clients-title {
      font-size: 16px;
      text-align: center;
    }
  }
}
</style>
