.mobile-heading-sale-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 87px;
  height: 38px;
  text-decoration: none;
  background: linear-gradient(180deg, #E03D3D 0%, #D22626 100%);
  border-radius: 36px;
  box-shadow: 1px 1px 0 #992C2C;

  &__text {
    padding-left: 6px;
    color: white;
    font-weight: 800;
    font-size: 18px;
  }
}
