.mobile-phone-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  border-radius: 50px;

  &__icon {
    margin-right: 10px;
  }
}
