.mobile-catalog-week-sale {
  color: white;
  font-weight: 800;
  font-size: 40px;
  line-height: 22px;
  background: #D42929;

  &__heading-wrapper {
    flex-grow: 1;
  }

  &__heading {
    padding-top: 15px;
    font-weight: 800;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
  }

  &__leading {
    position: relative;
    margin-top: 10px;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 40px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 3px #AA4A4A;
  }

  &__icon {
    position: absolute;
    top: -18px;
    margin-left: -22px;
    color: white;
  }
}
