.mobile-block-awards {
  &__heading {
    color: #111111;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: -0.03em;
    text-align: center;
  }

  &__inner-heading {
    display: inline-block;
    padding: 6px 25px;
    background: url('../common/awards-title/resources/left.svg') left center no-repeat, url('../common/awards-title/resources/right.svg') right center no-repeat, url('../common/awards-title/resources/top.svg') center top no-repeat;
  }

  &__items {
    margin-top: 25px;
    padding: 0 20px;
  }

  &__button-wrapper {
    margin-top: 18px;
    text-align: center;
  }
}
