%green {
  color: white;
  background: #9BCB35;
  --base-color: #9BCB35;
  --second-color: #5DA657;
  --shadow-color: #416B3E;
}

%red {
  color: white;
  background: #E03232;
  --base-color: #E03232;
  --second-color: #D22626;
  --shadow-color: #B44D4D;
}

%yellow {
  color: black;
  background: #FBDD5C;
  --base-color: #FBDD5C;
  --second-color: #FBDD5C;
  --shadow-color: #E6C950;
}
