@mixin gradient {
  background: linear-gradient(180deg, var(--base-color) 0%, var(--second-color) 100%);
}

@mixin outline {
  color: black;
  background: white;
  box-shadow: 0 0 0 1px var(--base-color) inset;
}
