.mobile-grass-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image-wrapper {
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: center;
  }

  &__image {
    max-width: 140px;
  }

  &__heading {
    margin-top: 10px;
    color: #000000;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    letter-spacing: -0.01em;
    text-align: center;
    span {
      display: block;
      text-align: center;
    }
  }

  &__price {
    position: relative;
    z-index: 1;
    align-items: flex-end;
    align-self: flex-end;
    margin-bottom: -10px;
  }

  &__price-label {
    align-self: center;
  }

  &__price-old-value {
    margin-right: 2px;
  }

  &__button {
    min-height: 40px;
    margin-top: 10px;
    padding: 10px 25px;
    font-weight: 500;
    font-size: 9px;
    line-height: 1.2;
    text-transform: uppercase;
  }
}
