<template>
  <div :class="cn()">
    <desktop-block-heading-one-line v-if="!$device.isMobileOrTablet" />
    <div :class="cn('error')">
      <div :class="cn('error-header')">{{ error.statusCode }}</div>
      <div :class="cn('error-text')">{{ getErrorText(error.statusCode) }}</div>
      <base-button
        :class="cn('error-button')"
        :size="$device.isMobileOrTablet ? 'm' : 'l'"
        to="/"
      >
        <span>На главную</span>
      </base-button>
    </div>
    <footer-bottom />
  </div>
</template>

<script>
import { DesktopBlockHeadingOneLine } from '~/components/blocks/block-heading-one-line/desktop/desktop-block-heading-one-line'
import { cn as cnFabric } from '~/support/utils/bem-classnames'
import { BaseButton } from '~/components/base/base-button/base-button'
import { FooterBottom } from '~/components/blocks/block-footer/footer-bottom/footer-bottom'

const cn = cnFabric('error-page')

export default {
  name: 'Error',
  components: {
    FooterBottom,
    BaseButton,
    DesktopBlockHeadingOneLine
  },
  layout: 'error',
  // eslint-disable-next-line vue/require-prop-types
  props: ['error'],
  methods: {
    cn,
    getErrorText: (errorCode) => {
      switch (errorCode) {
        case 404:
          return 'Страница не найдена.'
        case 500:
          return 'Что-то пошло не так, и мы уже работаем над этим.'
        default:
          return 'Что-то пошло не так.'
      }
    }
  }
}
</script>

<style lang="scss">
.error-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-height: 700px;

  &__error {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
  }

  &__error-header {
    font-weight: bold;
    font-size: 60px;
  }

  &__error-text {
    margin-top: 30px;
    font-size: 35px;
    text-align: center;
  }

  &__error-button {
    margin-top: 30px;
  }

  @media (max-width: 800px) {
    &__error {
      margin-top: 60px;
    }
    &__error-header {
      font-size: 35px;
    }

    &__error-text {
      font-size: 20px;
    }
  }
}
</style>
