.checkout-product-price {
  color: #111111;
  font-size: 18px;
  font-family: Tahoma, monospace;
  line-height: 1.2;
  letter-spacing: -0.03em;
  background: #FAFAFA;

  &__size {
    width: 250px;
    padding: 5px 10px;
    text-align: center;
    background: #F5F5F5;
  }

  &__price {
    width: 200px;
    text-align: center;
  }

  &__quantity {
    //
  }

  &__total {
    width: 200px;
    color: #292929;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.03em;
    text-align: right;
  }

  &__remove {
    width: 40px;
    padding: 5px 10px;
  }

  &__remove-button {
    display: contents;
    color: #CCCCCC;
    cursor: pointer;
  }

  @media screen and (max-width: 799px) {
    &__size {
      padding: 5px 5px 5px 0;
      font-size: 14px;
    }
    &__price {
      width: 130px;
      padding-right: 12px;
      font-size: 18px;
      text-align: right;
    }
  }
}
