.mobile-vacancy-promo {
  position: relative;
  text-align: center;

  &__background {
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    color: #F7F7F7;
    font-weight: bold;
    font-size: 120px;
    line-height: 80px;
  }

  &__heading {
    padding-top: 42px;
    color: #262626;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -0.04em;
  }

  &__leading {
    margin-top: 47px;
    padding: 0 10px;
    color: #565656;
    font-weight: 500;
    font-size: 19px;
    line-height: 27px;
    /* or 142% */
  }
}
