.modal-planting-guarantee {
  padding: 50px 65px;

  &__same-line {
    display: flex;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
  }

  &__same-button {
    min-width: 40px;
    margin-left: 10px;
  }

  &__hidden-items {
    display: none;

    &_active {
      display: block;
    }
  }

  &__items {
    margin-top: 30px;
  }

  @media screen and (max-width: 799px) {
    padding: 30px 35px;
     &__same-line {
       font-size: 15px;
     }
  }
}
