.desktop-block-slider {
  padding: 27px 0 5px;

  &__heading, &__leading {
    color: #262626;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: -0.04em;
    text-align: center;
  }

  &__heading {
    font-weight: bold;
  }

  &__slider {
    position: relative;
    margin-top: 20px;
  }

  &__prev, &__next {
    position: absolute;
    top: 50%;
    z-index: 1;
    margin-top: -45px;
    color: white;
  }

  &__prev {
    left: 50%;
    margin-left: -533px;
  }

  &__next {
    right: 50%;
    margin-right: -533px;
  }

  &__badge {
    position: relative;
    z-index: 2;
    margin: -100px auto 0;
  }

  @media screen and (max-width: 1100px) {
    &__prev {
      left: 20px;
      margin-left: 0;
    }

    &__next {
      right: 20px;
      margin-right: 0;
    }
  }
}
