.desktop-grass-video {
  &__video-wrapper {
    position: relative;
    padding-bottom: 150px;
    background: url('resources/bg.jpg') bottom no-repeat;
  }

  &__video {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
  }

  &__video-overlay {
    backdrop-filter: blur(2px);
  }

  &__man {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 3;
    max-width: 35%;
    margin-left: 60px;
    img {
      max-width: 100%;
    }
  }

  &__lawn {
    position: relative;
    max-width: 750px;
    margin: 100px auto 0;
    padding-top: 160px;
    padding-left: 50px;
    color: rgba(0, 0, 0, 0.77);
    font-size: 19px;
    line-height: 29px;
    letter-spacing: -0.04em;

    b {
      font-weight: 500;
    }
  }

  &__definition, &__text {
    &:before {
      position: absolute;
      margin-left: -28px;
      color: #9BCB35;
      font-size: 40px;
      content: "\2022";
    }
  }

  &__definition {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 400px;
  }

  &__text {
    position: absolute;
    top: 150px;
    left: 270px;
    max-width: 400px;
  }

  @media screen and (min-width: 1500px) {
    &__video-wrapper {
      background-position: center 260px;
      background-size: cover;
    }
  }
}
