@import 'assets/keyframes/vertical-animation';

.mobile-block-client {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  --gallery-max-height: 364px;

  &__button {
    width: 100%;
    max-width: 326px;
    margin-top: 24px;
    padding: 0 20px
  }

  &__gallery {
    display: grid;
    grid-auto-rows: 120px;
    grid-gap: 2px;
    grid-template-columns: repeat(3, 120px);
    width: auto;
    height: var(--gallery-max-height);
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    transition: height 1s;
  }

  &__image-wrapper {
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0;
  }

  &__button-text {
    text-align: center;
    width: 120px;
  }

  &__arrow svg{
    transition: transform 0.5s linear;
  }

  &__arrow-wrapper {
    @extend %vertical-animation;
  }

  &__video-reviews {
    margin-top: 30px;
  }

  @media (max-width: 370px) {
    --gallery-max-height: 304px;
    &__gallery {
      grid-auto-rows: 100px;
      grid-template-columns: repeat(3, 100px);
    }
  }
}
