.mobile-footer-bottom {
  padding-bottom: 100px;
  &__logo-line {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    color: #59922D;
  }

  &__legal {
    margin-left: 30px;
    color: #808080;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    white-space: pre-wrap;
  }

  &__socials {
    margin: 20px auto 0;
  }

  &__links {
    margin-top: 23px;
    text-align: center;
  }

  &__link-list {
    margin-top: 15px;
    text-align: center;
  }

  &_theme {
    &_dark {
      color: white;
      background: #2E5439;
      .mobile-footer-bottom__logo {
        color: white;
      }
      .mobile-footer-bottom__legal {
        color: rgba(255, 255,255, 0.5);
      }
    }
  }
}
