.mobile-block-sale {
  padding: 20px;
  background: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.07);

  &__heading {
    color: #111111;
    font-weight: bold;
    font-size: 21px;
    letter-spacing: -0.03em;
    text-align: center;


  }

  &__leading {
    margin-top: 8px;
    color: #444444;
    font-size: 11px;
    line-height: 32px;
    letter-spacing: -0.03em;
    text-align: center;
  }

  &__form {
    max-width: 460px;
    margin: 0 auto;
    margin-top: 15px;
  }
}
