.modal-client-photos {
  padding: 40px 0;

  &__heading {
    color: #111111;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: -0.05em;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    padding: 20px 10px;
  }
}
