.modal-service-description {
  position: relative;
  padding: 85px 105px;

  &__inner {
    display: grid;
    grid-gap: 40px;
  }

  &__heading {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: #1E1E1E;
  }

  &__description {
    font-size: 18px;
    line-height: 1.2;
    color: #000000;

    p {
      margin-top: 0;
    }
  }

  &__images {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  &__image-wrapper {
    overflow: hidden;
    display: flex;
    border-radius: 15px;
  }

  &__image {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__form-response {
    display: flex;
    justify-content: center;
  }

  &__form {
    box-sizing: border-box;
    max-width: 350px;
    color: #555555;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    background: #ffffff;
  }

  &__form {
    padding: 0;
    box-shadow: none;
  }

  &__form-title {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
  }

  &__form-subtitle {
    margin-top: 15px;
    text-align: center;
  }

  &__form-item {
    margin-top: 20px;
  }

  &__input-desc {
    color: #929292;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.6;
    text-align: left;
  }

  &__field {
    justify-content: flex-start;
    border-radius: 10px;

    &_error {
      background-color: #f8e4e9;
    }
  }

  &__button {
    width: 100%;
    margin-top: 40px;
    background: linear-gradient(180deg, #ee3922 0%, #c71a18 100%);
    border-radius: 100px;
    box-shadow: 0 18px 48px rgba(255, 29, 29, 0.3),
    inset 0 2px 4px rgba(246, 127, 112, 0.66);
  }

  @media screen and (max-width: 768px) {
    padding: 40px 60px;

    &__inner {
      grid-gap: 20px;
    }
  }

  @media screen and (max-width: 500px) {
    &__heading {
      font-size: 28px;
    }

    &__description {
      font-size: 14px;
    }

    &__images {
      grid-template-columns: 1fr;
    }
  }

  @media screen and (max-width: 426px) {
    padding: 20px 40px;
  }

  @media screen and (max-width: 375px) {
    padding: 36px 20px 20px;

    &__heading {
      font-size: 24px;
    }

    &__description {
      font-size: 12px;
    }
  }
}
