.desktop-block-client-logos {
  padding: 40px 20px;

  &__icon-wrapper {
    text-align: center;
  }

  &__heading {
    margin-top: 5px;
    color: #111111;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: -0.05em;
    text-align: center;
  }

  &__groups {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
  }

  &__group-name {
    color: #111111;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: -0.05em;
    text-align: center;
  }

  &__grid {
    margin-top: 50px;
  }
}
