.block-director {
  display: grid;
  grid-template-columns: 1fr 660px minmax(0, 900px) 1fr;
  align-items: center;
  padding: 10px 0 0;

  &__content {
    grid-column: 2;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  &__image-wrapper {
    grid-column: 3 / 5;
    align-self: flex-end;
    justify-self: right;
  }

  &__image {
    max-width: 100%;
  }

  &__heading {
    color: #000000;
    font-weight: 900;
    font-size: 36px;
    line-height: 1.2;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 25px;
    color: #3d3d3d;
    font-size: 18px;
    line-height: 24px;
  }

  &__button-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
  }

  &__button {
    padding: 30px 40px;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
  }

  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr 400px minmax(0, 900px) 1fr;

    &__heading {
      font-weight: 800;
      font-size: 20px;
    }

    &__text {
      margin-top: 15px;
      font-size: 14px;
    }

    &__button-wrapper {
      display: flex;
      grid-gap: 15px;
      flex-direction: column;
      margin-top: 32px;
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;

    &__content {
      padding: 0 20px;
    }

    &__image-wrapper {
      order: -1;
      grid-column: 1 / 5;
      align-self: flex-end;
      justify-self: center;
    }

    &__heading {
      font-weight: 800;
      font-size: 20px;
    }

    &__text {
      margin-top: 15px;
      font-size: 14px;
    }

    &__button-wrapper {
      display: flex;
      grid-gap: 15px;
      flex-direction: column;
      margin-top: 32px;
    }

    &__button {
      padding: 20px;
      font-weight: 700;
      font-size: 14px;
    }
  }
}
