.navigate-item {
  &__link {
    display: flex;
    align-items: center;
    color: black;
    font-size: 20px;
    text-decoration: none;
  }

  &__icon {
    width: 50px;
    height: 50px;
  }

  &__text {
    margin-left: 15px;
  }
}
