<template>
  <div :class="c()">
    <img
      :class="c('background')"
      width="1920"
      height="710"
      src="../images/bg.jpg"
      alt=""
    />
    <div :class="c('container')">
      <div :class="c('form-wrapper')">
        <BaseFormResponse
          :fatal-error="fatalError"
          :success-message="successMessage"
          :class="c('form-response')"
        >
          <form :class="c('form')">
            <div :class="c('form-title')">
              Рассчитайте стоимость работ на вашем объекте
            </div>
            <div :class="c('form-subtitle')">
              Заполните форму и наш менеджер свяжется с вами в течение 5-ти
              минут
            </div>
            <div :class="c('form-item')">
              <div :class="c('input-desc')">Как вас зовут?</div>
              <BaseField :class="c('field')">
                <input
                  v-model="name"
                  :class="c('input')"
                  type="text"
                  placeholder="Алексей"
                />
              </BaseField>
            </div>
            <div :class="c('form-item')">
              <div :class="c('input-desc')">Введите номер телефона</div>
              <BaseField
                :class="
                  c('field', {
                    error: myErrors.includes('phone')
                  })
                "
              >
                <BasePhoneInput v-model="phone" :class="c('input')" />
              </BaseField>
            </div>
            <BaseButton
              :class="c('btn')"
              size="m"
              :color="Color.red"
              @click="submitRequest"
              >Оставить заявку
            </BaseButton>
            <div :class="c('policy')">
              Нажимая на кнопку вы соглашаетесь с условиями обработки данных и
              политикой конфиденциальности
            </div>
          </form>
        </BaseFormResponse>
      </div>
    </div>
  </div>
</template>

<script>
import { ref, watch } from '@nuxtjs/composition-api'
import { cn } from '~/support/utils/bem-classnames'
import { BaseFormResponse } from '~/components/base/base-form-response/base-form-response'
import { BaseField } from '~/components/base/base-field/base-field'
import { useForm, FORM_TYPES } from '~/support/hooks/useForm'
import { BaseButton } from '~/components/base/base-button/base-button'
import { Color } from '~/components/theme/theme-button'
import { BasePhoneInput } from '~/components/base/base-phone-input/base-phone-input'

const c = cn('desktop-block-landscape-calculate')

export default {
  name: 'DesktopBlockLandscapeCalculate',
  components: { BasePhoneInput, BaseButton, BaseField, BaseFormResponse },
  setup(props, context) {
    const { submit, fatalError, successMessage, errorFields } = useForm(
      context.root,
      FORM_TYPES.PHONE
    )
    const myErrors = ref(errorFields)
    const name = ref('')
    const phone = ref('')
    const submitRequest = () => {
      submit({
        name: name.value,
        phone: phone.value
      })
    }
    watch(phone, () => {
      myErrors.value = []
    })
    return {
      submitRequest,
      name,
      phone,
      successMessage,
      fatalError,
      myErrors,
      Color,
      c
    }
  }
}
</script>

<style lang="scss">
.desktop-block-landscape-calculate {
  position: relative;
  margin-top: 50px;
  margin-bottom: 37px;

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    object-fit: cover;
  }

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
  }

  &__form-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 630px;
  }

  &__form,
  &__form-response {
    box-sizing: border-box;
    max-width: 500px;
    padding: 50px 60px 54px;
    color: #1e1e1e;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 15px 150px rgba(0, 0, 0, 0.1);
  }

  &__form {
    padding: 0;
    box-shadow: none;
  }

  &__form-title {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
  }

  &__form-subtitle {
    margin-top: 15px;
    text-align: center;
  }

  &__form-item {
    margin-top: 20px;
  }

  &__input-desc {
    color: #929292;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.6;
    text-align: left;
  }

  &__field {
    justify-content: flex-start;
    border-radius: 10px;

    &_error {
      background-color: #f8e4e9;
    }
  }

  &__btn {
    width: 100%;
    margin-top: 19px;
    background: linear-gradient(180deg, #ee3922 0%, #c71a18 100%);
    border-radius: 100px;
    box-shadow: 0 18px 48px rgba(255, 29, 29, 0.3),
      inset 0 2px 4px rgba(246, 127, 112, 0.66);
  }

  &__policy {
    margin-top: 15px;
    color: #929292;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    text-align: center;
  }
}
</style>
