.category-info {
  &__image {
    width: 67px;
    height: 88px;
    margin-bottom: -12px;
    object-fit: cover;
  }
  &__text {
    display: flex;
    align-items: center;
    min-height: 66px;
    color: black;
    font-weight: 500;
    font-size: 34px;
    line-height: 28px;
  }
}
