.mobile-heading-middle-line {
  color: #FFFFFF;
  letter-spacing: -0.05em;
  text-align: center;

  &__heading {
    margin: 15px 0 0;
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    white-space: pre-wrap;
    text-transform: uppercase;
  }

  &__leading {
    margin-top: 15px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    white-space: pre-wrap;
    text-transform: uppercase;
    text-shadow: 0 0 2px #000;
  }
}
