@import "../../theme/theme-button/styles/colors";
@import "../../theme/theme-button/styles/visual";

.list-menu {
  display: grid;

  &__item {
    min-height: 63px;
    margin: -1px -1px 0 0;
    padding: 14px 15% 14px 9%;
    color: black;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    background: white;
    border: 0;
    outline: none;
    box-shadow: 0 0 0 1px #E5E5E5 inset;
    cursor: pointer;

    &:hover, &_active:not(.dump-for-more-priority), &:focus {
      position: relative;
      box-shadow: none;
      @extend %green;
      @include gradient;
    }

    &_active:not(.dump-for-more-priority) {
      font-weight: bold;
    }

    &:first-child {
      border-radius: 5px 5px 0 0;
    }

    &:last-child {
      border-radius: 0 0 5px 5px;
    }
  }

  &__icon {
    min-width: 22px;
  }

  &_two-columns {
    grid-template-columns: 1fr 1fr;

    .list-menu__item {
      &:nth-child(1) {
        border-radius: 5px 0 0 0;
      }

      &:nth-child(2) {
        border-radius: 0 5px 0 0;
      }

      &:nth-last-child(2):nth-child(2n + 1) {
        border-radius: 0 0 0 5px;
      }

      &:last-child:nth-child(2n), &:nth-last-child(2):nth-child(2n) {
        border-radius: 0 0 5px 0;
      }

      &:last-child:nth-child(2n + 1) {
        border-radius: 0 0 5px 5px;
      }
    }
  }
}
