@import "components/theme/theme-button/styles/_colors.scss";

.product-images {
  display: flex;
  align-items: flex-start;

  &__slider {
    width: 378px;
    height: 504px;
    cursor: pointer;
  }

  &__image-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }

  &__fertilizer, &__free-delivery {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
  }

  &__fertilizer {
    @extend %green;

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 7px;
  }

  &__fertilizer-icon {
    margin-right: 10px;
  }

  &__free-delivery {
    @extend %yellow;
    margin-top: 5px;
    padding: 12px;
    border-radius: 10px;
  }

  &__gallery {
    width: 100px;
    margin-left: 16px;
  }

  @media screen and (max-width: 1220px) {
    &__gallery.product-images__gallery {
      display: none;
    }
  }

  @media screen and (max-width: 1110px) {
    &__slider {
      width: 300px;
      height: 400px;
      cursor: pointer;
    }
  }
}
