.mobile-product-top-line {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 6px;
  box-shadow: 0 0 4px #eee;


  &__back {
    //
  }

  &__viewing {
    font-size: 12px;
  }
}
