.desktop-support-popover {
  display: flex;
  justify-content: center;

  &__pointer {
    position: absolute;
    width: 15px;
    height: 12px;
    background: #C4C4C4;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  }

  &__modal {
    position: absolute;
    max-width: 315px;
    margin: 12px auto 0;
    padding: 12px;
    background: white;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
  }

  &__item {
    display: flex;
    margin-top: 10px;
    padding: 3px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    background: none;
    border: 0;

    &:first-child {
      margin-top: 0;
    }

    &_type {
      &_chat {
        color: #009B00;
      }
    }
  }

  &__item-icon {
    margin-right: 13px;
  }
}
