.heading-phone {
  color: #FFFFFF;
  font-weight: 800;
  font-size: 27px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;

  @media (max-width: 1250px) {
    font-size: 20px;

    &__icon {
      width: 35px;
      height: 35px;
    }
  }
}
