.bark-beetle-content-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1240px;
  min-height: 140px;
  margin: 50px auto;
  padding: 0 30px;
  color: #000000;
  font-weight: 500;
  font-size: 42px;
  line-height: 46px;
  letter-spacing: -0.04em;
  text-align: center;
  background: url("resources/bg.jpg") center center no-repeat;
  background-size: cover;

  &__text {
    max-width: 1180px;
  }

  @media screen and(max-width: 799px) {
    min-height: 94px;
    margin: 20px 0;
    padding: 0 10px;
    font-size: 20px;
    line-height: 120%;

    &__text {
      padding: 10px 0 20px;
    }
  }
}
