.mobile-product-cart-button {
  &__text {
    margin-left: 10px;
  }

  &__icon {
    margin-top: 3px;
  }

  &__label {
    display: block;
    margin-right: 10px;
    font-weight: 500;
  }

  &__total {
    display: block;
    margin-top: 3px;
    font-size: 22px;
    line-height: 1;
  }
}
