.block-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: env(safe-area-inset-bottom);
  text-align: center;

  &__logo {
    padding: 10px 10px 0;
    color: #59922D;
  }

  &__nav {
    display: flex;
    flex: 1;
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-height: 700px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    //
  }

  &__link {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    color: #232323;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: -0.05em;
    text-decoration: none;
    background: none;
    border: 0;
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: #9DC510;
    }
  }

  &__consult {
    margin-top: 10px;
    margin-bottom: 90px;
  }

  &__consult-image {
    border: solid 2px #9DC510;
    border-radius: 50%;
  }

  &__consult-text {
    margin-top: 8px;
    padding: 0 20px;
    color: #575757;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.05em;
  }

  &__buttons {
    align-self: stretch;
    margin-top: 22px;
  }

  &__close-container {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
  }

  &__close {
    position: sticky;
    top: 10px;
    padding: 5px;
    color: #BDBDBD;
    font-size: 45px;
    line-height: 25px;
    background: none;
    border: 0;
  }

  @media screen and (max-height: 850px) {
    &__link {
      padding: 5px;
      font-size: 16px;
    }
  }
  @media screen and (max-height: 650px) {
    &__links {
      min-height: 450px;
    }
  }
}
