.mobile-black-friday-heading-bottom-line {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  color: white;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: -0.05em;
  text-align: center;

  &__item {
    cursor: pointer;
  }

  &__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
}
