.desktop-grass-item {
  &__price {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -40px;
  }

  &__price-label {
    //
  }

  &__price-value {
    //
  }

  &__price-old-value {
    align-self: flex-end;
  }


  &__image-wrapper {
    position: relative;
  }

  &__heading {
    margin-top: 34px;
    font-weight: bold;
    font-size: 24px;
    line-height: 23px;
  }

  &__description {
    margin-top: 10px;
    color: #444444;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: -0.03em;
  }

  &__buttons {
    margin-top: 15px;
  }

  &__button {
    min-height: 60px;
    margin-right: 10px;
  }
}
