@import 'assets/keyframes/vertical-animation';
.product-prices {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto 1fr auto 1fr;
  align-content: start;
  width: 100%;
  padding: 0;
  color: #111111;
  font-size: 18px;
  line-height: 1.2;
  border: 0;
  border-spacing: 0;

  &__sale {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    grid-column: 1/6;
    background: lavenderblush;
    border: solid 2px red;
    mix-blend-mode: multiply;
    pointer-events: none;
  }

  &__item {
    transition: opacity 0.3s;
    &_line {
      &_head {
        color: #92B940;
        font-weight: bold;
        font-size: 22px;
      }
    }

    &_hidden {
      opacity: 0;
    }

    &_type {
      &_space {
        //
      }

      &_sale {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #E03232;
        font-weight: bold;
        text-transform: uppercase;
      }

      &_week-price {
        grid-column: 1 / 6;
        padding: 0 0 10px;
        color: #E03232;
        font-size: 18px;
        font-family: 'Acrom', Arial, sans-serif;
        letter-spacing: 0.1em;
        text-align: center;
      }

      &_price, &_size {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-height: 50px;
        padding: 8px 6px;

        &.product-prices__item_line_head {
          justify-content: center;
        }
      }
    }

    &:not(.product-prices__item_line_head) {
      font-family: Tahoma, monospace;
    }
  }

  &__cart {
    grid-column: 2/5;
    justify-self: center;
    width: fit-content;
  }

  &__show-all-button {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    margin-top: 20px;
    padding: 21px;
    color: #000000;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    &_type {
      &_additional {
        grid-gap: 5px;
        justify-content: space-between;
        font-weight: 700;
        font-size: 28px;
        letter-spacing: -0.03em;
        background-color: #FBDD5C;
        border-color: transparent;
        box-shadow: none;
      }
    }
  }

  &__show-all-button-inner {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  &__show-all-button-icon {
    @extend %vertical-animation;
    color: #000;
  }

  &_has-hidden-items {
    height: 480px;
    overflow: hidden;
    transition: 0.3s height;
    &:after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100px;
      background: linear-gradient(to top, #fff, #fff, rgba(255, 255, 255, 0)) bottom;
      content: '';
    }
  }

  &_items-state {
    &_desktop {
      padding-bottom: 60px;
    }
    &_mobile-hidden {
      padding-bottom: 60px;
    }
    &_mobile-shown {
      padding-bottom: 80px;
    }
  }

  @media screen and (max-width: 1400px) {
    &__item {
      &_line {
        &_head {
          font-size: 18px;
        }
      }
    }
  }

  @media screen and (max-width: 1300px) {
    &__show-all-button {
      &_type {
        &_additional {
          font-size: 24px;
        }
      }
    }
  }

  @media screen and (min-width: 800px) {
    &__item {
      &_line {
        &_head {
          background: #FAFAFA;
        }

        &_even {
          background: #FAFAFA;
        }
      }
    }
  }

  @media screen and (max-width: 799px) {
    font-size: 14px;
    &__item {
      &_line {
        &_head {
          background: #FAFAFA;
        }
      }
    }

    &__show-all-button {
      &_type {
        &_additional {
          font-size: 32px;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    &__sale {
      border-right: 0;
      border-left: 0;
    }
  }

  @media screen and (max-width: 350px) {
    &__show-all-button {
      &_type {
        &_additional {
          font-size: 28px;
        }
      }
    }
  }
}
