.mobile-client-quote {
  margin: 0;
  padding: 45px 42px 20px;
  font-size: 18px;
  line-height: 22px;
  background: url('./resources/quote.svg') 30px 30px no-repeat;
  background-size: 20px;

  &__statement {
    font-weight: bold;
    b {
      color: #62AB5C;
    }
    img {
      margin-top: 10px;
      vertical-align: top;
    }
  }

  &__text {
    color: #777777;
  }
}
