.heading-top-line {

  &__search-block {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  &__search-wrapper {
    background-color: white;
    border-radius: 0 0 10px 10px;
  }

  &__search {
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
  }

  &__search-background {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.31);
  }

  &__first-line {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    height: 100%;
    text-decoration: none;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-right: 10px;
    padding: 5px;
    color: white;
    background: none;
    border: 0;
  }

  &__left {
    //
  }

  &__buttons {
    display: flex;
    flex: 1;
    justify-content: space-around;
  }

  &__second-line {
    display: flex;
    justify-content: flex-end;
    margin-top: 2px;
  }

  &__callback {
    width: 240px;
  }

  @media (max-width: 1250px) {
    &__callback {
      margin-top: 20px;
    }
  }

}
