.heading-sale-button {
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 18px 16px 28px;
    color: #FFFFFF;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 3px 0 #AA4A4A;
    border-radius: 50px;
    --button-shadow-width: -4px;
  }

  &__heading {
    display: block;
  }

  &__leading {
    display: block;
    margin-top: 2px;
    font-size: 40px;
    line-height: 1;
  }

  &__close {
    position: absolute;
    top: -25px;
    right: -10px;
    padding: 0;
    color: #D93131;
    font-weight: bold;
    font-size: 40px;
    background: none;
    border: none;
  }


  &_size {
    &_m {
      .heading-sale-button {
        &__heading {
          font-size: 12px;
        }

        &__leading {
          font-size: 40px;
        }
      }
    }

    &_s {
      .heading-sale-button {
        &__button {
          display: grid;
          grid-template-areas: "h h" "l i";
          padding: 7px 20px;
        }

        &__heading {
          grid-area: h;
          font-size: 9px;
        }

        &__leading {
          grid-area: l;
          margin-top: 0;
          font-size: 20px;
        }

        &__left {
          display: contents;
        }

        &__icon {
          width: 20px;
        }
      }
    }
  }

  @media (max-width: 1250px) {
    margin-right: 20px;
  }
}
