.modal-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 40px;
  line-height: 1;
  background: white;
  border: 0;
  border-radius: 50%;
}
