.footer-bottom {

  &__first-line {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 30px;
    align-items: center;
    padding: 20px;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo-icon {
    color: #59922D;
  }

  &__legal {
    align-self: center;
    margin-left: 20px;
    color: #1D1D1D;
    font-size: 15px;
    line-height: 20px;
    white-space: pre-wrap;
  }

  &__second-line {
    padding: 11px 0 18px;
    border-top: 1px solid #EFEFEF;
  }

  &__second-line-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__nav-menu {
    display: flex;
    margin: 0;
    padding: 0;

    &_type {
      &_mobile {
        display: none;
      }
    }
  }

  &__nav-menu-item {
    margin-right: 36px;
    list-style: none;
  }

  &__nav-menu-button {
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    background: none;
    border: none;
  }

  &__nav-menu-link {
    color: inherit;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
  }

  &__second-line-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 34px;
  }

  &__socials {
    margin-left: auto;
    color: white;
  }

  &__link-list {
    margin-left: 60px;

  }

  &__contacts {
    display: grid;
    grid-gap: 7px;
  }

  &__phone, &__email {
    display: flex;
    align-items: center;
    color: #1d1d1d;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-decoration: none;
  }

  &__phone-icon, &__email-icon {
    margin-right: 12px;
    color: #9CD422;
  }

  &__button {
    font-weight: bold;
  }

  &__statistic {
    margin-left: 35px;

    &_type {
      &_desktop {
        display: block;
      }

      &_mobile {
        display: none;
      }
    }
  }

  @media screen and (max-width: 800px) {
    &__first-line {
      grid-auto-flow: row;
      grid-gap: 10px;
      grid-template-columns: 1fr;
      justify-items: center;
      margin: 0;
      padding: 0;
    }

    &__logo {
      justify-content: center;
      order: 0;
      width: 100%;
      padding: 13px 0 17px;
      border-bottom: 1px solid #EFEFEF;
    }
    &__phone {
      order: 1;
      margin-top: 20px;
    }

    &__email {
      order: 2;
      margin-left: 0;
    }

    &__button {
      order: 3;
      min-width: 260px;
      margin-top: 5px;
    }


    &__phone-icon, &__email-icon {
      width: 20px;
      height: 20px;
      color: #9DC510;
      background: none;
    }

    &__second-line {
      border: 0;
    }

    &__second-line-top {
      display: none;
    }

    &__nav-menu {
      flex-wrap: wrap;
      justify-content: space-around;

      &_type {
        &_mobile {
          display: flex;
        }
        &_desktop {
          display: none;
        }
      }
    }

    &__nav-menu-item {
      display: flex;
      flex-basis: 33%;
      flex-grow: 1;
      justify-content: center;
      margin-top: 10px;
      margin-right: 0;
    }

    &__second-line-bottom {
      display: grid;
      grid-template-areas: "s s"
      "p p"
      "c n";
      margin: 0;
      padding: 0;
    }

    &__socials {
      grid-area: s;
      width: 100%;
      padding-bottom: 22px;
      border-bottom: 1px solid #EFEFEF;
    }

    &__link-list {
      grid-area: p;
      margin: 15px 0 8px;
      padding: 0 24px 0;
    }

    &__copyright {
      grid-area: c;
      color: #999;
      font-size: 16px;
      line-height: 27px;
    }

    &__statistic {
      grid-area: n;

      &_type {
        &_desktop {
          display: none;
        }

        &_mobile {
          display: block;
        }
      }
    }
  }
}
