.mobile-heading-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  text-decoration: none;
  background: #FBDD5C;
  border-radius: 50%;
  box-shadow: 1px 1px 0 #E4C748;
}
