.mobile-block-planting {
  padding: 0 10px 15px;

  &__first-line {
    display: flex;
    overflow: hidden;
    background: #F5F5F5;
    border-radius: 15px;
  }

  &__before-heading {
    margin-bottom: 8px;
    color: #92B940;
    font-weight: bold;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  &__heading {
    color: #111111;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.05em;

    b {
      font-weight: 500;
    }
  }

  &__left {
    flex-basis: 150px;
    flex-shrink: 0;
    padding: 30px 23px;
  }

  &__video {
    flex-grow: 1;
    flex-shrink: 1;
    height: 200px;
    background-size: cover;
    border-radius: 11px;
  }

  &__info {
    margin-top: 13px;
    color: #888888;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -0.05em;
    text-align: center;
  }

  &__buttons {
    display: flex;
    margin-top: 13px;
  }

  &__button {
    flex-basis: 50%;
    margin-left: 5px;

    &:first-child {
      margin-left: 0;
    }
  }

  @media screen and (max-width: 424px) {
    &__video-button-text {
      display: none;
    }
  }
}
