.block-contact-mobile {
  &__header {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
  }

  &__data {
    display: grid;
    grid-row-gap: 18px;
    grid-column-gap: 11px;
    grid-template-columns: 20px 1fr;
    margin-top: 26px;
    padding-right: 29px;
    padding-left: 29px;
  }

  &__icon {
    color: #9DC510;
  }

  &__phone {
    font-weight: 500;
    color: black;
    text-decoration: none;
    font-size: 18px;
    line-height: 27px;
  }

  &__emails {
    font-size: 14px;
    line-height: 21px;
  }

  &__email-address {
    font-weight: 500;
    color: black;
    text-decoration: none;
  }

  &__address {
    font-size: 14px;
    line-height: 21px;
  }

  &__map {
    height: 300px;
  }

  &__map-wrapper {
    position: relative;
    margin-top: 29px;
    overflow: hidden;
    border-radius: 3%;
  }

  &__map-clip-path {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 48px;
    background-color: white;
    clip-path: ellipse(51% 50% at 50% 0%);
  }

  &__button-wrapper {
    position: absolute;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
