.block-contact-desktop {
  display: grid;
  grid-template-rows: 1fr auto;

  &__item {
    max-width: 440px;
    margin-top: 15px;
  }

  &__map {
    height: 366px;
  }

  &__map-wrapper {
    position: relative;
  }

  &__map-clip-path {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 48px;
    background-color: white;
    clip-path: ellipse(51% 50% at 50% 0%);
  }

  &__button-wrapper {
    position: absolute;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__group-heading {
    margin-bottom: 20px;
    color: #111111;
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
  }

  &__group-contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin: 32px 24px 16px 24px;
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }
}
