.desktop-black-friday-sale {
  position: relative;
  overflow: hidden;
  background-color: white;

  &__backdrop {
    position: relative;
    z-index: 3;
    max-width: 1200px;
    margin: 0 auto;
    padding: 200px 0 100px;
  }

  &__inner {
    position: relative;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    pointer-events: none;

    img {
      max-width: 100%;
      height: auto;
      max-height: 100%;
      object-fit: contain;
    }

    &_type {
      &_stripe {
        bottom: auto;
        z-index: 2;
      }
    }
  }

  &__heading {
    color: #040404;
    font-weight: 800;
    font-size: 48px;
    text-transform: uppercase;

    b {
      color: #e3301f;
    }
  }

  &__form {
    margin-top: 30px;
  }

  &__leading {
    margin-top: 10px;
    color: #040404;
    font-weight: 500;
    font-size: 18px;
  }

  &__policy {
    margin-top: 10px;
    text-align: center;
  }
}
