.service-content {
  &_type {
    &_gallery {
      grid-template-columns: repeat(4, auto);
      justify-content: space-between;
    }

    &_text {
      font-size: 14px;
      line-height: 1.5;
    }
  }

  @media screen and (max-width: 800px) {
    &_type {
      &_text {
        font-size: 12px;
      }
    }
  }
}
