.mobile-heading-bottom-line {
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: -0.05em;
  text-align: center;

  &__item {
    cursor: pointer;
  }

  &__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
}
