.desktop-grass-pallet {
  padding-bottom: 30px;
  background: url('resources/wood-cut-pattern.jpg') no-repeat calc(50% - 500px), url('resources/pallets.jpg') no-repeat calc(50% + 450px) bottom;

  &__inner {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__tablet {
    box-sizing: border-box;
    width: 467px;
    height: 592px;
    padding: 93px 16px 0 19px;
    background: url('resources/bg.jpg') no-repeat;
  }

  &__heading-line {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    color: #59922D;
  }

  &__heading {
    margin-left: 34px;
    color: #000000;
    font-weight: 500;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: -0.04em;
  }

  &__table {
    margin-top: 15px;
    color: #444444;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.04em;
    border: 0;
    border-spacing: 0;

    tr {
      &:nth-child(odd) {
        background: #FAFAFA;
      }
    }

    td {
      width: 50%;
      padding: 14px 18px;

      + td {
        border-left: 1px solid #eeeeee;
      }
    }

    b {
      font-weight: 500;
      font-size: 0.9em;
    }
  }

  &__image {
    align-self: end;
    margin-left: 83px;
  }
}
