.mobile-sale-button {
  padding: 2px 15px 7px;
  color: #FFFFFF;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 3px 0 #AA4A4A;
  border-radius: 50px;

  &__heading {
    font-size: 30px;
  }

  &__leading {
    font-size: 12px;
  }
}
