@use "sass:math";

.block-how-to-water {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 25px;

  &__heading {
    margin-bottom: 1em;
    color: #1d1d1d;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
  }

  &__heading-line, &__line {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 560px;
    margin-bottom: 0.526315789em;
    color: #fff;
    text-align: center;
  }

  &__heading-line {
    color: #1d1d1d;
    font-weight: 500;
    font-size:18px;
    line-height: 36px;
    background-color: #F4F4F4;
    border-radius: 8px;
  }

  &__line {
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
  }

  &__heading-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding-top: 13px;
    padding-bottom: 13px;
  }

  &__cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: #9DC510;
    border-radius: 0 8px 8px 0;

    &:first-child {
      box-sizing: border-box;
      color: #070707;
      font-weight: 500;
      background-color: white;
      border: solid 1px #DEDEDE;
      border-right: none;
      border-radius: 8px 0 0 8px;
    }
  }

  &__line {
    .block-how-to-water__bridge {
      background-image: linear-gradient(90deg, #81bc26 0%, #ffa625 100%);
    }
  }

  @media (max-width: 360px) {
    font-size: 15px;
  }

}
