<template>
  <div :class="c()">
    <img
      :class="c('background')"
      width="400"
      height="500"
      src="../images/bg-mobile.jpg"
      alt=""
    />
    <div :class="c('container')">
      <div :class="c('form-wrapper')">
        <BaseFormResponse
          :fatal-error="fatalError"
          :success-message="successMessage"
          :class="c('form-response')"
        >
          <div :class="c('form')">
            <img
              :class="c('tools')"
              width="129"
              height="125"
              src="../images/tools.png"
              alt=""
            />
            <div :class="c('form-title')">
              Рассчитайте стоимость работ на вашем объекте
            </div>
            <div :class="c('form-subtitle')">
              Заполните форму и наш менеджер свяжется с вами в течение 5-ти
              минут
            </div>
            <div :class="c('form-item')">
              <div :class="c('input-desc')">Как вас зовут?</div>
              <BaseField :class="c('field')">
                <input
                  v-model="name"
                  :class="c('input')"
                  type="text"
                  placeholder="Алексей"
                />
              </BaseField>
            </div>
            <div :class="c('form-item')">
              <div :class="c('input-desc')">Введите номер телефона</div>
              <BaseField :class="c('field')">
                <BasePhoneInput v-model="phone" :class="c('input')" />
              </BaseField>
            </div>
            <BaseButton
              :class="c('btn')"
              size="m"
              :color="Color.red"
              @click="onClick"
              >Оставить заявку
            </BaseButton>
            <div :class="c('policy')">
              Нажимая на кнопку вы соглашаетесь с условиями обработки данных и
              политикой конфиденциальности
            </div>
          </div>
        </BaseFormResponse>
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from '@nuxtjs/composition-api'
import { cn } from '~/support/utils/bem-classnames'
import { BaseFormResponse } from '~/components/base/base-form-response/base-form-response'
import { BaseField } from '~/components/base/base-field/base-field'
import { useForm } from '~/support/hooks/useForm'
import { BaseButton } from '~/components/base/base-button/base-button'
import { Color } from '~/components/theme/theme-button'
import { BasePhoneInput } from '~/components/base/base-phone-input/base-phone-input'

const c = cn('mobile-block-landscape-calculate')

export default {
  name: 'DesktopBlockLandscapeCalculate',
  components: { BasePhoneInput, BaseButton, BaseField, BaseFormResponse },
  setup() {
    const { submit, fatalError, successMessage } = useForm()
    const name = ref('')
    const phone = ref('')
    const onClick = () => {
      submit({
        name: name.value,
        phone: phone.value
      })
    }
    return { onClick, name, phone, successMessage, fatalError, Color, c }
  }
}
</script>

<style lang="scss">
.mobile-block-landscape-calculate {
  position: relative;
  margin-top: 60px;
  margin-bottom: 37px;

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  &__form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 460px;
  }

  &__form,
  &__form-response {
    box-sizing: border-box;
    max-width: 360px;
    padding: 30px 50px 20px;
    color: #1e1e1e;
    font-weight: 400;
    line-height: 1.2;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 15px 150px rgba(0, 0, 0, 0.1);
  }

  &__form {
    position: relative;
    padding: 0;
    box-shadow: none;
  }

  &__tools {
    position: absolute;
    top: -40px;
    right: -65px;
    max-width: 150px;
    height: auto;
  }

  &__form-title {
    max-width: 205px;
    font-weight: 700;
    font-size: 21px;
    text-align: left;
  }

  &__form-subtitle {
    margin-top: 10px;
    font-size: 13px;
  }

  &__form-item {
    margin-top: 10px;
  }

  &__input-desc {
    color: #929292;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.8;
    text-align: left;
  }

  &__field {
    justify-content: flex-start;
    border-radius: 10px;
  }

  &__btn {
    width: 100%;
    margin-top: 19px;
    background: linear-gradient(180deg, #ee3922 0%, #c71a18 100%);
    border-radius: 100px;
    box-shadow: 0 18px 48px rgba(255, 29, 29, 0.3),
      inset 0 2px 4px rgba(246, 127, 112, 0.66);
  }

  &__policy {
    margin-top: 11px;
    color: #929292;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.2;
    text-align: center;
  }

  @media (max-width: 400px) {
    &__tools {
      right: -20px;
    }

    &__form-title {
      max-width: 175px;
    }

    &__form-response {
      padding: 18px;
    }
  }
}
</style>
