.footer-links {
  color: #8DC3E1;
  font-weight: 500;
  font-size: 16px;

  &__line {
    &:not(:first-child) {
      margin-top: 15px;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }

  &__button {
    padding: 0;
    color: #888888;
    text-decoration: none;
    background: none;
    border: 0;
    border-bottom: dashed 1px #888888;
  }
}
