.common-cart-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 95px;
  text-decoration: none;
  background: #FFFFFF;
  border: 2px solid #60880A;
  border-radius: 50%;

  &__icon {
    width: 50px;
    height: 50px;
    margin-top: -8px;
    color: #60880A;
  }

  &__text {
    color: black;
    font-size: 12px;
    font-family: Tahoma, monospace;
    line-height: 10px;
  }

  @media screen and (min-width: 800px) {
    &_disabled {
      border-color: #CFDBB6;

      .common-cart-button__icon {
        color: #CFDBB6;
      }

      .common-cart-button__text {
        color: #B3B3B3;
      }
    }
  }

  @media screen and (max-width: 799px) {
    width: 90px;
    height: 90px;

    &__icon {
      width: 50px;
      height: 50px;
      margin-top: -8px;
    }

    &__text {
      margin-top: -6px;
      font-size: 10px;
    }
  }
}

