.mobile-catalog-item {
  position: relative;
  display: flex;
  //align-items: flex-end;
  //justify-content: center;
  height: 145px;
  overflow: hidden;
  text-decoration: none;
  background: #F5F5F5;
  border-radius: 15px;

  &:before {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    background: #9BCB35 url('./resources/arrow.svg') center center no-repeat;
    border-radius: 18px 0 0;
    content: '';
  }

  &__name {
    position: absolute;
    bottom: 10px;
    left: 11px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    letter-spacing: -0.05em;
  }

  &__word {
    display: inline-block;
    margin-top: -10px;
    padding: 5px;
    color: #000000;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.05em;
    background: #FFFFFF;
    border-radius: 5px;

    span {
      position: relative;
    }
  }
}
