.mobile-grass-service {
  border: 2px solid #F5F5F5;
  border-radius: 15px;

  &__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
  }

  &__heading-inner {
    margin-top: -2px;
    padding: 8px 20px;
    background: #9BCB35;
    border-radius: 3px;
  }

  &__price {
    margin-top: 10px;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: -0.03em;
    text-align: center;
  }

  &__price-value {
    font-size: 22px;
  }

  &__leading {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-height: 43px;
    margin-top: 10px;
    padding: 5px;
    color: #262626;
    line-height: 16px;
    letter-spacing: -0.04em;
    white-space: pre-wrap;
    text-align: center;
    background: #F5F5F5;

    &_size {
      &_m {
        font-size: 16px;
      }

      &_s {
        font-size: 14px;
      }
    }
  }

  &__items-wrapper {
    margin-top: 16px;
    padding: 0 38px;
  }

  &__items-heading {
    margin-left: 22px;
    color: #262626;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.04em;
  }

  &__items {
    margin: 6px 0 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    display: flex;
    margin-top: 10px;
    color: #262626;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.04em;

    &:first-child {
      margin-top: 0;
    }
  }

  &__item-icon {
    min-width: 22px;
    margin-top: 3px;
    color: #62AB5C;
  }

  &__show-more-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  &__show-more-button {
    padding: 15px 22px;
    color: #000000;
    font-weight: 500;
    font-size: 9px;
    line-height: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background: none;
    border: 1px dashed #9BCB35;
    border-radius: 50px;
    cursor: pointer;
  }

  &__order-button-wrapper {
    margin-top: 14px;
    margin-bottom: -30px;
    text-align: center;
  }

  &__order-button {
    min-width: 140px;
  }
}
