.mobile-grass-video {
  padding: 30px 12px 15px;
  background: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0 4px 40px #ddd;

  &__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.04em;
  }

  &__heading-icon {
    margin-right: 32px;
    color: #aaaaaa;
    transform: scaleX(-1);
  }

  &__video {
    margin-top: 27px;
    border-radius: 15px;
  }

  &__definition {
    margin: 28px 18px 0;
    color: #777777;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.04em;
  }

  &__text {
    margin: 24px 18px 15px;
    color: #444;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }
}
