.mobile-tiny-heading {
  display: flex;
  align-items: center;

  &__logo-link {
    color: black;
  }

  &__slogan {
    margin-left: 12px;
    color: #262626;
    font-size: 12px;
    line-height: 14px;
    white-space: pre-wrap;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-end;
    margin-left: 10px;
  }

  &__email {
    color: #3d3d3d;
    font-size: 9px;
    letter-spacing: -0.05em;
    white-space: nowrap;
    text-decoration: none;
  }

  &__phone {
    margin-top: 6px;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: -0.05em;
    white-space: nowrap;
    text-decoration: none;
  }

  &__callback {
    margin-top: 6px;
  }
}
