.mobile-lp-product {
  padding-top: 8px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  &__email {
    color: #3d3d3d;
    font-size: 11px;
    letter-spacing: -0.05em;
    white-space: nowrap;
    text-decoration: none;
  }

  &__phone {
    color: #000000;
    font-weight: bold;
    font-size: 12px;
    line-height: 10px;
    letter-spacing: -0.05em;
    text-align: center;
    text-decoration: none;
  }

  &__heading {
    margin-top: 10px;
    font-weight: 800;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.05em;
    text-align: center;
    text-transform: uppercase;
  }

  &__leading {
    font-weight: 800;
    font-size: 22px;
    line-height: 38px;
    letter-spacing: -0.05em;
    text-align: center;
    text-transform: uppercase;
  }

  &__third-line {
    color: #000000;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.05em;
    text-align: center;
  }

  &__images {
    margin-top: 15px;
  }

  &__button-wrapper {
    margin-top: 15px;
    text-align: center;
  }

  &__prices {
    margin-top: 10px;
  }

  &__form {
    padding-top: 18px;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.06);
  }

  &__footer {
    padding-top: 18px;
  }

  @media screen and (max-width: 350px) {
    &__top {
      padding: 0 10px;
    }
    &__phone {
      font-size: 10px;
    }
    &__email {
      font-size: 9px;
    }
  }
}
