.base-ringing-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 56px;


  &__icon-wrapper {
    position: relative;
  }

  &__icon {
    position: relative;
    z-index: 2;
    display: block;
    color: black;
    animation: phone 20s infinite;
  }

  &__icon-background {
    position: absolute;
    top: calc(50% - 33px);
    left: calc(50% - 33px);
    z-index: 0;
    width: 66px;
    height: 66px;
    background-color: grey;
    border-radius: 50%;
    opacity: 0;
    animation: bg-circle 20s infinite;
  }

  &__text {
    margin-top: 6px;
    color: #070707;
    font-size: 10px;
    line-height: 110%;
  }
}
@keyframes phone {
  92.5% { transform: rotate(0deg); }
  93.5% { transform: rotate(-30deg); }
  95% { transform: rotate(15deg); }
  96% { transform: rotate(0deg); }
}

@keyframes bg-circle {
  0% { transform: scale(0.015151515); opacity: 0; }
  92.5% { transform: scale(0.015151515); opacity: 0; }
  94.375% {opacity: 0.35;}
  96.25% {opacity: 0.12;}
  98.125% {transform: scale(1); opacity: 0;}

}
