.mobile-block-categories {
  padding: 15px 30px 20px;

  &__heading {
    color: #262626;
    font-weight: bold;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: -0.04em;
    text-align: center;
  }

  &__items {
    margin-top: 30px;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    overflow: hidden;
    text-decoration: none;
    background: #F5F5F5;
    border-radius: 15px;

    &_type {
      &_button {
        width: 100%;
        padding: 20px;
        font-weight: 800;
        font-size: 17px;
        line-height: 20px;
        letter-spacing: -0.03em;
        background: #D42929;
      }
    }
  }


  &__image {
    width: 60px;
    height: 60px!important;
    object-fit: cover;
    border-radius: 15px;
  }

  &__item-title {
    flex: 1;
    margin-right: 10px;
    margin-left: 15px;
    color: #111111;
    font-size: 15px;
    letter-spacing: -0.05em;
  }

  &__button-wrapper {
    padding: 4px;
  }

  &__button-icon {
    display: inline-block;
    vertical-align: middle;
  }

  &__button {
    display: inline-block;
    padding: 14px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: -0.05em;
    text-align: left;
    background: #9BCB35;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  }
}
