@import "assets/mixins/webp-background";

.product-sale {
  position: relative;
  display: flex;
  max-width: 1028px;
  margin-right: auto;
  margin-left: auto;
  background: #FFFFFF;
  border-radius: 11px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.04);

  &__fertilizer {
    position: absolute;
    top: -50px;
    right: -150px;
  }

  &__price {
    position: absolute;
    top: 40%;
    right: calc(100% - 30px);
  }

  &__until {
    max-width: 210px;
    margin: 15px auto 25px;
  }

  &__right {
    flex: 1;
    margin-left: 45px;
  }

  @media (max-width: 1326px) {
    &__fertilizer {
      display: none;
    }
  }

  @media (max-width: 1250px) {
    &__price {
      position: initial;
    }
  }
}
