.black-friday-product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  &__top {
    padding: 20px 10px 0;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0 10px 17px;
  }

  &__name {
    font-weight: 700;
    font-size: 23px;
  }

  &__size {
    margin-top: 12px;
    color: #737373;
    font-size: 18px;
  }

  &__border {
    width: 100%;
    height: 1px;
    margin: 12px 0;
    background-color: #F0F0F0;
  }

  &__prices {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
  }

  &__price-new {
    margin-top: 10px;
  }


  &__common-price {
    //
  }

  &__special-price {
    //
  }

  &__percent {
    margin-top: 16px;
    color: #D42020;
    font-size: 64px;
    line-height: 1;

    &_type {
      &_mobile {
        display: none;
      }

      &_desktop {
        display: block;
      }
    }
  }

  @media screen and (max-width: 600px) {
    &__prices {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }

    &__price-new {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__price-old {
      align-self: end;
      order: 2;
      margin-bottom: 0;
      text-align: right;
    }

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      width: 100%;
      padding: 19px 25px 23px;
    }

    &__border {
      margin: 0;
    }

    &__bottom  {
      padding: 17px 25px 23px;
    }

    &__name {
      font-size: 18px;
    }

    &__size {
      margin-top: 8px;
      font-size: 10px;
      text-align: left;
    }

    &__percent {
      margin-top: 0;
      font-weight: 700;
      font-size: 37px;

      &_type {
        &_mobile {
          display: block;
        }

        &_desktop {
          display: none;
        }
      }
    }
  }
}
