.footer-main-contacts {
  padding-top: 35px;

  &__heading {
    color: #111111;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 70px;
    padding: 0 10px;
  }

  &__item {
    max-width: 440px;
  }

  &__map {
    height: 650px;
    clip-path: polygon(0 0, 50% 40px, 100% 0, 100% 100%, 0 100%);
  }

  &__button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -27px;
  }

  &__button {
    position: absolute;
    z-index: 3;
  }
}
