.modal-variety-description {
  padding: 20px;
  &__heading {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 40px;
  }

  &__table {
    font-size: 18px;
    border-collapse: collapse;

    td {
      padding: 10px;
      border: solid 1px #efefef;
    }
  }

  &__loading {
    height: 50px;
  }

  @media screen and (max-width: 800px) {
    &__heading {
      margin-top: 0;
      margin-bottom: 15px;
      font-weight: bold;
      font-size: 22px;
    }

    &__table {
      font-size: 14px;
      border-collapse: collapse;

      td {
        padding: 5px;
        border: solid 1px #efefef;
      }
    }

    &__loading {
      height: 50px;
    }
  }
}
