@import "./styles/colors";
@import "./styles/visual";

.theme-button {
  border: 0;
  transition: 0.1s ease-in;
  transition-property: transform, color, background-color, box-shadow;

  &_color {
    &_green {
      @extend %green;
    }

    &_red {
      @extend %red;
    }

    &_yellow {
      @extend %yellow;
    }
  }

  @media (hover: hover) {
    &:not(.theme-button_visual_gradient):not(.theme-button_visual_outline):not(.theme-button_visual_dark) {
      &:hover:not([disabled]) {
        @include outline;
      }
    }

    &[disabled] {
      opacity: 0.5;
    }
  }

  &_visual {
    &_gradient {
      @include gradient;
    }

    &_outline {
      @include outline;

      @media (hover: hover) {
        &:hover {
          color: white;
          background: var(--base-color);

          svg {
            color: white;
          }
        }
      }
    }
    &_dark {
      background: var(--second-color);
      &:hover {
        background: var(--base-color);
      }
    }
  }

  &_shadow {
    box-shadow: 0 var(--button-shadow-width, -3px) var(--shadow-color) inset;

    &:hover {
      box-shadow: none;
      transform: translateY(2px);

      //svg {
      //  color: white;
      //}
    }
  }
}
