.tabs-nav {
  &__item {
    color: #000000;
    font-weight: 500;
    text-align: center;
    background: none;
    border: 0;

    &_active {
      color: white;
      background: #9BCB35;
    }
  }

  @media screen and(min-width: 800px) {
    display: flex;
    padding: 7px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px;

    &__item {
      min-height: 80px;
      padding: 10px 35px;
      font-size: 21px;
      line-height: 1;
      border-radius: 5px;
    }
  }


  @media screen and(max-width: 1300px) {
    &__item {
      min-height: 60px;
      padding: 10px 20px;
    }
  }

  @media screen and(max-width: 1100px) {
    justify-content: center;
    border: 0;

    &__item {
      padding: 10px 15px;
      font-size: 18px;
    }
  }

  @media screen and(max-width: 900px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__item {
      flex: 1;
      padding: 0.6em;
      color: #808080;
      font-size: 30px;
      letter-spacing: -0.05em;
      border-radius: 15px;

      &_active {
        color: white;
        font-weight: bold;
      }
    }
  }
  @media screen and(max-width: 600px) {
    &__item {
      font-size: 5vw;
    }
  }
}
